{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <h3>Senovės Armėnija</h3>
    <img src="{% static 'senoves_civil/images/armenija1.jpg' %}">
    <p>Senovės Armėnija – senovinis kultūrinis-istorinis regionas ir civilizacija, egzistavusi Armėnijos kalnyne, teritorijose, kurios šiuo metu apima rytinę Turkiją, 
        šiaurės Iraką, Armėniją. Pastarosios teritorija sudaro tik nedidelę dalį Senovės Armėnijos šiaurės rytų teritorijos. Senasis regiono pavadinimas – Nairi.
        Šiame straipsnyje apžvelgiama istorija iki VII a., kai regionas atiteko arabų Kalifatui. Tolesnė regiono raida susijusi su Kurdistano istorija ir Armėnijos 
        istorija.
        Senovės Armėnijos egzistavimas buvo svarbiausias pagrindas XX a. Armėnijos nacionalistų suformuotai idėjai Didžioji Armėnija.</p>
    <img src="{% static 'senoves_civil/images/armenija2.png' %}">
    <h4>Klestėjimas</h4>
{% endblock %}