{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <h3>Senovės Armėnija</h3>
    <img src="{% static 'senoves_civil/images/armenija1.jpg' %}">
    <p>Senovės Armėnija – senovinis kultūrinis-istorinis regionas ir civilizacija, egzistavusi Armėnijos kalnyne, teritorijose, kurios šiuo metu apima rytinę Turkiją, 
        šiaurės Iraką, Armėniją. Pastarosios teritorija sudaro tik nedidelę dalį Senovės Armėnijos šiaurės rytų teritorijos. Senasis regiono pavadinimas – Nairi.
        Šiame straipsnyje apžvelgiama istorija iki VII a., kai regionas atiteko arabų Kalifatui. Tolesnė regiono raida susijusi su Kurdistano istorija ir Armėnijos 
        istorija.
        Senovės Armėnijos egzistavimas buvo svarbiausias pagrindas XX a. Armėnijos nacionalistų suformuotai idėjai Didžioji Armėnija.</p>
    <img src="{% static 'senoves_civil/images/armenija2.png' %}">
    <h4>Geografija</h4>
    <p>Regiono apibrėžimai varijuoja priklausomai nuo autorių, tačiau regionas dagiausia tapatinamas su geografine sąvoka Armėnijos kalnynas. Šiaurėje regioną 
        ribojo Mažasis Kaukazas, už kurio buvo derlingos lygumos – Kaukazo Albanija ir Kaukazo Iberija, rytinė riba buvo Urmijos ežeras, už kurio driekėsi šiaurės 
        Medija. Pietinė regiono riba buvo Kurdistano kalnai, kurie skyrė nuo šiaurės Mesopotamijos, vakaruose Armėnija perėjo į Mažaja Azija (Kapadokija), o 
        šiaurės vakaruose ją uždarė Ponto kalnai (už jų buvo Pontas).
        Regionas buvo kalnuotas ir pasižymėjo ypač įvairiu reljefu. Jame buvo trys didžiuliai ežerai – Vanas (vakaruose), Sevanas (šiaurėje) ir Urmija (rytuose).
        Tradiciškai regionas buvo dalijamas į dvi dalis: Didžiąją Armėniją, kuri sudarė pagrindinę regiono dalį, ir Mažąją Armėniją – vakarinį pakraštį. Remiantis 
        Armėnijos karalystės administravimo sistema, Didžioji Armėnija buvo skirstoma į 15 smulkesnių istorinių regionų: Airaratas, Siunikas, Taikas, Gugarkas, Arcachas, 
        Moghas, Vaspurakanas, Taronas, Aukštutinė Armėnija, Copkas, Aghdznikas, Kordžajakas, Persarmėnija, Utikas, Paitakaranas (du pastarieji kultūriškai ir etniškai 
        buvo artimesni Kaukazo Albanijai). Dabartinė Armėnijos Respublika pilnai užima tik vieną iš 15 regionų, t. y. Siuniką, taip pat dalį Arcacho ir Airarato.</p>
    <img src="{% static 'senoves_civil/images/armenija3.jpg' %}">
    <h4>Nairi ir Urartija</h4>
    <p>Dėl atšiaurių gyvenimo sąlygų regione palyginus ilgai nesusiformavo aukštesnė civilizacija ir valstybė, tuo tarpu piečiau buvusioje Mesopotamijoje nuo III tūkst. 
        pr. m. e. klestėjo brandžios kultūros. Svarbiausios valstybės, viešpatavusios į pietus nuo regiono, buvo Akadas, Asirija, Mitanija. Pastaroji, XIV a. pr. m. e. 
        buvo įgijusi hegemoniją didelėje regiono dalyje.
        Daugiau žinių apie regioną yra iš II tūkst. pr. m. e., kuomet Asirų šaltiniuose jis buvo žinomas kaip Nairi (KUR.KUR Na-i-ri). Hetitų Mažojoje Azijoje 
        šaltiniai mini rytuose esančią šalį Hajasa-Azi. Nėra vieningai sutariama, kokia lingvistinė grupė tuo metu gyveno regione, bet paplitusi nuomonė, kad nairiai 
        buvo giminingi savo pietiniams kaimynams churitams (Götze 1936), ir tikriausiai regiono vakaruose gyveno proto-armėnai.
        Asirijos karalius Tiglat Pileseras I (1114–1076) nukariavo Nairi ir prijungė ją prie savo imperijos. Savo įraše jis mini 23 nairių valdovus ir jų valstybes. 
        Tai yra: Tumme, Tunube, Tuali, Kindari, Uzula, Unzamuni, Andiabe, Pilakinni, Aturgini, Kulibarzini, Shinibirni, Himua, Paiteri, Uiram, Shururia, Albaia, 
        Ugina, Nazabia, Abarsiuni, Daiaeni. Daugumos šių valstybėlių lokalizacija nėra galutinai nustatyta, nors kai kurių jų žinoma gana tiksliai: pvz., Daiaeni 
        buvo šiauriausia iš jų, o Tumme buvo į pietvakarius nuo Urmijos. Po to, kai Asirijos valdžia regione sumenko, šalį suvienijo pirmoji vietinė karalystė – Urartija. 
        Jų centras (taip vadinama Biainili karalystė) buvo prie Vano ežero, ir VIII–VII a. pr. m. e. urartai sukūrė valstybę, viešpatavusią visame Armėnijos kalnyne. 
        Urartai konkuravo su Asirija pietuose dėl hegemonijos Artimuosiuse rytuose, didžiausios ekspansijos laikais taip pat valdė valstybes už regiono ribų – Milidą, 
        Gurgumą, Samalį ir kt.
        Urartai sukūrė aukštą ir brandžią kultūrą, kuri buvo stipriai įtakota Mesopotamijos civilizacijos: urartų dantiraštis, menas, papročiai buvo didele dalimi 
        perimti iš Asirijos, bet jie išpažino savo dievus, kurių svarbiausias buvo Chaldis.</p>
    <img src="{% static 'senoves_civil/images/armenija4.png' %}">
    <h4>Armėnų įsigalėjimas</h4>
    <p>VII a. pr. m. e. Uratiją nusilpnino klajokliai gimiriai, vėliau ji kovojo su Medijos imperija, kuriai nepavyko jos pajungti. Maždaug tuo metu, t. y. valstybinės 
        krizės laikotarpiu, regioną iš vakarų apgyvendino nauja etninė grupė – indoeuropiečiai proto-armėnai. Nėra vieningai sutariama, ar šis apgyvendinimas buvo 
        staigus, susijęs su invazija, ar lėtas (tokiu atveju jau Urartų karalystės klestėjimo laikais regione turėjo gyventi nemažai armėnų). Visuotinai paplitusi 
        teorija teigia, jog proto-armėnai į Mažąją Aziją atsikėlė apie XII a. pr. m. e. (kaip ir kitos idoeuropiečių grupės, pvz., frygai) ir migravo į rytus, kol 
        pasiekė Armėnijos kalnyną. Vadinamoji Armėnijos hipotezė teigia, jog armėnų konsolidacija vyko pačioje Urartų valstybėje.
        Bet kokiu atveju, jau VI a. pr. m. e. regionas jau buvo žinomas kaip Armėnija: 521 m. pr. m. e. Achemenidų trikalbiame įraše teritorija babiloniečių kalba 
        dar vadinama „Urartu“, o persų kalba ji jau vadinama „Armina“. Patys armėnai regioną vadino Hayastan, pagal mitinį protėvį Haiką.    
        Pirmoji etninių armėnų dinastija regione buvo Orontidai, kurie naujai konsolidavo valstybę, apėmusią didelę dalį Urartų imperijos teritorijų. Žinomas jų 
        karalius Tigranas, kurio valdos VI a. pr. m. e. buvo prijungtos prie Achemenidų imperijos. Taip Armėnija tapo satrapija, su sostine Armavyre, tačiau satrapais 
        tapdavo vietiniai Orontidų palikuonys.
        IV a. pr. m. e. antrojoje pusėje Achemenidų imperijai pralaimėjus Aleksandrui Makedoniečiui, Armėnija tapo jo imperijos dalimi, o po 301 m. pr. m. e. – pavaldi 
        Seleukidų imperijai. Apie 330 m. pr. m. e. vakarinė dalis istorinės Armėnijos atskilo, nes ten įsitvirtino Aleksandro karvedys Mithridatas. Nuo tada šis 
        regionas žinomas kaip Mažoji Armėnija.</p>
    <img src="{% static 'senoves_civil/images/armenija5.jpg' %}">
    <h4>Armėnijos karalystė</h4>
    <p>Seleukidų valdymas Armėnijoje pasižymėjo krašto helenizavimu ir didėjančia autonomija. Čia vis dar valdė Orontidai. 212 m. pr. m. e. Armėnijos valda skilo 
        į dvi teritorijas: rytinę Didžiąją Armėniją ir Sofeną. Antiochas III Didysis (222–187), siekdamas sumažinti vietos valdovų savivaldą, panaikino Orontidų 
        dinastiją ir pasodino čia savo vietininkus: Artašesą (Didžiojoje Armėnijoje) ir Zariadrą (Sofenoje). Labai greitai šie vietininkai atskilo nuo Seleukidų ir 
        įkūrė nepriklausomas Armėnijos ir Sofenos karalystes.Ankstyviausiuoju Artašesidų valdymo metu Armėnija dar labiau skilo: atskilo Korduane, nuo Sofenos 
        atskilo Komagena ir pan. Nepaisant to, Artašesas konsolidavo didžiąją dalį teritorijos ir sulaikė šalį nuo visiško subyrėjimo. Valdant Tigranui Didžiajam 
        (95-55), Artašesidai vykdė ekspansionistinius užkariavimus, kurių metu ne tik vėl sujungė Armėnijos regioną, bet ir užvaldė teritorijas už jo ribų – Kilikiją, 
        Siriją, Iberiją, Atropateną, Albaniją (Paitakaranas, Utikas), šiaurės Mesopotamiją (Adiabena, Osroena). Tuo metu Armėnija plytėjo nuo Viduržemio iki Kaspijos jūros. 
        Didžiuma teritorijų buvo įgytos tuo metu nusilpusios Partų imperijos sąskaita.</p>
    <img src="{% static 'senoves_civil/images/armenija6.gif' %}">
    <h4>Kitų imperijų sudėtyje</h4>
    <p>Armėnijos imperializmas buvo labai efemeriškas, kadangi jau 66 m. pr. m. e. ją nugalėjo Romos imperija, kuri ėmė tvarkytis regione. Pirmiausia, ji atskyrė 
        naujai prijungtas teritorijas ir pavertė jas savo provincijomis. Tigranui paliktos valdyti tik teritorijos buvę jo valdymo pradžioje (t. y. tik Armėnijos regionas), 
        Armėnija pripažinta Romos vasale, palikta valdyti Artašesidų dinastija.
        Nuo I a. Armėnijai buvo lemta tapti pagrindine buferine valstybe tarp Romos ir Persijos imperijos. Pirmaisiais mūsų eros metais pasibaigus Artašesidų dinastijai, 
        šalyje tvyrojo suirutė, kol 54 m. neįsitvirtino persų kilmės Aršakuni dinastija (Aršakidų atšaka). Apie 100 m. į valstybę įsiveržė Partų imperija, o 113 m. ją 
        susigrąžino Roma, įkūrusi trumpalaikę Armėnijos provinciją (114–117). Po Trajano mirties provincija buvo panaikinta, nes šalyje vėl įsigalėjo Partai.
        Taip regionas ėjo iš rankų į rankas iki pat 379 m., kuomet regione galutinai įsitvirtino Sasanidai. Jie pertvarkė Armėnijos regioną naujai, atskeldami nuo 
        Armėnijos karalystės pasienio teritorijas, ir jas padalindami aplinkinėms šalims: Kaukazo Iberija gavo Gugarką, Kaukazo Albanija – Utiką ir Artsachą, pati 
        Persija prisijungė Paitakaraną, Persarmėniją, Aghdzniką, Kordžajaką. Rytų Romos imperijai atiduoti Copkas ir Aukštutinė Armėnija.  
        428 m. Armėnijos likučiai galutinai prijungti prie Sasanidų imperijos ir paversti atskira provincija – (marzpanatu). 
        Šiuo paskutiniuoju senovės Armėnijos laikotarpiu regione stipriau veikė Romos / Bizantijos kultūra. Šalyje buvo įvesta krikščionybė, veikė žymūs kultūros atstovai, 
        kaip kad Mesropas Maštocas, armėnų rašto kūrėjas.
        639 m. Armėniją užkariavo arabai ir prijungė ją prie savo Kalifato. Didelė dalis Senovės Armėnijos regiono buvo islamizuota, etninius armėnus sparčiai keitė kurdai. 
        Nuo II tūkst. didžioji dalis senovės Armėnijos yra žinoma kaip Kurdistanas.</p>
    <img src="{% static 'senoves_civil/images/armenija7.png' %}">
{% endblock %}