{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/cinai1.jpg' %}">
    <p>Čin dinastija – Kinijos dinastija, valdžiusi 221–207 m. pr. m. e., po Džou dinastijos, prieš Hanų dinastiją. Sostinė Sianjangas (pinyin: Xianyang), netoli dabartinio 
        Sianio. Čin pirmą kartą Kinijos istorijoje sukūrė stipriai centralizuotą valstybę, ir nuo šios dinastijos prasideda imperinė Kinijos era.</p>
    <img src="{% static 'senoves_civil/images/cinai2.jpg' %}">
    <h4>Dinastijos pradžia</h4>
    <p>Dinastijos pavadinimas kildinimas iš Čin karalystės, kuri buvo viena iš septynių didžiausių valstybių, kovojusių tarpusavyje Kariaujančių valstybių periodu. 
        253 m. pr. m. e. Čin nukariavo Džou (valstybę, kurios valdovas anksčiau buvo laikomas visos Kinijos valdovu), o 221 m. pr. m. e. Čin valdovas Ing Džengas 
        (pinyin: Ying Zheng) baigė nukariavimus ir pasiskelbė „pirmuoju aukščiausiu imperatoriumi“ – Ši Huangdi (pasisavindamas titulą iš legendinių Kinijos valdovų). 
        Kadangi Ši Huangdi pirmasis pasiskelbė „imperatoriumi“ po suvienijimo 221 m. pr. m. e., būtent šie metai laikomi „Činų dinastijos“ pradžia.</p>
    <img src="{% static 'senoves_civil/images/cinai3.jpg' %}">
    <h4>Santvarka</h4>
    <p>Čin imperijoje buvo įdiegta Čin valstybės legistinė centralizuota biurokratinė valdymo sistema. Centralizacija buvo stiprinama standartizuojant įstatymų 
        kodeksus bei biurokratines procedūras, suvienodinant raštą bei pinigus. Suvienodintas net ratų ašies ilgis. Tiesiami ir taisomi keliai, kad būtų lengviau 
        keliauti po šalį. Įvykdyta žemės reforma: visa teritorija padalinta į 36 valdas, iškeldinėjamos įtakingos šeimos. Šitaip buvo siekiama apsaugoti imperatorių 
        nuo galimų koalicijų. Tuo tikslu taip pat konfiskuoti ginklai, sugriautos sienos, skyrusios anstesnes šešias valstybėles. Įvesta privalomoji metų trukmės karinė 
        tarnyba vyrams nuo septyniolikos iki šešiasdešimties metų.
        Legistiniai metodai buvo žiaurūs: vėlesnės dinastijos ypač kritikavo Čin už Ši Huangdi ministro Li Si inicijuotą apie 400 konfucianistų nužudymą (juos užkasė gyvus) 
        bei knygų deginimą (buvo deginami konfucianistiniai kanonai, išskyrus kai kuriuos, pvz., susijusius su būrimu ar žemdirbyste).
        Čin Ši Huangdi valdymas neretai siejamas su Didžiosios kinų sienos pradžia: jo įsakymu įvairūs šiaurėje anksčiau statyti įtvirtinimai bei sienos sujungti į viena.
        Ming dinastija vėliau šią sieną pavers Didžiąja. Pirmojo imperatoriaus valdymo metais taip pat kasti kanalai, statyti tiltai. Didelius imperatoriaus užmojus 
        atspindi ir jo kapavietė: joje stovi didžiulė terakotinė armija.
        210 m. pr. m. e. Čin Ši Huangdi netikėtai mirė. Antrasis pagal amžių jo sūnus Huhai (胡亥), priverstas ministro Li Si bei eunucho Džao Gao (Zhao Gao; 趙高), s
        uklastojo imperatoriaus testamentą. Vyriausiasis sūnus ir paveldėtojas Fusu turėjo nusižudyti, ir Huhai tapo imperatoriumi. Už jo nugaros stovėjo ir juo 
        manipuliavo Džao Gao.</p>
    <img src="{% static 'senoves_civil/images/cinai4.jpg' %}">
    <h4>Čin dinastijos žlugimas</h4>
    <p>Praėjus trejiems metams po Čin Ši Huangdi mirties, visoje valstybėje kilo valstiečių, kalinių, karių bei buvusių šešių kariaujančių valstybių aristokratijos 
        sukilimai. 207 m. pr. m. e. Džao Gao privertė Huhai nusižudyti ir į sostą pasodino Fusu sūnų Dzi-ing (Ziying). Dzi-ing buvo vadinamas „Čin valdovu“, o nebe 
        imperatoriumi – tai atspindėjo faktą, kad Čin jau nebekontroliavo visos Kinijos. Sumaištis valstybėje tęsėsi: Dzi-ingas nužudė Džao Gao, bet 207 m. pr. m. e. 
        pasidavė vienam iš sukilimų vadų Liu Bangui. Liu Bangas buvo priverstas atiduoti sostinę Sianyangą su visu Dzi-ingu kitam sukilimo vadui. Šis 206 m. pr. m. e. 
        pradžioje nužudė Dzi-ingą ir sudegino rūmus. Tai reiškė visišką Čin dinastijos žlugimą. Galima sakyti, kad pagrindinės žlugimo priežastys buvo legistinės valdymo 
        sistemos žiaurumai bei bandymas ardyti aristokratijos instituciją, ignoruojant tradicijas.
        Nors Čin dinastija valdė trumpai, jos legistinė sistema padarė didelę įtaką vėlesnėms Kinijos dinastijoms. Čin dinastijoje sukurta imperinė sistema tapo pagrindu 
        tolesniam Kinijos imperijos vystymuisi.</p>
    <img src="{% static 'senoves_civil/images/cinai5.jpeg' %}">
{% endblock %}
