{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/dzou1.jpg' %}">
    <p>Džou dinastija – Kinijos dinastija, valdžiusi po Šangų ir prieš Činų dinastiją, maždaug nuo XI amžius pr. m. e. 
        iki 221 m. pr. m. e.
        Laikotarpis dalinamas į du periodus:     
        Vakarų Džou (XI a. – VIII a. pr. m. e.)
        Rytų Džou (771 m. pr. m. e. – 221 m. pr. m. e.)
        Rytų Džou savo ruožtu skirstomas į „Pavasarių ir rudenų“ (722 – 465 m. pr. m. e.) bei „Kariaujančių valstybių“ (465 – 221 m. pr. m. e.) laikotarpius.</p>
    <img src="{% static 'senoves_civil/images/dzou2.jpg' %}">
    <h4>Bendri bruožai</h4>
    <p>Džou dinastiją įkūrė Dzi šeima. Jos sostinė buvo Hao, netoli dabartinio Sianio. Džou daug ką perėmė iš Šangų (Inų) kultūros ir išplėtė ją nemažoje teritorijoje
        į šiaurę nuo Jangdzės upės. 722 m. pr. m. e. sostinė perkelta į Rytus, į Luojangą.
        Džou dinastija valdė ilgiau nei bet kuri kita Kinijos istorijoje. Jos valdymo metu Kinijoje imama susiformuoja „Dangaus mandato“ idėja: valdovas („Dangaus sūnus“) 
        valdo gavęs teisę iš Dangaus, tačiau Dangus gali atsiimti mandatą iš valdovo, kuris pasirodo esąs netinkamas. Šioje koncepcijoje Dangus (Tianas) jau yra aukščiau 
        už Šangų dinastijos aukščiausiąjį protėvį Šangdi.
        Vakaruose ne kartą mėginta Džou politinę sistemą pavadinti „feodaline“, tačiau ji išties buvo kitokia. Ko gero patogiausia jai vartoti kinišką terminą – fengdzianas 
        (pinyin: fengjian). Politinė sistema nebuvo vienoda visu laikotarpiu.
        Džou laikotarpiu imta gaminti iš geležies. Intensyviai plėtojama žemdirbystė.</p>
    <img src="{% static 'senoves_civil/images/dzou3.jpg' %}">
    <h4>Vakarų Džou</h4>
    <p>Tiksli Vakarų Džou pradžios data nežinoma: siūlyti 1122, 1027, kiti metai pr. m. e. Tikriausiai XI a. pr. m. e. buvusi vasalinė Šangų gentis Džou užkariavo Šangų 
        dinastiją. Nukariavimą pradėjo valdovas (pinyin: Wen wang, liet. Venvangas), baigė valdovas (pinyin: Wu wang, liet. Uvangas). Uvangas patikėjo nukariautų teritorijų 
        administravimą nukirsdinto tirono sūnui, tačiau vėliau pastarojo sūnus sukilo, ir teritorijos buvo galutinai pajungtos Džou valdžiai. Uvango brolis, Džou kunigaikštis 
        susiejo Šangų aukščiausiąjį protėvį Šangdi su Džou aukščiausia šventybe – Dangumi. Tai – Dangaus mandato idėjos formavimosi pradžia. Ši idėja ilgai laikė valstybę 
        vieningą, nes atskirų kunigaikštysčių valdovai pripažino sakralią Džou valdovo valdžią ir nedrįsdavo atsiskirti.
        Vakarų Džou laikotarpiui būdinga ekspansija, ypač į Rytus. Nors tradicinėje istoriografijoje Džou vaizduojama kaip centralizuota valstybė, iš tiesų ji buvo ne tokia: 
        žemės buvo padalintos į atskiras valdas, kurias valdė Džou valdovų giminaičiai. Valstybėje itin svarbi buvo šeimos kultų hierarchija, kurios viršuje buvo Džou protėvių 
        garbinimas. Ši hierarchija padėjo išlikti ir politinei subordinacijos sistemai.
        Atskirų valdų valdymo sistema atkartojo centrinės valdžios valdymo sistemą (analogiški valdininkai, jų pareigos). 
        Vakarų Džou susiformavo vėlesnės Kinijos valstybės pagrindai. Jau buvo bendra kalba ir bendri ritualai.
        Šalia Vakarų Džou egzistavo ir kitų kultūrinių centrų, nors tradicinėje istoriografijoje jie ignoruojami. Tai daugiausia buvo šamanistinės kultūros. Ypač svarbi 
        buvo Ču valstybė, kurioje suklestėjo lako bei šilko gamyba. Ten vėliau atsiranda daoizmas.</p>
    <img src="{% static 'senoves_civil/images/dzou4.jpg' %}">
    <h4>Rytų Džou</h4>
    <p>Rytų Džou taip vadinamas todėl, kad sostinė 722 m. pr. m. e. perkelta labiau į rytus, į dabartinį Luojangą. Jau nuo X a. pr. m. e. pastebimos vis didesnės valstybės 
        decentralizavimo tendencijos. Pirmąja tikslia data Kinijos istorijoje yra laikomi 841 m. pr. m. e., kai atskirų valdų vadai kartu nuvertė visos Kinijos valdovą. 
        Prasidėjo „bendro valdymo laikotarpis“ (šalį valdė kunigaikščiai regentai). Po jo atsiradusi praktiškai nauja valstybė buvo daug mažiau centralizuota nei Vakarų Džou. 
        Džou valdovo valdžia tebuvo nominali. Valdančioji giminė turėjo pasikliauti stipresnėmis valstybėlėmis, kad galėtų apsiginti nuo puolimų iš išorės.
        Šiuo laikotarpiu gyveno Konfucijus, Laodzi, Sundzi.</p>
    <img src="{% static 'senoves_civil/images/dzou5.jpg' %}">
    <h4>Pavasarių ir rudenų laikotarpis</h4>
    <p>„Pavasarių ir rudenų laikotarpis“ pavadinimą gavo nuo kronikų, tradiciškai priskiriamų Konfucijui. Šiuo periodu decentralizuotoje Džou valstybėje tarpusavyje 
        varžėsi bei kovojo apie 170 mažų valstybėlių. Centrinė Džou valdovo valdžia buvo nominali, ją labiausiai palaikė Dangaus mandato koncepcija. Kai kurios valstybėlės 
        ilgainiui virto gan stipriais politiniais vienetais. Pačios stipriausios buvo Či, Dzin, Ču, vėliau – Čin, U, Jue, Lu.
        Laikotarpiui būdingi nuolatiniai karai. Jie kildavo tiek tarp atskirų valstybių, tiek jų viduje. Tarpusavyje kovodavo įvairūs klanai, šeimos. Neretai 
        karais būdavo siekiama nubausti kitą valstybę už įžeidimą ar išdavystę, padėti grįžti į sostą teisingam paveldėtojui ir pan. Karas buvo sakralinis įvykis – jo 
        paskirtis buvo atstatyti teisingumą. Su priešu kariaujama tuomet, kai jis tampa nebe dorybingas. Taigi karais šiame laikotarpyje siekiama įgyti moralinį ir politinį, 
        bet ne teritorinį pranašumą. Dėl nuolatinių karų VI-IV a. pr. m. e. suklesti karo strategija.
        Pavasarių ir rudenų laikotarpiu Kinijoje keičiasi aristokratų klasė. Aristokratiškumą ima lemti ne turtas, o kultūra, ritualų išmanymas. Ryškėja nauja intelektualų 
        ši klasė.
        VIII amžiuje pr. m. e. taip pat atsiranda hegemonai. Tai buvo stipresniųjų valstybių valdovai, kurie, pasinaudodami tuo, jog jų apsauga buvo labai reikalinga 
        mažesnėms valstybėms, turėjo faktiškai visišką valdžią savose teritorijose, beveik nekreipdami dėmesio į Džou valdovus. Pavasarių ir rudenų laikotarpiu būta 
        penkių tokių hegemonų.</p>
    <img src="{% static 'senoves_civil/images/dzou6.jpg' %}">
    <h4>Kariaujančių valstybių laikotarpis</h4>
    <p>Nesiliaujant karams, ilgainiui iškilo septynios stipriausios valstybės: Hanas, Vei, Džao (pastarosios trys susidarė iš suskilusios ankstesnės Dzinas valstybės), Janas , 
        Či, Ču ir Čin. Karų pobūdis pasikeitė – dabar jau buvo kariaujama siekiant užgrobti kitą valstybę. Šis periodas vadinamas Kariaujančių valstybių laikotarpiu. 
        Nors šių valstybių valdovai vis dar laikė save Džou dinastijos valdovui pavaldžiais kunigaikščiais, vienas po kito jie ėmė save vadinti tuo pačiu titulu kaip ir 
        Džou valdovas – vangas.
        Kariaujančių valstybių periodu paplinta geležiniai ginklai. Apsisaugoti nuo klajoklių iš šiaurės puolimų imamos statyti sienos – būsimosios Didžiosios sienos 
        pirmtakės. Šiam laikotarpiui taip pat būdingas intelektualinio gyvenimo suklestėjimas, kuriasi filosofinės mokyklos. Svarbiausios iš jų: konfucianizmas, daoizmas, 
        legizmas, moizmas.
        Galiausiai sustiprėjusi Čin valstybė užkariavo kitas ir prasidėjo imperinis Kinijos istorijos laikotarpis.
        Apie Kariaujančių valstybių periodą pasakoja filmai „Imperatorius ir žudikas“, „Bevardis“.</p>
    <img src="{% static 'senoves_civil/images/dzou7.png' %}">    
{% endblock %}