{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/egejas1.jpg' %}">
    <p>Egėjo civilizacija, dar vadinama Kretos-Mikėnų civilizacija, Minojine-Mikėnų civilizacija – senovinė civilizacija, klestėjusi II tūkst. pr. m. e. Balkanų pusiasalio 
        pietuose ir Egėjo jūros salose. Tai – ankstyviausias Graikijos istorijos laikotarpis.</p>
    <img src="{% static 'senoves_civil/images/egejas2.png' %}">
    <h4>Geografija</h4>
    <p>Pietinė Balkanų pusiasalio dalis yra suskirstyta į galybę geografinių vienetų. Susisiekimas tarp jų yra trukdomas stačių kalnų. Uždaras teritorijas sudaro Tesalijos 
        lygumos, Bojotija, Atika, Lakonika. Susisiekimo keliais buvo daugiausia į rytus nukreiptos upių vagos. Smarkiai išraižyta Egėjo jūros pakrantė, salų „tiltai“ iki 
        pat Mažosios Azijos ir Kretos sudarė palankias sąlygas prekybiniams ir kultūriniams mainams su Rytais.</p>
    <img src="{% static 'senoves_civil/images/egejas3.png' %}">
    <h4>Priešistorė</h4>
    <p>Pietų Graikijos akmens amžiaus gyvenseną atspindi įspūdingi archeologinių kasinėjimų Franchthi oloje duomenys [1], kurių metu buvo aptikta daug įvairių radinių, o 
        netrukus sudaryta ir 24 gyvūnų bei žmonių figūrėlių kolekcija – antroji pagal didumą po Korinto kolekcijos. Dvi iš figūrėlių priskirtos Ankstyvajam neolitui, 11 – 
        Viduriniajam neolitui, 6 – Vėlyvajam Neolitui ir 4 – Finaliniam neolitui. 7-ame tūkstantmetyje pr. m. e. Graikijos teritorijoje gyveno ne tik piemenys ir žemdirbiai 
        auginę vynuoges ir alyvas, bet ir jūreiviai-žvejai, plaukioję apie 100 km į salas obsidiano įrankiams pargabenti.
        Pirmieji Graikijos gyventojai kartais vadinami pelasgais. Į Balkanų regioną iš šiaurės atsikėlus indoeuropiečiams (tarp jų – achajai) 3-2 tūkstantmetyje pr. m. e. 
        Graikijoje susidarė sudėtingesnė ir labiau hierarchiška visuomenės struktūra. Paplinta metalo naudojimas, išrandamos naujos žemdirbystės ir navigacijos technologijos. 
        Indoeuropiečiams priskiriami žmonės atvyko su savo kalba ir papročiu įtvirtinti gyvenvietes.</p>
    <img src="{% static 'senoves_civil/images/egejas4.jpg' %}">
    <h4>Mino civilizacija</h4>
    <p>Mino civilizacija – priešheleninė bronzos amžiaus civilizacija Kretoje ir Egėjo jūroje, klestėjusi maždaug 2700-1450 m. pr. m. e. Vėliau jų kultūrą nustelbė Mikėnų 
        kultūra, užpuolusi minojiečius. Sprendžiant iš Mino dailės, Mino kultūrai būdinga matriarchatinė visuomenė ir deivės garbinimas.
        Terminą „Minas“ sukūrė britų archeologas seras Arturas Evansas, remdamasis mitiniu karaliumi Minu, siejamu su labirintu, kuris, kaip nustatė Evansas, yra ne kas 
        kitas kaip Knosas. Įmanoma, nors neįrodyta, kad Minas iš tikrųjų buvo minojiečių valdovo titulas. 
        Kreta buvo jūrinio susisiekimo tarp Egipto, Mažosios Azijos ir Graikijos centre. Greičiausia dėl to labiausiai apgyvendintos buvo rytinė ir centrinė salos dalis.</p>
    <img src="{% static 'senoves_civil/images/egejas5.jpg' %}">
    <h4>Mikėnų kultūra</h4>
    <p>Mikėnų kultūra yra Vėlyvoji graikų bronzos amžiaus kultūra. Ji truko nuo graikų atvykimo prie Egėjo jūros 1600 m. pr. m. e. iki civilizacijos žlugimo 1100 m. pr. m. e. 
        Mikėnų kultūra yra fonas Homero epams ir graikų mitologijai. Kultūros pavadinimas kilo nuo Mikėnų archeologinės vietos šiaurės rytų Agrolyje, Peloponese, Pietų 
        Graikijoje. Atėnai, Pylas, Tėbai ir Tirintas buvo kiti svarbūs laikotarpio miestai.
        Visuomenę valdė karių aristokratija. Apie 1400 m. pr. m. e. mikėniečiai užvaldė Kretą, Mino kultūros centrą, ir iš jos perėmė raštą vadinamą Linijiniu A raštu. 
        Vėliau jie sukūrė Linijinį B raštą. 
        Apie 1100 m. pr. m. e. civilizacija žlugo, daugelis miestų buvo nusiaubti ir prasidėjo Tamsieji amžiai. Tuo metu Graikijoje sumažėjo gyventojų ir išnyko raštingumas. 
        Graikai šį nuosmukį priskyrė dorėnų invazijai, nors tam yra mažai įrodymų.</p>
    <img src="{% static 'senoves_civil/images/egejas6.jpg' %}">
{% endblock %}
