{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/egiptas1.jpg' %}">
    <p>Senovės Egiptas – valstybė, egzistavusi dabartinio Egipto teritorijoje (Nilo upės slėnyje) iki islamo įsigalėjimo VII–VIII a. Ji siejama su savita senovės 
        civilizacija, klestėjusia šioje teritorijoje nuo III tūkst. pr. m. e.
        Egiptas savo galios klestėjimo amžių pasiekė Naujosios karalystės laikotarpiu, kuomet valdė didžiąją Nubijos dalį bei didelę Artimųjų Rytų teritorijos dalį. 
        Po to Egiptas iš lėto silpo. Savo egzistavimo laikotarpiu Egiptas buvo užpultas ir užkariautas didelio skaičiaus užsienio jėgų, tarp jų hiksų, libių, asirų, 
        achmenidų persų, makedonų, valdant Aleksandrui Makedoniečiui. Iki 30 m. pr. m. e. Egiptą valdė graikiška Ptolemėjų karalystė, kol Kleopatrai valdant šalis 
        patyrė nuosmukį ir tapo Romos imperijos provincija.</p>
    <img src="{% static 'senoves_civil/images/egiptas2.png' %}">
    <h4>Geografija ir pavadinimai</h4>
    <p>Nilo slėnis sudaro natūralų geografinį regioną, iš rytų bei vakarų supamą dykumų, šiaurėje atsiremiantį į Viduržemio jūrą, o pietuose siekiantį pirmąjį Nilo 
        slenkstį. Čia nuo pat senovės buvo ypač didelė gyventojų koncentracija, nulemta labai derlingos žemės, kurią užtikrino periodiškai, t. y. kasmet atsinaujinantys 
        Nilo potvyniai, patręšiantys slėnį derlingu dumblu. Poreikis turėti vieningą valdžią, galinčią užsiimti Nilo vandens reguliavimu ir paskirstymu lėmė tai, 
        kad jau 3000 m. pr. m. e. Egipte susikūrė vieninga valstybė. Dėl specifinės geografinės padėties faraonų Egiptas ilgą laiką išliko nepriklausoma valstybe ir 
        savarankiška civilizacija.
        Egiptas geografiškai buvo sudarytas iš dviejų gana skirtingų dalių. Šiaurinė, arba Žemutinis Egiptas pasižymėjo labai drėgnu klimatu, buvo pelkėta vietovė, 
        vagojama daugybės smulkių upių ir kanalų. Pietinė dalis, arba Aukštutinis Egiptas sudarė siaurą ir ilgą juostą išsidėsčiusią šiaurės-pietų ašimi, ir koncentravosi 
        ties pagrindine Nilo vaga. Aukštutinio Egipto šiaurinėje atkarpoje (kuri dar vadinama Viduriniu Egiptu) paraleliai Nilui ėjo Bahr Jusufo kanalas, jungiantis jį su 
        Fajumo oaze.
        Savo šalį egiptiečiai vadino keliais alternatyviais pavadinimais. Dažniausiai tarp jų paplitęs buvo Ta-Kemet, reiškiantis „juodoji žemė“, kuriuo buvo pabrėžiamas 
        juodos (derlingos) žemės priešprieša raudonai (dykumos) žemei. Toks pavadinimas tikriausiai atsirado dėl to, kad potvynių metu ant krantų nusėdęs dumblas buvo 
        tamsios spalvos. Su tuo buvo susijęs kitas Egipto sinonimas – Ta-Meri („dirbama žemė“). Egiptiečiai savo šalį taip pat vadino „dievų šalimi“ (Ta-Nečeru). Dar vienas 
        paplitęs pavadinimas buvo tiesiog – Tavi (tAwy), kuris reiškė „abi žemės“, turint omenyje Aukštutinį ir Žemutinį Egiptą kartu.
        Graikiškas terminas Aigyptos (gr. Αἴγυπτος), iš kurio kilęs ir dabartinis Egipto pavadinimas daugumoje Vakarų kalbų, kildinamas iš senosios sostinės Memfio 
        pavadinimo: vienas šio miesto vardų egiptietiškai buvo (egip. ḥwt-kA-ptḥ, mokslinė transkripcija: Hut ka Ptah, liet. „Ptaho sielos rūmai“). Asirai šiaurinį 
        (Žemutinį) Egiptą žinojo kaip Muṣur, iš kurio kilo dabartinis Egipto pavadinimas (Misr) daugumoje musulmoniškų valstybių.
        Egiptiečių tradicinėje geografijoje Egiptas sudarė pasaulio centrą, vieną iš keturių pasaulio dalių, aplink kurį buvo išsidėstę trys kitos, „barbariškos“, žemės: 
        Nubija pietuose, Libija vakaruose ir Sirija (Azija) šiaurės rytuose. Egiptiečiai, nubai, libiai ir „Azijiečiai“ atstovavo keturias pasaulio tautas.</p>
    <img src="{% static 'senoves_civil/images/egiptas3.png' %}">
    <h4>Istorija</h4>
    <p>Tradiciškai pagal Manetono periodizaciją, Senovės Egipto istorija skirstoma į periodus (priešdinastinis, senoji karalystė, vidurinioji karalystė, naujoji karalystė 
        ir vėlyvasis laikotarpis), kurie savo ruožtu skirstomi į dinastijas. Nors remiantis naujausiais archeologiniais tyrinėjimais galima teigti, kad ši periodizacija yra 
        supaprastinta, tačiau ji tebėra plačiausiai naudojama.
        Pradžią Egipto civilizacijai davė Nilo upė. XX a. pabaigoje archeologai aptiko įrodymų, kad pietvakariniame Egipto krašte, netoli sienos su Sudanu žmonės gyveno 
        8000 m. pr. m. e. Archeologijos mokslo duomenimis, dabartiniame Egipte žmonės Sacharos dykumos oazėse gyveno dar prieš 12 000 metų. Į Nilo slėnį pirmieji žmonės 
        pradėjo keltis VI tūkstantmetyje pr. m. e. Pirmoji Nilo kultūra susiklostė prieš 7000 metų.</p>
    <img src="{% static 'senoves_civil/images/egiptas4.jpg' %}">
    <h4>Priešdinastinis laikotarpis (~3200 – ~3050 m. pr. m. e.)</h4>
    <p>Apie šį laikotarpį turima mažiausiai žinių. Jam būdingas IV tūkstantmetyje pr. m. e. jau aptinkamos žemdirbių kultūros. Prie pirmųjų miestų ėmus šlietis 
        aplinkinėms gyvenvietėms, atsirado primityvių valstybinių junginių, graikiškai vadinamų 'nomais'.
        Apie 3500 m. pr. m. e., prie Nilo susidarė 2 valstybiniai junginiai: Aukštutinis (į pietus nuo Nilo deltos) ir Žemutinis (Nilo deltoje) Egiptas. Žemutinio 
        (pietinio) Egipto centras buvo Bechdedas, kur buvo garbinamas dievas Horas, Aukštutinio (šiaurinio) Egipto centras buvo Ombosas, kurios dievas buvo Setas.
        Išliko legenda, kad Aukštutinis Egiptas valdant karaliui Meniui (apie 3050–3000 m. pr. m. e.) užkariavo Žemutinį Egiptą. III a. pr. m. e. Egipto žynio Manetono 
        tvirtinimu, Menis sukūrė dviejų valstybių sąjungą ir tapo pirmuoju Aukštutinio ir Žemutinio Egipto valdovu. Po suvienijimo Egiptas laikytas dviejų karalysčių 
        sąjunga, o naujo valdovo karūnavimas simboliškai sujungdavo šias valstybės dalis. Iki pirmosios dinastijos pabaigos 2890 m. pr. m. e. Egipto valstybė sustiprėja, 
        provincijas valdo karaliaus paskirti valdininkai, Egipto įtaka siekia Numidiją. Sostinė, buvusi Hierakonpolyje, perkeliama į Memfį (Men Nefer – „Harmoningas grožis“). 
        Valdo I ir II dinastijos.</p>
    <img src="{% static 'senoves_civil/images/egiptas5.jpg' %}">
    <h4>Senoji karalystė ir pirmoji suirutė</h4>
    <p>Senoji karalystė (apie 2700–2181 m. pr. m. e.) prasideda su trečiąja dinastija 2686 m. pr. m. e. Senosios karalystės įkūrėju laikomas karalius Džoseras. Būdinga stipri 
        centralizuota karaliaus valdžia, sukuriamas sudėtingas biurokratinis aparatas.
        Penkis amžius trukusiam Senosios karalystės laikotarpiui būdingas tipiškiausias egiptiečių menas, religija ir kultūra. Nuo trečiosios dinastijos stiprėja Saulės, kaip 
        pasaulio dievo, supratimas, pamažu išstumiantis senesnius tikėjimus, kad žemiškasis dievas yra karalius. Dėl to karaliai rėmėsi tuo, kad ir po savo mirties jie išlaiko 
        veiksmingą galią. Veiksmingiausias šio įtikinimo pavyzdys yra piramidės, kurios buvo pradėtos statyti senosios karalystės laikotarpiu.
        2180–2025 m. pr. m. e. – pirmasis suirutės laikotarpis. Susilpnėjo centrinė valdžia, apleista irigacinė sistema, sunyksta menai, ėmė keistis religinė sistema. Manoma, 
        kad senoji karalystė žlugo dėl 200–150 metų Artimuosiuose Rytuose trukusios sausros. Valdo VII–X (XI) dinastijos.</p>
    <img src="{% static 'senoves_civil/images/egiptas6.jpg' %}">
    <h4>Vidurinioji karalystė ir antroji suirutė</h4>
    <p>Viduriniosios karalystės laikotarpis (2025–1750 m. pr. m. e.) prasideda XI dinastijos valdovo Mentuchotepo I valdymu (tuo dar abejojama, nes XI dinastiją dalis 
        egiptologų priskiria Pereinamajam laikotarpiui), kuris vėl atkuria centralizuotą Egipto valstybę. Sostinė iš Memfio perkeliama į Tėbus. Į Egipto įtaką patenka 
        Palestina, Sirija, Finikija, Trakija, Nubija, dalis Priešakinės Azijos dalis, pietuose Egipto teritorija išsiplėtė iki antrojo Nilo slenksčio. Didėja turtinės 
        nelygybės diferenciacija – susikuria socialiniai sluoksniai: šalia diduomenės iškyla žemdirbiai, amatininkai; gausėja nusigyvenusių žemdirbių, vergų 
        (vergovės šaltinis – karai). Viduriniosios karalystės laikais valdė XI (XII) – XIII (XIV) dinastijos.
        II krizė arba II suirutės laikotarpis (1750–1570 m. pr. m. e.). Apie 1700 m. pr. m. e. į Egiptą įsiveržė klajoklių semitų-hiksų gentys, kurios valdė 150 metų. 
        Apie 1700-1650 m. pr. m. e. į Egiptą atsikrausto žydai, artimi hiksų giminaičiai, ir valdo Egiptą kartu su jais. Valdo XIV (XV)-XVII dinastijos.</p>
    <img src="{% static 'senoves_civil/images/egiptas7.jpg' %}">
    <h4>Naujoji karalystė</h4>
    <p>Naujoji karalystė (1580–1080 m. pr. m. e.) prasidėjo Aukštutinio Egipto karaliaus Amozio I (Ahmos – „Mėnulis gimė“), iš XVIII dinastijos, pergale prieš hiksus, 
        jų sostinės Avario miesto sunaikinimu ir užkariautojų išvijimu į Sinajaus pusiasalio dykumą per Sueco sąsmauką bei žydų pavertimu vergais. XVIII dinastijos 
        žymiausias vadovas – Tutmozis III, karvedys, 17-os žygių metu užkariavęs 350 miestų, Artimuosius Rytus nuo Nubijos iki Eufrato upės. 1457 m. pr. m. e. prie 
        Kadešo (dab. Sirija) sumušė kanaanitų koaliciją.
        Šios dinastijos valdymo metu, karalius Amenhotepas IV (1353-1336 m. pr. m. e.) įvykdė religinę reformą, panaikindamas senuosius dievus ir įvesdamas vieno dievo 
        Atono (Saulės disko) kultą. Jo įkurta naujoji sostinė Achetatonas („Atono horizontas“) vėliau buvo sugriauta.
        Pats garsiausias Naujosios karalystės valdovas – Ramzis II Didysis, karvedys, politikas ir diplomatas. 1258 m. pr. m. e. jis sudarė pirmąją pasaulyje žinomą taikos 
        sutartį su hetitų valstybės valdovu Hatušiliu III. Tai pirmas kartas istorijoje, kada karas vyko ne iki kurios nors pusės galutinės pergalės, o baigėsi taikos derybomis. 
        Egiptologai įrodė, kad Ramzio II laikais Egiptas pasiekė didžiausios savo šlovės apogėjų.</p>
    <img src="{% static 'senoves_civil/images/egiptas8.jpg' %}">
    <h4>Trečioji suirutė ir Vėlyvasis laikotarpis</h4>
    <p>Apie 1185 m. pr. m. e. prasideda III pereinamasis laikotarpis. Valdant XXII dinastijos (iš Libijos) karaliams, oficialiai priimamas titulas „Per Aa“ – „Didelis namas“ 
        (gr. – Pharao), kuris tampa Egipto karalių titulu. Laikotarpis baigiasi visiška suirute valstybėje. Valdo XXI–XXIV dinastijos (1185-747 arba 715 m. pr. m. e.).
        Nuo 747 arba 715 m. pr. m. e. iki 656 m. pr. m. e. valdo XXV dinastija.
        664 m. pr. m. e. į Egiptą įsiveržia asirai ir jį užkariauja. Taip baigiasi nepriklausomo Egipto istorija. Vėliau įsiveržia babiloniečiai. Iki 525 m. pr. m. e. 
        valdo XXVI dinastija. 525 m. pr. m. e. persai užima Egiptą ir valdo iki 332 m. pr. m. e. Tai – XXVII–XXX dinastijos.
        332 m. pr. m. e. Egiptą užkariauja Makedonijos karalius Aleksandras Didysis, kuris įkuria XXXI dinastiją. Prasideda helenizmo epocha. Nuo 304 m. pr. m. e. 
        Egiptą ima valdyti Aleksandro suvestinio brolio Ptolemėjaus įkurta Ptolemėjų dinastija (iki 30 m. pr. m. e.).
        Galutinis Egipto žlugimas siejamas su faraonės Kleopatros VII vardu, kuri pradėjo dinastinius karus su savo broliais-vyrais (Ptolemėjai XIII ir XIV) ir pasikvietė į 
        pagalbą Romos armiją. Kleopatros ir jos meilužio Gajaus Julijaus Cezario nurodymu 47 m. pr. m. e. buvo padegta garsioji Aleksandrijos biblioteka (sudegė 500 000 senovinių 
        raštų). Kleopatra nusižudė 30 m. pr. m. e. Egipto sosto paveldėtoją – Kleopatros ir Gajaus Julijaus Cezario 17-metį sūnų Cezarioną tais pačiais metais nužudė būsimasis 
        Romos imperatorius Augustas. Valdo XXXI–XXXII dinastijos. Egiptas atsiduria Romos valdžioje. Romėnai valdė Egiptą nuo 30 m. pr. m. e. iki 638 m.</p>
    <img src="{% static 'senoves_civil/images/egiptas9.jpg' %}">
    <h4>Visuomenė ir ekonomika</h4>
    <p>Valdžia faraonų rankose, bet šalį valdo pareigūnai, kuriems vadovauja du viziriai. Šalis suskirstyta į provincijas – nomus (gr.-apygarda), valdomas nomarchų. 
        Egipto visuomenė buvo skirstoma į šias klases:
        Privilegijuotieji: karalius-faraonas (gyvasis dievas), viziriai, žyniai, kilmingieji, kariai, valdininkai, raštininkai.
        Neprivilegijuotieji: gydytojai, amatininkai, pirkliai, žemdirbiai. Neturintys jokių teisių: vergai. Tačiau nepriklausomai nuo to, kad buvo laikomasi gan engėjiško 
        požiūrio į žemesnio rango žmones, egiptiečiai gana rimtai žiūrėjo į etikos normas. Raštuose randama daug informacijos apie būtinąją šeimos, miestelio visuomenės etiką, 
        etišką tarpusavio elgesį. Tiesa šių normų reikalauta laikytis tik savo luomo ribose.
        Egipte Buvo sukurta irigacinė sistema. Gyventojai gamino papuošalus, baldus, mokėjo mūryti, lydyti auksą, varį, alavą, bronzą, statė piramides (seniausia yra Džoserio 
        piramidė) ir mastabas (arab. „stalas“, laidojimo pastatus-kapus), audė, naudojo arklių traukiamus kovos vežimus, augino rugius, kviečius, avižas, kepė duoną 
        (be mielių ir su mielėmis), gamino 6 rūšių alų ir 5 rūšių vyną.</p>
    <img src="{% static 'senoves_civil/images/egiptas10.jpg' %}"> 
    <h4>Kasdienis gyvenimas</h4> 
    <p>Dauguma senovės Egipto gyventojų buvo žemdirbiai. Jų būstuose gyvendavo tik artimiausi šeimos nariai, o patys pastatai būdavo statomi iš purvo plytų. Šios plytos 
        išlikdavo vėsios ir dienos metu. Kiekvienas namas turėdavo po bestogę virtuvėlę, kurioje būdavo įrengta nedidelė krosnis duonai kepti bei girnos grūdams malti. 
        Sienos būdavo nudažomos baltai arba apdengiamos spalvotais lininiais sienų apmušalais, o grindys apklojamos nendriniais kilimėliais. Medinės taburetės, nuo žemės 
        pakilusios lovos bei įvairūs stalai – dažniausi tokių būstų baldai.
        Senovės Egiptiečiai labai vertino išvaizdą ir bendrąją higieną. Dauguma maudydavosi Nile ir naudodavo tešlinį muilą pagamintą iš gyvulinių riebalų bei kreidos. 
        Vyrai nusiskusdavo visą kūną plikai; kvepalai ir aromatingieji tepalai būdavo naudojami norint sušvelninti odą bei paslėpti nemalonius kvapus. Senovės 
        Egiptiečiai rūbus gamindavosi iš baltai dažytų lininių drobių; aukštuomenės nariai nešiodavo perukus, papuošalus bei naudodavo kosmetines priemones. Vaikai iki 
        ~12-kos metų nebūdavo rengiami – jie vaikščiodavo nuogi. Pasiekus šį amžių berniukams būdavo plikai nuskutamos galvos, o jie patys – apipjaustomi. Motinos 
        rūpindavosi vaikais, o tėvai išlaikydavo pačią šeimą.
        Populiariausios pramogos – muzika bei šokiai. Tarp ankstyvųjų muzikinių instrumentų – fleitos ir arfos; kiek vėliau buvo išvystyti bei išpopuliarėjo instrumentai 
        panašūs į trimitus, obojus bei dūdas. Naujosios Karalystės laikotarpiu būdavo grojama varpais, cimbolais, tambūrinais, būgnais bei iš Azijos atvežtomis liutniomis 
        ir lyromis. Sistras – į barškutį panašus muzikos instrumentas – būdavo ypač svarbus religinių apeigų metu.
        Senovės Egiptiečiai mėgaudavosi gausa laisvalaikio pramogų, įskaitant žaidimus bei muziką. Senetas – stalo žaidimas, kur figūros būdavo judinamos priklausomai 
        nuo atsitiktinio šanso, buvo ypač populiarus; panašus žaidimas į senetą buvo mehenas, kuriam būdavo naudojama apskrita žaidimo lenta. Žongliravimą bei žaidimus su 
        kamuoliais ypač mėgdavo vaikai; imtynės taipogi minimos vienam iš Bani Hasano kapų. Turtingieji visuomenės nariai leisdavosi į medžiokles bei pasiplaukiojimus 
        valtimis.
        Kasinėjimai Deir el-Medinos darbininkų kaime leido tyrinėtojams sudaryti vieną detaliausių senovės pasaulio bendruomeninio gyvenimo aprašų. Nėra kitos tokios 
        kasimvietės, kurios bendruomeninis gyvenimas būtų taip detaliai ištirtas kaip Deir el-Medinos.</p>
    <img src="{% static 'senoves_civil/images/egiptas11.jpg' %}"> 
    <h4>Religija</h4> 
    <p>Politeistinė (apie 2000 dievų). Kiekviename iš nomų (41, kita versija – 42) buvo po 9 svarbiausius dievus, kurių trejetas sudarė dominuojančią šventąją trejybę. 
        Tikėta pomirtiniu gyvenimu, todėl stengtasi kūną apsaugoti nuo irimo jį balzamuojant aliejais ir druska. Mumijos laidotos su amuletais ir Mirusiųjų knyga. 
        Ši knyga buvo rašoma ant papiruso ritinėlių, joje daug užkeikimų, himnų dievams. Kiekviena gyvenvietė turėjo savo dievą. Kiekvienas dievas buvo atsakingas už 
        tam tikrą gyvenimo sritį. Dievai buvo vaizduojami zoomorfinio pavidalo t. y. vaizduojami su žmogaus galva ir gyvūno kūnu ir atvirkščiai.
        Aukščiausias dievas – saulės dievas Amonas Ra. Kiti dievai: Ozyris (eg. – User) (mirusiųjų valdovas, pirmasis žmonijos karalius), Izidė (eg. – Aset) (gyvybės, 
        vaisingumo, motinystės ir sveikatos deivė), Horas (dangaus, tvarkos, medžioklės dievas), Setas (karo, tamsos, dykumos, šalčio ir chaoso dievas), Hator (dangaus, 
        linksmybių menų ir meilės deivė) ir kiti. Egiptiečiai garbino ir gyvūnus, siedami juos su tam tikrais dievais: jautį Apį (dievo tvėrėjo Pta įsikūnijimas), 
        krokodilus, kates, gyvates, gandrus.</p>
    <img src="{% static 'senoves_civil/images/egiptas12.jpg' %}"> 
    <h4>Menas</h4> 
    <p>Senovės Egipto menas stengėsi atspindėti amžinumą ir nekintamumą. Viskas buvo statoma amžiams, todėl vyravo didingas formos monumentalumas, tvirtumas, 
        (piramidės, Labirintas, Karnako šventyklų kompleksas, Luksoro šventykla, Sfinksas). Pagrindiniai Egipto meno stiliaus bruožai: statiškumas, griežtas ir 
        ryškus konstruktyvizmas, kanonizmas (tam tikrų normų ir taisyklių paisymas), geometrinis taisyklingumas, atidus natūros stebėjimas. Sėdinčios figūros būtinai 
        turėjo būti sudėjusios rankas ant kelių, vyrai vaizduojami tamsesne nei moterų oda. Piramidės buvo statomos ne tik Senosios karalystės laikais (ne tokios gigantiškos), 
        dabar yra rasta virš 100 piramidžių. Viduriniosios ir Naujosios karalystės laikotarpiu buvo statomi hipogėjai ir šventyklos.
        Naujosios ir viduriniosios karalystės laikotarpiu paplito grožinė literatūra, kelionių aprašymai, himnai karaliaus garbei.</p>  
    <img src="{% static 'senoves_civil/images/egiptas13.jpg' %}">
    <h4>Mokslas</h4> 
    <p>Sudarė kalendorių, sukūrė raštą, pirmieji pavartojo pagrindinius keturis matematikos veiksmus, skaičiavo trupmenomis. Buvo geometrijos pradininkai 
        (plotų ir kampų matavimas) – piramidės orientuotos pasaulio šalių ir žvaigždžių (žvaigždynų) atžvilgiu. Išmanė astronomiją: stebėjo dangaus kūnų pokyčius, 
        skyrė planetas nuo žvaigždžių, žvaigždes jungė į žvaigždynus. Gerai išmanė mediciną, jau buvo okulistų ir terapeutų, turėjo ligų vadovėlius. Nustatė širdies 
        reikšmę kraujo apytakos sistemoje. Mokėjo balzamuoti (paraschitai) numirėlius.</p>
    <img src="{% static 'senoves_civil/images/egiptas14.jpg' %}">
    <h4>Raštas</h4> 
    <p>Atsirado IV tūkstantmečio pr. m. e. Egiptiečiai rašydavo papiruse arba užrašus kaldavo ant akmens. Rašto rūšys: hieroglifinis, hieratinis, demotinis. 
        Hieroglifinis: buvo piešiami ženklai, realistiškai vaizduojantys gyvas būtybes, daiktus, procesus. Tokia rašto sistema buvo gana sudėtinga, tad po kiek laiko 
        ženklai buvo supaprastinti, palikti tik būtiniausi vaizduojamų daiktų kontūrai. Šį – hieratinį – raštą vartojo Egipto žyniai. Paskutinioji egiptiečių rašmenų 
        fazė – demotinis raštas – kursyvas, suredukuotas į brūkšnelius, lankelius ir ratukus, lengvai parašomas. Jame sunku atpažinti pirmykščius simbolius.
        Egiptiečių rašto plėtotę skatino specialios rašomosios medžiagos – papiruso – išradimas.</p>  
    <img src="{% static 'senoves_civil/images/egiptas15.jpg' %}">
    <h4>Svarbiausi mokslo laimėjimai</h4>
    <p>Raštas – hieroglifai. Atsirado apie 4000 m. pr. m. e. Pirmieji pasaulyje sukūrė hieroglifinį, hieratinį (šventasis) ir demotinį (liaudies) raštą.
        Matematika.
        Mokėjo atlikti keturis aritmetikos veiksmus, skaičiavo trupmenomis.
        Geometrija.
        Naudojo apytikslę π reikšmę (4×(8/9)² arba 3,160493…) apskritimo plotui skaičiuoti. Mokėjo išmatuoti žemės sklypą, statyti geometriškai labai tikslias piramides.
        Astronomija. Stebėjo dangaus kūnų pokyčius. Puikiai žinojo daugelį dabartiniam mokslui žinomų žvaigždynų, planetų, mokėjo apskaičiuoti jų koordinates. Astronomijos 
        pagrindu buvo sukurta senoji religija, žemdirbystė, medicina.
        Medicina. Jau buvo okulistų, chirurgų (atliko kaukolės trepanacijas, lūžusių galūnių atstatymo operacijas), gydymo vaistažolėmis specialistų (impotencijos, 
        apsinuodijimų, virškinimo sutrikimų, karščiavimo gydymas melsvuoju lotosu ir kt. žolėmis), ir terapeutų. Turėjo ligų vadovėlius.
        Pirmieji pasaulyje sudarė kalendorių (paklaida 6 val.)
        Steigė mokyklas (vaikai mokėsi 12 metų).</p>
    <img src="{% static 'senoves_civil/images/egiptas16.jpg' %}">
    <h4>Garsiausi faraonai</h4>
    <p>Menas – karalius, suvienijęs Egiptą IV tūkst. pr. m. e. pab.
        Džoseris – karalius, pastatęs pirmąją piramidę. III tūkst. pr. m. e.
        Cheopsas – karalius, pastatęs aukščiausią piramidę (147 m.) III tūkst. pr. m. e. vid.
        Hačepsuta – valdovė moteris, patarėjų pagalba valdžiusi labai sėkmingai, II tūkst. pr. m. e.
        Tutmozis III – faraonas, kuris užkariavo visą Siriją ir praplėtė Egipto žemes. Jo gyvenamuoju laikotarpiu Egiptas buvo viena didžiausių valstybių. II tūkst. pr. m. e.
        Echnatonas – karalius, vykdęs religinę reformą ir bandęs įvesti monoteistinę religiją Egipte. II tūkst. pr. m. e.
        Nefertitė – karalienė, Echnatono žmona ir sesuo, archeologų tituluojama viena gražiausių Egipto moterų. II tūkst. pr. m. e.
        Tutanchamonas – faraonas, garsus 1922 m. atrastu beveik pilnai išlikusiu kapu Karalių slėnyje. II tūkst. pr. m. e.
        Ramzis II – karalius, žinomas savo aktyviais užkariavimais, išplėtęs Naujojo Egipto karalystę ir pasirašęs pirmąją istorijoje žinomą taikos sutartį su hetitais II tūkst. pr. m. e.
        Kleopatra – paskutinioji Egipto faraonė, po kurios nusižudymo Egiptas atiteko Romai.</p>
    <img src="{% static 'senoves_civil/images/egiptas17.jpg' %}">
{% endblock %}
