{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/elamas1.jpg' %}">
    <p>Elamas – į rytus nuo Tigro išsidėsčiusi senovės šalis. Tai viena iš seniausių rašytiniuose šaltiniuose minimų civilizacijų, kuri egzistavo nuo III tūkst. pr. m. e. 
        pradžios iki Achemenidų imperijos užkariavimo 539 m. pr. m. e. Elamas laikomas pirmąja Senovės Irano civilizacija. Elamo branduolys buvo šių dienų Irano vakariniuose ir 
        pietvakariniuose pakraščiuose (Ilamo provincija ir Kuzestano žemumos) bei kai kuriose Irako pietinėse srityse, tačiau Elamo civilizacija apėmė ir dalį Zagroso kalnyno.
        Elamo pagrindinė tauta vadinama elamitais, kurių naudota elamitų kalba negimininga jokiai Irano kalbai. Tiesa, buvo iškelta hipotezė, kad ji galėtų būti didesnės 
        elamitų-dravidų kalbų grupės dalis.</p>
    <img src="{% static 'senoves_civil/images/elamas2.jpg' %}">
    <h4>Etimologija</h4>
    <p>Seniausias aptinkamas Elamo pavadinimas yra šumeriškas, ir jam užrašyti buvo naudojamas ženklas NIM (NIM.MAKI), reiškiantis „pakeltas, paaukštintas“ 
        (taip pabrėžiant tai, kad Elamas buvo kalnuose, t. y. aukščiau nei Šumeras). Patys elamitai savo šalį vadino Haltamti (vėliau – Atamti), iš šio kilo akadiškas 
        terminas KURElammatum. Iš pastarojo kilo visi kiti Elamo pavadinimai. Haltamti vadinama Elam Senajame Testamente, o elamitai – Elamo palikuonys, vyriausiojo 
        Nojaus sūnaus Semo sūnūs. Graikiškai šalis buvo vadinama Aylam, dabartinėmis persų ir arabų kalbomis jis irgi vadinamas Elam</p>
    <img src="{% static 'senoves_civil/images/elamas3.png' %}">
    <h4>Geografija</h4>
    <p>Elamo civilizacija apėmė dabartinio Irano pietvakarinę dalį, ten, kur dabar yra Chuzestano, Farso ir Bušehro provincijos. Jos teritorija vakaruose ribojosi su 
        Šumeru (vėliau – Babilonija), pietvakariuose – su Persijos įlanka, o šiaurėje – su kalnuotu Gutiumu. Rytinė Elamo riba buvo neapibrėžta.
        Iš esmės Elamo teritoriją sudarė dvi labai skirtingos geografiškai dalys: lyguminė ir aukštuminė.
        Aukštumų Elamas, dėl savo pagrindinio miesto buvo vadinamas Anšanu. Jis apėmė Zagroso kalnų pietinę dalį, kur teka Kuro ir Palvaro upės, prasideda Chersanas, 
        Marunas, Zachrė, Karūnas. Ankstyvuoju Elamo civilizacijos laikotarpiu būtent ši dalis buvo svarbiausia. Vėliau šis regionas pradėtas vadinti Persija.
        Lygumų Elamas, dėl savo pagrindinio miesto (Sūzų) buvo vadinamas Šušanu. Jis apėmė derlingas lygumas tarp aukštumų Elamo rytuose ir Mesopotamijos vakaruose. 
        Svarbiausios upės čia buvo Karūnas ir Kerchė. Ilgainiui būtent lygumų Elamas tapo svarbiausia Elamo civilizacijos dalimi. Geografai po Ptolemėjaus šį kraštą 
        vadino Suziana. Dabartinis šio regiono pavadinimas „Chuzestanas“ irgi kilęs iš senovinio persiško Sūzų pavadinimo Hujiyā (vidurine persų kalba – Huz).
        Be šių dviejų pagrindinių Elamo regionų taip pat žinomi kiti: Pašimė (Persijos įlankos krantas į pietus nuo Suzianos, iki Bušehro), Šerihumas (krantas į pietus 
        nuo Bušehro), Avanas (greičiausiai į šiaurės rytus nuo Suzianos, nors kai kurie mokslininkai linkę jį tapatinti su Anšanu), Zahara, Idamarazas (abu šiaurėje, 
        netoli Gutiumo), Zabšali (į šiaurę nuo Anšano) ir kt.</p>
    <img src="{% static 'senoves_civil/images/elamas4.jpg' %}">
    <h4>Protoelamitų laikotarpis</h4>
    <p>Protoelamitų laikotarpiu (apie 3200 – 2700 m. pr. m. e.) Elamo teritorijoje susiformavo pirmosios miesto tipo gyvenvietės, tarp kurių viena svarbiausių buvo Sūzų
        gyvenvietė (įkurta apie 4000 m. pr. m. e.), buvusi į rytus nuo Tigro ir Eufrato upių, Karuno upės baseine. Tuo metu taip pat suklestėjo ir Anšanas (Tel-e Maljanas) 
        kalnuose.
        Tačiau ne mažiau svarbios tuo metu buvo ir gyvenvietės, vėliau nepatekusios į Elamo regiono ribas. Tarp jų buvo Tepe Sialkas (Zajandeho upės slėnyje, prie Kašano), 
        Tepe Hissaras (Ozbakis), Tepe Jahja, Džiroftas, Šahadadas, Šachr-e Sochta. Tai rodo, kad ši protoelamitų civilizacija buvo daugiau prekybinių miestų tinklas, negu kad 
        vientisa valstybė.
        Protoelamitų civilizacija formavosi kaip prekybinio tipo civilizacija, kurios pagrindinis tikslas buvo patenkinti derlingojo pusmėnulio civilizacijų poreikius. Viena 
        svarbiausių to meto prekių buvo lazuritas, išgaunamas Afganistano šiaurės rytuose. Tam, kad ši prekė atsidurtų Mesopotamijoje, ji turėjo būti vežama didžiulius 
        atstumus per Irano kalnyną. Du atskiri prekybiniai keliai jungė Šachr-e Sochtą (į kurią lazuritas būdavo atgabenamas iš Badachšano) su Sūzais. Vienas jų, šiaurinis, 
        ėjo per Tepe-Hisarą ir Tepe-Sialką. Kitas, pietinis, ėjo per Džiroftą, Tepe Jahją ir Anšaną. Sūzai tapo galutiniu kelio tašku, iš kur vėliau gėrybės keliaudavo į 
        Mesopotamiją.
        Protoelamitų kultūra buvo ganėtinai savita. Seniausi sluoksniai Elame rodo puodininkystę, kuri neturėjo atitikmens Mesopotamijoje, bet vėlyvesniu laikotarpiu iškasenos 
        artimos Šumero Uruko laikotarpiui. Tuo metu protoelamitai sukūrė ir naudojo savitą protoelamitų raštą. Spėjama, kad šios civilizacijos kūrėjai kalbėjo elamitų kalba, 
        tačiau tai nėra įrodyta.</p>
    <img src="{% static 'senoves_civil/images/elamas5.jpg' %}">
    <h4>Senoji Elamo karalystė</h4>
    <p>Proto-Elamo civilizacija gana staigiai sumenko XXVIII a. pr. m. e., kuomet buvo atrastas jūrinis kelias tarp Šumero ir Indo civilizacijos (šumerų Meluhos). Tai leido 
        gėrybes iš rytų gabenti ne per kalnus, o laivais. Dėl to Elamo miestai prarado ekonominę galią, kuria paveržė tokie tarpininkai Persijos įlankoje, kaip Dilmunas 
        (dabartiniame Bahreine) ir Maganas (dabartiniame Omane). Senuosius proto-elemitų prekybinius miestus rytuose (Džiroftą, Tepe Jahją, Šachr-e Sochtą) suvienijo vadinamoji 
        Džirofto civilizacija. Kai kurių mokslininkų ji yra tapatinama su Šumerų minimu Aratos miestu. Džirofto civilizacijoje buvo išvystyta puiki chlorito dirbinių gamyba. 
        Šie dirbiniai randami tiek Mesopotamijoje, tiek Indo civilizacijos gyvenvietėse.
        Apie 2650 m. pr. m. e. Kišo karalius Enmebaragesis nusiaubė ir pavergė Sūzus ir šis miestas kuriam laikui prarado savo reikšmę. Maždaug tuo metu Avano mieste 
        (vieta neidentifikuota) prasidėjo Avano dinastija. Apie ją žinoma labai nedaug, išlikę tik valdovų sąrašai iš gerokai vėlesnio laikotarpio. Archeologiniai kasinėjimai 
        rodo, kad tuo metu Elamas aktyviai prekiavo su gretimu Šumeru, parduodamas ten vilną, galvijus, vergus ir sidabrą. Elamas buvo pakankamai galingas, kad puldinėtų 
        šumerų miestus.
        XXIII a. pr. m. e. Akado karalius Sargonas Didysis minimas nugalėjęs Elamo karalių „Luh-išaną, Hišiprašinio sūnų“. Po užkariavimo Elamas tapo Akado vasalu. Greta 
        valdančios vietinės dinastijos, čia buvo skiriami Akado vietininkai, kurie rezidavo Sūzuose. Apie 2240 m. pr. m. e. vietininkas Sūzuose Kutik-Inšušinakas paskelbė 
        Elamo nepriklausomybę. Nuo tada Sūzai iš esmės tapo svarbiausiu Elamo miestu. Apskritai, 2300 – 1600 m. pr. m. e. sumenkus žemyniniams keliams, Elamo civilizacija 
        keitė savo pobūdį: sunyko prekybiniai miestai, civilizacija apsiribojo apie Chuzestano žemumomis.
        Pasibaigus Kutik-Inšušinako valdymui, Elamo karalystę greičiausiai nusiaubė gutijai, kurie nutraukė Avano dinastiją. Vėliau Sūzus pajungė Trečioji Ūro dinastija iš 
        Šumero, tačiau kalnuotos krašto dalies ji nevaldė. Tuo metu Šimaškio mieste kalnuose (vieta neidentifikuota) iškilo Šimaškio dinastija. Jos valdovas Enpiluhanas 
        XXI a. pr. m. e. sugebėjo atsiskirti nuo Šumero ir suvienyti visus Elamo miestus į vientisą valstybę. Šumerui visiškai nusilpus, šeštasis Šimaškio valdovas Kindatu 
        pasinaudojo tuo ir nusiaubė Ūrą.
        Nuo XIX a. pr. m. e. Elamą valdė Epartidų dinastija, kurios viešpatavimas apytikriai sutapo su Senąja Babilono ir Senąja Asirijos karalystėmis Mesopotamijoje. 
        Epartidų valdžią sudarė triumviratas, kurio svarbiausias asmuo titulavosi sukalmachu (reziduodavo Sūzuose), o greta jo valdė Sūzų sukalis ir Elamo bei Simaškio sukalis. 
        Valdant pirmiesiems sukalmachams, Elamas tapo stipria valstybe, kuri kartais nusiaubdavo pietinę Mesopotamiją. Nuo 1764 m. pr. m. e., sustiprėjus Babilonui, 
        Elamas nusilpo, ir žinios apie jį išblėsta.</p>
    <img src="{% static 'senoves_civil/images/elamas6.png' %}">
    <h4>Vidurinė Elamo karalystė</h4>
    <p>II tūkst. pr. m. e. viduryje Elamas vėl atgimė, valdomas trijų dinastijų, kilusių iš Anšano: Kidinuidų (XV a. pr. m. e.), Igehalkidų (XIV–XIII a. pr. m. e.) ir 
        Šutrukidų (XII a. pr. m. e.). Tuo metu karalystė galutinai politiškai suvienijo kalnuotą ir lyguminę krašto dalį, o jos valdovai titulavosi „Anšano ir Sūzų karaliais“, 
        taip pabrėždami valstybės dualumą. Tiesa, sostinė galutinai persikėlė į Sūzus lygumoje.
        Vidurinė Elamo karalystė buvo vienalaikė su Kasitų dinastija Babilonijoje. Tarp dviejų valstybių egzistavo permainingi santykiai. Elamitai turėjo nemažai vedybinių 
        ryšių su Babilonija, tačiau šalys nepraleisdavo ir progos viena kitą užpulti.
        Laikotarpis žymėjo ir elamitų kultūros atgimimą. Iš akadų dantiraščio išsivystęs elamitų dantiraštis leido fiksuoti elamitų kalbą po 900 m. pertraukos (nuo Šimaškio 
        dinastijos laikų visi valstybės tekstai buvo rašomi tik akadų arba šumerų kalbomis). XV a. pr. m. e. Kidinuidų atstovas Tepti-Aharas netoli Sūzų pastatydino naują 
        miestą Kabnaką, o XIV a. pr. m. e. Igehalkidai pastatė Čoga Zanbilio zikuratą, kuris yra vienas geriausiai išlikusių Elamo civilizacijos objektų.
        Valdant Šutrukidų dinastijai Elamas tapo viena stipriausių to meto valstybių. Žymiausias dinastijos valdovas Šutruk-Nachuntė rengė karinius žygius į Kasitų Babiloną 
        ir parsivežė iš ten nemažai kultūrinių vertybių, tarp kurių buvo Hamurabio stela, Marduko statula ir pan. Jam valdant visame Elame dygo naujos ir buvo restauruojamos 
        senos šventyklos. Pasinaudodamas Babilono nusilpimu, Šutruk-Nachuntė keleriems metams į Babilono sostą pasodino savo sūnų Kutir-Nachuntę.
        Vėliau susikirto Elamo interesai su Asirija, kuri irgi turėjo interesų Babilonijoje. Galiausiai Babilono karalius Nebuchadnezaras I užpuolė ir nusiaubė Sūzus. Elamo 
        valstybė keliems šimtams metų nusilpo, ir žinios apie ją labai menkos.</p>
        <img src="{% static 'senoves_civil/images/elamas7.jpg' %}">
        <h4>Naujoji Elamo karalystė</h4>
        <p>Laikotarpis tarp XI ir VIII a. pr. m. e. Elame yra labai mažai žinomas. Tuo metu vėl išsiskyrė lygumų ir kalnuotoji Elamo dalys. Kalnuotoji krašto dalis tuo 
            metu patyrė masines iranėnų migracijas iš rytų ir šiaurės. Vietos elamitai buvo asimiliuojami, o juos keitė indoeuropiečių kalba kalbančios gentys. Anšano 
            apylinkėse atsikėlusi gentis vadinosi persais (manoma, kad jie paėmė senąjį elamitų miestą Anšaną VII a. pr. m. e.), todėl ilgainiui visas kalnuotasis Elamas 
            imtas vadinti Persija. Čia iranėnai perėmė daug senojo Elamo pasiekimų.
            Ilgainiui elamitų kalba liko naudojama tik lygumų Elame, todėl vėlyvuoju laikotarpiu Elamu vadinamas tik šis regionas. Čia egzistavusios Naujosios Elamo karalystės 
            (su sostine Sūzuose) valdovai sudarinėjo sąjungas su Babilonija, siekdami atsispirti augančios Asirijos imperijos galiai. VIII a. pr. m. e. Elamo karalius 
            Chumbanigašas (743–717), vėliau Šutruk-Nachuntė II (716–699) padėjo Babilono karaliui kovoti prieš Sargoną II. Tiesa, nesėkmingai, nes Babilonija prijungta 
            prie Asirijos 700 m. pr. m. e.
            Tuometinė Elamo karalystė pasiekė tam tikrą stabilumą ir vystė elamitų kultūrą. Svarbiausias jos palikimas – reljefai Kul-e Farache, prie dabartinio Izeho miesto.
            Pačiame Elame tęsėsi politinė krizė, kas galiausiai lėmė, jog 653 m. pr. m. e. lygumų Elamas buvo įtrauktas į Asirijos imperiją ir paverstas jos vasalu. Paskutinis 
            smūgis Elamo karalystei suduotas 640 m. pr. m. e., kuomet Ašurbanipalas nusiaubė karalystę, sugriovė Sūzus ir paėmė į nelaisvę paskutinį Elamo karalių 
            Chuma-Chaldašą III. Tiesa, pasklidos elamitų valstybėlės, pavyzdžiui, Hidalu (dab. Behbahanas), Raši, Ajapiras (dab. Izehas), Gisati, Zaminas, Deras, Samati 
            (dab. Pol-e Dochtaras), Zari ir kt. kurį laiką liko egzistuoti Elamo periferijose.
            VII a. pr. m. e. pabaigoje Asirų valdžią Elame pakeitė Naujoji Babilono karalystė. Būtent šiuo metu į Elamą buvo ištremtas nemaža izraelitų: įvykis užfiksuotas 
            Biblijoje ir žinomas kaip Babilono tremtis. Tuo pat metu aukštumų Elamas perėjo Medijos imperijai. Elamitai kaip atskira tauta išnyko per VI–V a. pr. m. e., 
            susiliedami su indoeuropiečiais.</p>
        <img src="{% static 'senoves_civil/images/elamas8.jpg' %}">
        <h4>Religija</h4>
        <p>Elamitai turėjo savo atskirą dievų panteoną, tačiau skirtingais laikais buvo garbinamos skirtingos dievybės. Dažniausiai jos būdavo siejamos su konkrečiu miestu, 
            kurį globojo, todėl iškilus miestui, iškildavo ir dievybė. Pavyzdžiui, viešpataujant Avano dinastijai svarbiausias dievas buvo Humbanas, o jo sutuoktine buvo laikoma 
            Pinikir. Vėliau Humbano kultas susiliejo su vyriausio Anšano dievo Napirišos kultu. Pastarojo sutuoktinė buvo deivė Kiririša, kuri drauge buvo ir Lijano miesto globėja.
            Kylant Sūzų miestui, svarbiausiu elamitų dievu palaipsniui tapo Inšušinakas. Iš pradžių buvęs nereikšmingas mirusiųjų pasaulio globėjas, jis ilgainiu tapo Elamo 
            valdovų globėju. Jam buvo skirta svarbiausia Sūzų šventykla, taip pat Čoga Zambilio zikuratas. Visais laikais garbintas Nachuntė, Saulės ir teisingumo dievas, 
            tapatintas su semitų Šamašu.
            Dėl Mesopotamijos įtakos elemitai taip pat išpažino šumeriškus ir semitiškus dievus, tarp kurių buvo Ištar, Adadas, Ninhursag, Nusku ir kiti.</p>
        <img src="{% static 'senoves_civil/images/elamas9.jpg' %}">
        <h4>Palikimas</h4>
        <p>Elamo kultūra nuo 539 m. pr. m. e. suvaidino lemiamą vaidmenį Achemenidų imperijoje. Šios kultūra iš esmės kūrėsi ant aukštumų Elamo kultūros pagrindų. Anšanas, 
            senasis elamitų miestas, tapo Achemenidų imperijos branduoliu ir pirmąja jos sostine, o jos karaliai dar kurį laiką titulavosi Anšano karaliais. Elamitų stiliaus 
            drabužiai tapo Persijos valdovų aprangos dalimi. Elamitų kalba buvo naudojama kaip viena iš trijų imperijos kalbų. Elamitų dievų kultas ir toliau egzistavo, o 
            žyniai ir dvasininkai buvo remiami valstybės.
            Po VII a. aukštumų Elamo pavadinimą pakeitė naujas pavadinimas Persija. Žemumų Elamas nuo IV a. pr. m. e. įgijo pavadinimą Suziana. Protarpiais Elamo pavadinimas 
            buvo vartojamas ir vėliau: pvz., II a. pr. m. e.-III a. čia egzistavo Elymaidės karalystė, o V–XIV a. Elamo bažnytinė provincija. Dabartinė Ilamo provincija Irane 
            irgi pavadinta pagal senąjį Elamą. Tiesa, ji apima tik nedidelį senovės Elamo pakraštį.</p>
        <img src="{% static 'senoves_civil/images/elamas10.jpg' %}">
{% endblock %}