{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/graikija1.jpg' %}">
    <p>Senovės Graikijos istorija arba Antikinės Graikijos istorija apima laikotarpį nuo maždaug XII a. pr. m. e. iki 146 m. pr. m. e. (Graikijos įjungimas į Romos imperiją).
        Apie 1200-uosius dorėnų įsiveržimas sugriovė Mikėnų civilizaciją ir Graikijoje prasidėjo vadinamieji „Graikijos tamsieji amžiai“, iš kurių išliko labai mažai žinių, 
        išskyrus kai kurias Homero ir Hesiodo kūrybos dalis. Tamsiųjų laikų pabaiga tradiciškai laikoma pirmoji olimpiada 776 m. pr. m. e. suorganizuota graikų mitologijos 
        dievų valdovo Dzeuso garbei. Archajiniu laikotarpiu (apie 700-500 m. pr. m. e.) galutinai susiformavo polių sistema ir prasidėjo didelio masto Viduržemio jūros regiono 
        kolonizacija. Klasikiniu laikotarpiu (apie 500-336 m. pr. m. e.) atsirado pagrindinės su Senovės Graikija siejamos politinės sąvokos, pvz., demokratija, suklestėjo 
        kultūra, kurios pagrindu vėliau vystėsi visas Vakarų pasaulis.
        Tarp graikų kultūros pasiekimų svarbiausi buvo architektūriniai monumentai, pvz., Atėnų Akropolis, reikšmingos skulptūros, poezija, filosofija ir istoriniai Herodoto 
        bei Tukidido darbai, taip pat matematikos žinių plėtra ir sportinės varžybos, pvz., Olimpiada.</p>
    <img src="{% static 'senoves_civil/images/graikija2.jpg' %}">
    <h4>Graikų Tamsieji Amžiai</h4>
    <p>Graikų Tamsieji Amžiai (apie 1200-800 m. pr. m. e.) yra Graikijos istorijos laikotarpis tarp tariamo dorėnų įsiveržimo ir Mikėnų kultūros žlugimo XI a. pr. m. e. ir 
        IX a. pr. m. e., kai sustiprėjo graikų miestai-valstybės ar VIII a. pr. m. e., kai buvo užrašytos Homero epai iš finikiečių perimtu alfabetu.
        Mikėnų kultūros žlugimas sutapo su kitų civilizacijų Artimuosiuose Rytuose žlugimu. Tarp jų hetitų ir Egipto. Priežastis galėjo būti jūrų tautų, turinčių geležinius 
        ginklus, invazija. Atvykę dorėnai irgi turėjo geležinius ginklus ir lengvai nugalėjo nusilpusius mikėniečius.
        Archeologija rodo graikų civilizacijos žlugimą. Mikėnų kultūros rūmai sugriauti ar apleisti. Paplito neraštingumas. Puodai puošti paprastomis geometrinėmis formomis, 
        joms trūksta Mikėnų naudotų figūrų. Tų laikų Graikijoj buvo mažiau gyvenviečių ir jos buvo mažesnės. Galima įtarti badą ir nutrūkusią užsienio prekybą, nes radimvietėse 
        neaptinkama užsienio prekių.
        Visą laikotarpį valdė karaliai, kol juos pakeitė aristokratija, o vėliau kai kur aristokratijos aristokratija. Kariavimas pasisuko nuo kavalerijos link pėstininkijos. 
        Dėl pigumo ir prieinamumo geležis pakeitė bronzą gaminant įrankius ir ginklus. Pamažu tarp žmonių grupių atsirado lygybė ir buvo nuversti karaliai.
        Galingos šeimos bandė atkurti praeitį, susiedamos save su Trojos karo didvyriais ir ypač Herakliu. Nors tai dažniausiai buvo legendos, kai kurias surūšiavo Heziodo 
        mokyklos poetai. Dauguma poemų prarastos, nors žymių „istorijų pasakotojų“ vardai išliko. Manoma, kad Homero poemose yra per Tamsiuosius Amžius perduotos tradicijos.
        Laikotarpis baigėsi, kai gyventojams daugėjant sustiprėjo graikų miestai ir prasidėjo kelis šimtmečius trukus ekspancija į kaimynines teritorijas.</p>
    <img src="{% static 'senoves_civil/images/graikija3.jpg' %}">
    <h4>Graikija archajiniu laikotarpiu (apie 750–480 m. pr. m. e.)</h4>
    <p>Archajiniu laikotarpiu daugeliu atžvilgių buvo padėti pagrindai klasikiniam antikinės Graikijos laikotarpiui. Po Graikijos „tamsiųjų amžių“ helenus siejo Homero epai Iliada 
        ir Odisėja, kurie 750-730 m. pr. m. e. (Iliada) ir 720-700 m. pr. m. e. (Odisėja) buvo užrašyti. Dar prieš Homerą atsirado graikų mitologijai ir pasaulėžiūrai tirti 
        svarbios Heziodo poemos.
        Šiuo laikotarpiu Graikijoje pamažu formavosi nauja valstybių sistema, nors pats procesas prasidėjo greičiausiai jau XII a. pr. m. e., vėliausiai geometriniame laikotarpyje 
        (apie 1050-700 m. pr. m. e.). Polis (miestas-valstybė) tapo vyraujančia valstybės forma (išskyrus dalyje šiaurinės Graikijos ir dalyje Peloponeso). Didesnę įtaką ėmė 
        įgauti kilmingieji, o karalių valdžia silpnėjo ir daug kur išnyko.
        VIII a. pr. m. e.
        VIII a. pr. m. e. Graikija atsigavo po Tamsiųjų Amžių, kurie prasidėjo žlugus Mikėnų civilizacijai. Raštingumas ir Mikėnų raštas išnyko, bet graikai perėmė finikiečių 
        alfabetą, jį šiek tiek pakeitė ir sukūrė savo abėcėlę. Nuo IX a. pr. m. e. randami graikiški užrašai. Graikija buvo padalinta į mažas savarankiškas bendruomenes, o 
        pasidalinimas priklausė nuo geografinių aplinkybių.
        VII a. pr. m. e.
        Graikų miestai iš pradžių buvo monarchijos, nors daugelis iš jų buvo labai maži ir pavadinimas „karalius“ (basileus) jų valdovams buvo per daug išpūstas. Šalyje, 
        kurioje nuolat trūksta dirbamos žemės, valdžia priklausė keletui žemvaldžių, kurie sudarė karių aristokratiją, kuri dažnai kovojo smulkiuose pilietiniuose karuose 
        dėl žemės ir greitai panaikindavo monarchiją. Maždaug tuo metu sustiprėjusi pirklių klasė pradėjo klasių kovą stambiuose miestuose. Nuo 650 m. pr. m. e. aristokratija 
        turėjo kautis, kad nebūtų pakeista populistų lyderiais, vadinamais tironais (turannoi). Šis žodis tada ne būtinai reiškė žiaurų diktatorių.
        VI a. pr. m. e. pradžioj Graikijoje pradėjo dominuoti keli dideli miestai: Sparta, Atėnai, Korintas ir Tėbai. Kiekvienas iš jų pradėjo valdyti greta esančias kaimo 
        vietoves ir mažesnius miestus, o Atėnai ir Korintas taip pat tapo didele jūrine ir prekybos galia. Atėnai ir Sparta pradėjo varžybas, kurios truko kelis amžius.
        Spartoje žemvaldžių aristokratija išlaikė savo valdžią, o Likurgo konstitucija (apie 650 m. pr. m. e.) sutvirtino jos valdžią ir suteikė Spartai nuolatinį karinį 
        režimą, valdomą dvigubos monarchijos. Sparta valdė visus Peloponeso miestus, išskyrus Argą ir Achają.
        Atėnuose monarchija buvo panaikinta 683 m. pr. m. e., o Solono reformos įtvirtino nuosaikią aristokratų valdžią. Aristokratus nuvertė Peisistrato ir jo sūnų tironija, 
        kuri miestą pavertė didele jūrine ir prekybos galia. Tironiją nuvertė Kleistenis, įkūręs pirmąją pasaulyje demokratiją (500 m. pr. m. e.), kurioj visa valdžia priklausė 
        Liaudies susirinkimui, į kurį rinkdavosi visi suaugę piliečiai vyrai. Bet tik mažuma vyrų buvo piliečiai, nes jais nebuvo vergai, išlaisvinti vergai ir neatėniečiai.
        Gyventojų daugėjo tokiais tempais, kad ariama žemė negalėjo jų visų išmaitinti (Pagal Mogens Herman Hansen 800-400 m. pr. m. e. gyventojų padaugėjo nuo 800 tūkst. 
        iki 10-13 mln.). Nuo 750 m. pr. m. e. graikai pradėjo 250 metų trukusią ekspansiją, kurdami kolonijas visomis kryptimis. Pirmiausia buvo kolonizuotas Mažosios Azijos 
        krantas palei Egėjo jūrą, po to sekė Kipras ir Trakijos krantai, Marmuro jūra ir pietinis Juodosios jūros krantas. Ilgainiui šiaurės rytuose graikai įsikūrė dabartinės 
        Ukrainos ir Rusijos teritorijose. Vakaruose buvo apgyvendinti Ilyrijos, Sicilijos ir Italijos krantai, o po jų Prancūzijos pietinė dalis, Korsika ir net šiaurės rytų 
        Ispanija. Graikų kolonijos buvo įkurtos Egipte ir Libijoje. Šiandienos Sirakūzai, Marselis, Stambulas ir Neapolis iš pradžių buvo graikų kolonijomis.
        VI a. pr. m. e. Graikų pasaulis tapo kalbine ir kultūrine sritimi žymiai didesne už šiuolaikinę Graikiją. Graikų kolonijos nebuvo politiškai priklausomos nuo miesto 
        įkūrėjo, nors dažnai išlaikydavo religinius ir prekybinius ryšius. Graikai gimtinėje ir užsienyje gyvendavo nepriklausomose bendruomenėse ir miestas (polis) tapo 
        pagrindiniu politiniu vienetu.
        Tuo metu vyko didelė ekonominė plėtra Graikijoje ir kolonijose, tokiose kaip Eolis, Kirėnė, Alalija. Pagerėjo gyventojų gyvenimo sąlygos. Kai kurie paskaičiavimai 
        rodo, kad 800-300 m. pr. m. e. vidutinis graiko namų ūkis padidėjo penkis kartus, o tai rodo padidėjusias gyventojų pajamas.
        Ekonominėj viršūnėje, IV a. pr. m. e., Senovės Graikija buvo pažangiausia ekonomika pasaulyje. Kai kurie ekonomikos istorikai teigia, kad ji buvo pažangiausia 
        priešpramonine ekonomika. Senovės Graikijos darbininkas uždirbdavo per dieną tiek, kad galėtų nusipirkti 12 kg kviečių, o Egipto valstietis romėnų laikotarpiu - tik 3,5 kg</p>
    <img src="{% static 'senoves_civil/images/graikija4.jpg' %}">
    <h4>Klasikinė Graikija</h4>
    <p>Klasikinės Graikijos laikotarpis tęsėsi beveik visą V-IV a. pr. m. e. (nuo Atėnų tironijos nuvertimo 510 m. pr. m. e. iki Aleksandro Makedoniečio mirties 323 m. pr. m. e.)
        510 m. pr. m. e. Spartos kariai padėjo nuversti Atėniečiams tironą Hipiją, Peisistrato sūnų. Spartos karalius Kleomenis I į jo vietą įvedė prospartietišką oligarchijos 
        valdymą, vadovaujamą Isagoro.
        Persų karai
        Graikų-persų karai (499-449 m. pr. m. e.) baigėsi Kalijo (Callias) taika, pagal kurią Atėnai tapo Delo sąjungos lyderiai ir pradėjo konfliktuoti su Sparta ir jos 
        vadovaujama Peloponeso lyga.
        Peloponeso karas
        Nesutarimas baigėsi Peloponeso karu (431-404 m. pr. m. e.).
        Mantinėjos mūšyje Sparta nugalėjo jungtinę Atėnų ir sąjungininkų armiją. Atsinaujinusios kovos grąžino į valdžią karo šalininkus, vadovaujamus Alkibiado. 415 m. pr. m. e. 
        Alkibiadas įtikino Atėnus pasiųsti į Sirakūzus, Spartos sąjungininką Sicilijoje, karinę ekspediciją, kuri baigėsi visiška katastrofa.
        Sparta pradėjo kovas su Atėnų laivynu ir surado talentingą generolą Lysandrą, nugalėjusį Atėnų flotilę Egospotamų mūšyje (405 m. pr. m. e.). Atėnai pasidavė 404 m. pr. m. e.
        ir prarado Ilgąsias sienas, laivyną, užjūrio teritorijas. Lysandras panaikino demokratiją Atėnuose.
        Spartos hegemonija
        Nuo 404 m. pr. m. e. Sparta dominavo Graikijoje. Bet 395 m. pr. m. e. Spartos valdovai nušalino Lysandrą nuo pareigų ir Sparta prarado laivyno galią. Atėnai, Argas, 
        Tėbai ir Korintas sudarė sąjungą ir pradėjo Korinto karą, kuris baigėsi lygiosiomis 387 m. pr. m. e. Visgi, tai nepabaigė Spartos viešpatavimo: ji savo hegemoniją 
        išlaikė iki 371 m. pr. m. e.
        Tėbų hegemonija
        Tėbų generolai Epaminondas ir Pelopidas laimėjo lemiamą pergalę Leuktros mūšyje 371 m. pr. m. e. Vietoj Spartos atsirado Tėbų hegemonija. Sparta liko įtakinga jėga ir 
        kai kurie miestai norėjo ją sutriuškinti. Tarp jų buvo Mantinėja ir Tegėja, priklausę Arkadijos konfederacijai. Mantinėja gavo Atėnų paramą, o Tegėją - Tėbų. Tėbai 
        laimėjo, bet pergalė buvo trumpalaikė, nes Epaminondas žuvo mūšyje. Tėbai atsisakė ketinimų užimti Peloponesą. Tėbai bandė išlaikyti savo pozicijas, kol juos užtemdė 
        stiprėjanti Makedonija 346 m. pr. m. e.
        Makedonijos hegemonija
        Valdant Pilypui II (382–336 m. pr. m. e.) Makedonija užėmė ilyrų, pajonų ir trakų žemes. Nors Makedonija turėjo ryšių su centrinės Graikijos miestais-valstybėm, ji 
        išlaikė daug archajiškų bruožų. Tokių kaip rūmų kultūra, kuri buvo panašesnė į Mikėnų kultūrą nei to meto Graikijos miestus valstybes.
        Pilypo II sūnus Aleksandras Makedonietis (356–323 m. pr. m. e.) išplėtė Makedonijos valdas ne tik graikų miestais, bet ir Persų imperija, Egiptu ir sritim, siekiančiom 
        šių dienų Pakistaną. Po jo mirties prasidėjo helenizmas.</p>
    <img src="{% static 'senoves_civil/images/graikija5.png' %}">
    <h4>Helenizmas</h4>
    <p>Aleksandro Makedoniečio nukariavimai turėjo daugybę pasekmių graikų miestams. Pralaimėjimas Filipui ir Aleksandrui graikų miestus įtikino, kad jie neatgaus politinės 
        nepriklausomybės ir makedoniečiams ir jų įkurtoms valstybėms jie nepasipriešins, nebent susivienys. Graikai per daug vertino vietinę nepriklausomybę, kad iš tiesų 
        susijungtų, bet jie kelis kartus mėgino suformuoti federaciją, kurios dėka atgautų nepriklausomybę.
        Po Aleksandro Makedoniečio mirties jo generolai pradėjo kovoti dėl valdžios suardydami jo imperiją į keletą naujai įkurtų karalysčių, o Makedonija, valdžiusi visą 
        Balkanų pusiasalį, su sostine Tesalonikuose, buvo viena jų. Šioje karalystėje tarpusavyje kovojo dviejų dinastijų, Antipatridų ir Antigonidų atstovai, iš kurių 
        galutinai įsitvirtino pastarieji. Antigonidai Makedonijos soste buvo iki 146 m. pr. m. e., kai juos nugalėjo romėnai.
        Makedonų valdymas graikų miestuose buvo su pertraukomis, nes kiti valdovai, ypač Ptolemėjai, rėmė antimakedonietiškas grupuotes, norėdami susilpninti Antigonidų 
        valdžią. Antigonas laikė Korinte, strateginiam Graikijos centre, įgulą, bet Atėnai, Rodas, Pergamas ir kiti graikų miestai atgavo realią nepriklausomybę ir suformavo 
        Etolijos lygą jai ginti. Sparta irgi tapo nepriklausoma, bet atsisakė jungtis prie bet kokios sąjungos. 267 m. pr. m. e. Etolijos lygai pralaimėjus, Atėnai prarado 
        politinę svarbą, nors jie liko didžiausiu, turtingiausiu ir kultūringiausiu Graikijos miestu.
        Vėliau susiformavo Achajos lyga, kuri ypač nesutarė su Sparta. Achajos lygos lyderiui Aratui labiau patiko toli esanti Makedonija, nei čia pat esanti Sparta ir jis 
        tapo Makedonijos regento Dosono sąjungininku. Antigonas Dosonas 222 m. pr. m. e. nugalėjo Spartą ir ją okupavo. Tai buvo pirmas kartas kai kas nors sugebėjo tai 
        padaryti. Filipas V, atėjęs į sostą po Dosono mirties 221 m. pr. m. e. buvo paskutinis didis valdovas. Jo globojama Naupakto taika (217 m. pr. m. e.) užbaigė konfliktą 
        tarp Makedonijos ir graikų lygų.
        Tačiau nuo 215 m. pr. m. e. Roma kišosi į Graikijos reikalus. Dėl to kilo Pirmasis Makedonijos karas, o 198 m. pr. m. e. - Antrasis Makedonijos karas. Graikijos 
        sąjungininkai paliko Filipą ir jis pralaimėjo lemiamame Kinoscefalų mūšyje. Filipas turėjo atsisakyti laivyno ir tapti Romos sąjungininku, bet liko soste. Visi graikų 
        miestai išskyrus Rodą, buvo įtraukti į naują Romos kontroliuojamą lygą, o demokratiją pakeitė Romai ištikimi aristokratijos režimai.
        171 m. pr. m. e. Roma paskelbė Makedonijai dar vieną karą. Makedonijos armija neprilygo romėnams, o karalius Persėjas nesugebėjo graikų miestų įtikinti jam padėti. 
        168 m. pr. m. e. Makedonija buvo nugalėta, Persėjas buvo pagautas ir nugabentas į Romą.</p>
    <img src="{% static 'senoves_civil/images/graikija6.jpg' %}">
{% endblock %}
