{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/hanai1.jpg' %}">
    <p>Han dinastija – Kinijos imperatorių dinastija, valdžiusi 206 m. pr. m. e. – 220 m., po Čin dinastijos.Tradiciškai Han periodas laikomas vienu svarbiausių klestėjimo 
        laikotarpių Kinijos istorijoje. Iki šiol etniniai kinai save vadina „haniais“.
        Han dinastija skirstoma į du periodus:
        Vakarų Han (206 m. pr. m. e. – 9 m.)
        Rytų Han (25 – 220 m.)
        9–25 m. valdė uzurpatorius Vang Mang (Wang Mang).</p>
    <img src="{% static 'senoves_civil/images/hanai2.jpg' %}">
    <h4>Vakarų Han</h4>
    <p>Ankstesniosios, arba Vakarų (Xi Han 西漢) Han dinastijos sostinė buvo Čanganis (Chang’an). Po Čin Ši Huangdi mirties imperijoje kilo maištai. 206–202 m. 
        pr. m. e. tarpuvaldžiu tarpusavyje kovojo dvi didesnės stovyklos: vienai vadovavo Liu Bang, Han valdovas, kitai – Siang Ju (Xiang Yu), Ču valdovas. Taip pat kovojo 
        keletas smulkesnių valdovų. Galiausiai pergalę pasiekė ir naujos dinastijos įkūrimą paskelbė Liu Bangas. Taigi Han dinastijos pradžia galima laikyti arba 206 m. pr. m. e., 
        kai žlugo Čin dinastija, arba 202 m. pr. m. e., kai nusižudė Siang Ju.
        Naujoji imperija išlaikė Čin administracinę sistemą, tačiau sušvelnino centralizaciją: politiniais sumetimais kai kur buvo įkurtos vasalinės valdos. Įkūręs dinastiją, 
        Liu Bangas padalino šalį į keletą „feodalinių valstybių“, kad patenkintų savo buvusius sąjungininkus, nors jais planavo atsikratyti vėliau, sustiprinęs valdžią. Liu Bango 
        (vėliau vadinto Gaodzu arba Gaodi) įpėdiniai valdė derindami legistinius metodus su daoistiniais. Tuo laikotarpiu Kinija palaikė taikius santykius su siunų gentimis per 
        santuokas ir mokėdami duoklę. Kita vertus, Han dinastijos valdymo metu konfucianizmas paskelbtas oficialiąja ideologija. Šiuo periodu kanonizuoti pagrindiniai 
        konfucianistiniai veikalai, kuriama imperatoriškoji biblioteka, atsiranda valstybinių egzaminų sistema (būdas atrinkti valdininkus).
        Po Liu Bango mirties prasidėjus intrigoms valdžia atiteko nepilnamečiam jo sūnui, o iš tiesų kaip regentė valdė jo motina Liu Taihou (呂太后 Lü Taihou), taip pat 
        vadinta imperatoriene Gao (高皇后 Gaō Huánghoù). Imperatorius Vendi susidorojo su Liu klanu. Jo valdymo metu imtasi gaivinti konfucianizmą.
        Turbūt žymiausias Han imperatorius – Udi. Jo valdymo metu valstybėje įsitvirtino konfucianizmas. Prie to ypač prisidėjo imperatoriaus patarėjas Dong Džongšu. Udi era 
        pasižymėjo karine ekspansija. Prasideda aktyvi prekyba su užsieniu, suklesti šilko kelias. Vykdomos grandiozinės statybos. Įvedamas valstybinis monopolis druskai ir 
        geležiai (dėl šito to meto visuomenėje kilo daug nepasitenkinimo). Prekybą taip pat kontroliavo valstybė.
        Han dinastijoje imperatoriai pradeda naudoti devizus, kuriais siekė apibūdinti atskirus savo valdymo periodus, nustatyti pasiryžimą, priminti apie kokį nors svarbų 
        įvykį (pavyzdžiui, dangiškosios malonės ženklą).
        I a. į Kiniją atkeliauja budizmas – tam turėjo įtakos aktyvūs ryšiai su užsienio valstybėmis.</p>
    <img src="{% static 'senoves_civil/images/hanai3.jpeg' %}">
    <h4>Sin dinastija (Vang Mang valdymas)</h4>
    <p>Mūsų eros pradžioje smarkiai pablogėjo ekonominė situacija, šalyje vyko kovos dėl valdžios. Pasinaudojęs proga, valdininkas Vang Mang užėmė sostą ir paskelbė Sin 
        (xin; pažodžiui „naujosios“) dinastijos (新朝) įkūrimą. Vang Mang buvo vienintelis šios trumpaamžės dinastijos imperatorius. Jis pasižymėjo kaip reformatorius, 
        tačiau jo reformos buvo nukreiptos į anksčiau panaikintų dalykų atgaivinimą. Vang Mangas atkūrė kai kuriuos kultus, kurių buvo atsisakyta dėl pernelyg didelių išlaidų, 
        išlaisvino vergus, atšaukė senuosius pinigus, pakeitė didikų titulus, uždraudė pardavinėti žemę. Tačiau kilo žemvaldžių ir pirklių maištas, kuriam vadovavo Liu klano 
        (t. y. valdovo šeimos) atstovas Liu Siu (Liu Xiu). Liu Siu atkūrė Han dinastiją.</p>
    <img src="{% static 'senoves_civil/images/hanai4.jpg' %}">
    <h4>Rytų Han</h4>
    <p>Rytų (東漢 Dong Han) arba Vėlyvosios Han (後漢 Hou Han) dinastijos sostinė buvo Luojange. Liu Siu, nuvertęs nuo sosto Vang Mangą, tapo imperatoriumi Guang Udi. Stiprūs 
        buvo tik pirmi trys Rytų Han imperatoriai, paskui vėl pasikartojo ankstesnės krizės. Po Vang Mango laikotarpio pokyčių nebuvo įvykdyta jokių efektyvių žemės reformų. 
        Plito korupcija, kyšininkavimas. Dėl valdžios kovojo eunuchai ir imperatoriaus sutuoktinių šeimos. Žemvaldžių šeimos valdė žemes, per daug nekreipdamos dėmesio į 
        valstiečių gyvenimo kokybę. Valdantieji sluoksniai buvo palankūs elitui. Intelektualai, anksčiau buvę įtakingas sluoksnis, pamažu ima prarasti pozicijas valstybėje. 
        Jiems pabandžius kritikuoti valdininkus, klanus, padėtį valstybėje („tyrųjų kritika“), eunuchai visa tai užgniaužė, intelektualai buvo areštuojami, žudomi.
        184 m. kilo „Geltonųjų raiščių“ judėjimas, susijęs su daoistine „Taiping“ (didžiosios lygybės) sekta. Kariuomenė sukilimą žiauriai numalšino. Valdžią perėmė karo vadai: 
        jie išvaikė eunuchus ir patys ėmė kovoti dėl valdžios. Paskutinis imperatorius buvo marionetė. Galiausiai 220 m. Cao Pi privertė jį atsistatydinti.</p>
    <img src="{% static 'senoves_civil/images/hanai5.jpg' %}"> 
    <h4>Han laikotarpio kultūra</h4> 
    <p>Han laikotarpiu padaryta nemažai svarbių atradimų: 105 m. valdininkas Cai Lun išrado popierių. Taip pat parašytas pirmasis matematikos veikalas, 132 m. išrastas 
        seismografas, suklesti astrologija, astronomija, lako gamyba, alchemija.
        Nors oficialia ideologija tapo konfucianizmas, valstybėje maišėsi konfucianistiniai, legistiniai, daoistiniai idealai. Atsiranda išskirtinė valdininkų atrankos – 
        valstybinių egzaminų – sistema.
        Han dinastijos metu išsivysto ir paplinta vadinamieji TLV veidrodžiai, taip pavadinti dėl raides T, L ir V primenančių raštų ir naudoti kaip apsauginiai arba dėti į 
        kapavietes.
        Religijoje įvesti du nauji kultai: žemės valdovo Houtu bei Taiyi (Tai-i) – „Didžiosios vienybės“ garbinimas.</p> 
    <img src="{% static 'senoves_civil/images/hanai6.jpg' %}"> 
{% endblock %}
