{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/home1.webp' %}">
    <p>Kur atsirado pirmosios senovės civilizacijos, kaip jos vadinosi, ką pasiekė, kas buvo jų pagrindas - su visais šiais klausimais daugelį šimtų metų susidūrė istorikai ir 
        mokslininkai. Klausimas, į kurią civilizaciją reikėtų atsižvelgti pirmiausia, taip pat yra ginčytinas dalykas.</p>
    <img src="{% static 'senoves_civil/images/home2.webp' %}">
    <h4>Pirmosios planetos civilizacijos</h4>
    <p>Vis dar nėra tiksliai žinoma, kurią civilizaciją galima pavadinti pačia pirmąja. Kadangi ne visi mūsų istorijos faktai yra visiškai žinomi, mokslininkai ginčijasi, kuri 
        iš seniausių civilizacijų gali būti priskirta pirmajai.
        Ginčai dėl pirmųjų civilizacijų vyksta taip pat, kaip ir dėl vištos ir kiaušinio. Naudodamiesi iki šiol žinomais faktais, mokslininkai sudarė sąrašą ar aukščiausių 
        planetos civilizacijų, kurios buvo vienos pirmųjų. Pažvelkime į kai kuriuos iš jų žemiau.</p>
    <img src="{% static 'senoves_civil/images/home2_1.png' %}">
    <h4>Australijos aborigenų civilizacija</h4>
    <p>Kai kurie mokslininkai mano, kad aborigenai yra seniausia civilizacija, kuri Australijos žemyne vystėsi atskirai. Šis gyvenimo būdas negalėjo paveikti jų tradicijų, 
        gyvenimo būdo ir kultūros.
        Ko gero, pirmoji civilizacija buvo Australijos aborigenai. Kiekvienoje gentyje visi buvo lygūs. Daugelį metų aborigenų civilizacija buvo laikoma primityviausia. 
        Tiesą sakant, jų kultūra yra gana turtinga, tačiau ji mums visiškai nesuprantama, todėl ji yra menkai ištirta. Ši unikali kultūra šiandien nyksta dėl britų invazijos į 
        Australiją. Jų kultūros paveldas greičiausiai nebus galima grąžinti.</p>
    <img src="{% static 'senoves_civil/images/home2_2.jpeg' %}">
    <h4>Atlantida</h4>
    <p>Civilizaciją, kurią mes vadiname Atlantida, Platonas minėjo kaip egzistavusią maždaug prieš devynis tūkstančius metų netoli Gibraltaro sąsiaurio. Tikėtina, kad Atlantida 
        nuskendo dėl pražūtingas žemės drebėjimas.
        O senovės Atlantida vyksta aršios diskusijos Mokslininkai ir istorikai ir toliau diskutuoja, ar Atlantida buvo pati pirmoji ir seniausia civilizacija ir ar ji egzistavo.</p>
    <img src="{% static 'senoves_civil/images/home2_3.jpeg' %}">
    <h4>Lemūrija (Mu)</h4>
    <p>Yra hipotezė apie civilizacijos, vadinamos Lemūrija, egzistavimą. Mokslininkai mano, kad jis atsirado maždaug prieš aštuoniasdešimt tūkstančių metų didžiuliame Lemūrijos 
        žemyne.
        Senovės Lemūrijos palikimas Ši seniausia civilizacija, gyvavusi maždaug penkiasdešimt tūkstančių metų, buvo sunaikinta žemės drebėjimo. Manoma, kad Lemūrijos tautos 
        įvaldė didelių akmeninių pastatų, kurie gali atlaikyti žemės drebėjimus, statybą. Statybos technologija yra reikšmingiausias lemūriečių pasiekimas. Pakankamai sunku 
        pasakyti, kada gimė slavų civilizacija, nes yra daug prieštaringų sprendimų ir versijų. Slavų civilizacija buvo pavadinta Hiperborea. Ji egzistavo gana ilgą laiką. 
        Hiperborėjos nuosmukis prasidėjo pasikeitus mūsų planetos sukimosi ašiai. Dėl to kilusių klimato pokyčių slavų civilizacija buvo priversta persikelti į derlingesnes žemes.
        Proslavų civilizacija Hiperborea Slavų išvykimas į naujas žemes buvo paskata plisti Slavų kultūra... Dėl gyventojų perskirstymo tapo įmanoma įkurti nemažai naujų 
        civilizacijų. Senovės slavų civilizacijos visuomenė buvo sukurta remiantis tautinės vienybės principu. Draugijos vadovo vaidmenį atliko dvasinių valdžių atstovai, kurie 
        buvo Senolių tarybos nariai. Slavai nebuvo uždara tauta, jie aktyviai vertėsi prekyba su užsieniečiais, priėmė kitų valstybių ambasadorius. Gyvybės kilmės paslaptį jie 
        laikė švenčiausiomis paslaptimis. Šių žinių jie niekam neatskleidė. Gyvybės kilmės paslaptį saugojo specialūs kunigai - Šeimos sargai.
        Senovės slavų pėdsakai randami beveik visoje Europoje.Senovės slavai buvo pagonys, dievinantys gamtos jėgas. Pagrindiniai jų dievai yra Perunas, Velesas, Yarilo ir Dievo 
        burna. Slavai neturėjo bendrų idėjų apie dievus, nes jie niekada nebuvo vieningi savo įsitikinimuose. Manoma, kad slavų civilizacija pasiekė aukščiausią tašką laikotarpiu 
        nuo septintojo iki devintojo amžiaus pradžios. Audimas, kalvystė, ginklai, papuošalai ir keramika buvo aukšto lygio. Tarp slavų buvo ir ikikrikščioniškas raštas, kai kurios
        raidės buvo graikiškos, kai kurios priminė germanų runas.</p>
    <img src="{% static 'senoves_civil/images/home3.webp' %}">
    <h4>Pati pirmoji civilizacija Žemėje</h4>
    <p>Pirmieji žmonės, pasak istorikų, pasiekę civilizacijos lygį, gali būti laikomi šumeriais. Jie gyveno maždaug IV amžiuje prieš Kristų. Šumerų civilizacija priskiriama 
        urbanistiniam tipui, nes ją sudarė kelios nepriklausomos miestų valstybės. Reikšmingiausi iš jų yra Lugashas, Uras, Eridu, Urukas, Uma, Akkadas, Nipūras ir Siparas. 
        Visi šie miestai buvo Mesopotamijos rajone.
        Pati pirmoji pasaulio civilizacija yra senovės slavai.Žinoma, kad šumerai turėjo žinių apie Saulės sistemos struktūrą, žinojo trejopą pasakojimą, turėjo supratimą apie 
        protingą gyvenimą. Dėl nuolatinių karų tarp miestų-valstybių šumerų kultūra gerokai susilpnėjo. Maždaug du tūkstančiai pr. Kr. Ši senovės civilizacija sunyko. Senovės 
        nuomone, pirmoji civilizacija atsirado kažkur Tolimojoje Šiaurėje, tačiau pasirodė, kad ją palaidojo begaliniai arktinis ledas... Panašių minčių turėjo egiptiečiai, kinai, 
        indai ir eskimai. Slaptų žinių adeptai teigia, kad Šiaurės ašigalis, kuris dabar yra padengtas ledu, kažkada buvo žmonijos lopšys, savotiškas idiliškas Edenas. Pirmosios 
        žmonių civilizacijos numatė pirmųjų religijų atsiradimą.
        Seniausios Žemės planetos civilizacijos klausimas vis dar atviras.
        Atlantida
        Yra daug hipotezių apie Atlantidą - nuskendusį žemyną, kuris pirmą kartą paminėtas dialoguose (Timėjas, Kritijas - 359-347 m. Pr. Kr.). tariamai egzistavo prieš devynis 
        tūkstančius metų Gibraltaro sąsiauryje ir nuskendo per niokojantį žemės drebėjimą. Apibūdindamas atlantų gyvenimo būdą, Platonas šiame žemyne parodė aukštą civilizacijos 
        lygį. 2004 m. Daktaras Raineris Kuenas (Vokietija), palydovinėse pietvakarių Ispanijos nuotraukose, pastebėjo Platono dialoguose aprašytų pastatų fragmentus ir padarė 
        prielaidą, kad ten reikia ieškoti Atlantidos. Tačiau nepaisant gyvų diskusijų, kurias sukėlė daugybė versijų apie Atlantidos kaip seniausios civilizacijos egzistavimą, 
        mokslininkų tyrimai dar nė vieno iš jų nepatvirtino. Lemūrija XIX amžiaus viduryje atsirado dar viena prielaida apie seniausią civilizaciją žemėje. Šis žemynas vadinamas 
        Lemūrija arba Mu ir tariamai buvo įsikūręs pietuose. Ramusis vandenynas, ir tada kažkoks natūralus kataklizmas sunaikino seniausią žemyną. Apie jį primena tik mažos 
        uolėtos Ramiojo vandenyno salos: Taitis, Samoa, Havajai, Velykų sala ir tt Hipotezės apie Lemūrijos egzistavimą - Mu taip pat dar neturi mokslinių įrodymų.
        Paskendęs miestas
        Dar viena paslaptinga hipotezė apie seniausią civilizaciją iškilo 2001 m., Kai vakarinėje Indijos dalyje esančio Kambajaus įlankos dugne buvo rasti didžiulio miesto 
        griuvėsiai. Tyrimai parodė, kad miestas yra keturis tūkstančius metų senesnis už seniausią Indijos civilizaciją. Šio radinio tyrimas dar nebaigtas.
        Šumerų civilizacija
        Šumerų civilizacijos, kuri laikoma seniausia Žemėje, egzistavimas tolimoje praeityje buvo oficialiai patvirtintas, jai yra apie šešis tūkstančius metų. Šumeras buvo 
        pelkėtose Tigro ir Eufrato upių pakrantėse Mesopotamijoje, kuri yra šiuolaikinio Irako pietuose. Mokslininkai pradėjo kalbėti apie aukštą šumerų civilizacijos lygį po 
        to, kai jie iššifravo unikalių žmonių plyšinius tekstus. Šiuose tekstuose kalbama apie laikotarpį nuo 29-28 amžių iki III-I pr. Šumerų kalba nepanaši į jokią kitą kalbą 
        žmonijos istorijoje. Tačiau mokslininkams vis tiek pavyko perskaityti šumerų laiškus. Šiuose tekstuose užšifruota informacija šokiravo tyrėjus. Paaiškėjo, kad šumerai 
        turėjo tokių žinių, kurių negalima manyti iš seniausių tautų. Jie mokėjo matematiką, chemiją, fiziką, astronomiją, mediciną ir pirmieji žemėje įvaldė rašymą. Jie laikė 
        save planetos Nibiru, esančios tarp Marso ir Jupiterio, palikuonimis. Saulės sistema kartą per 3600 metų. Pietuose gyvenantys šumerai buvo tvirti, žemo ūgio žmonės su 
        apvaliomis nuskustomis galvomis. Taip jie vaizdavo save statulose, aptiktose kasinėjant šumerų gyvenvietes. Šiaurinėje Mesopotamijoje apsigyveno akidai - stepiniai 
        klajokliai. Jie, skirtingai nei šumerai, buvo aukšti, liekni žmonės ilgais juodais plaukais ir barzda, pailgais veidais. Jie buvo vadinami „inkštirais“. Dauguma garsūs 
        miestaiŠumerai: Lagosas ir Uma. Būtent ten archeologai rado vertingiausius laiškus, pasakojančius apie šumerų gyvenimą, jų idėją apie pasaulio sandarą, meną, religiją ir 
        mokslų išsivystymo lygį. Taip pat žinoma, kad miestai -valstybės turėjo savo valdovus - pathesi (dabar šį žodį skaito „ens“). Iš pradžių Lagashi pathesi buvo valdovas 
        Eannatumas (III tūkst. amžiuje prieš Kristų) Gudea. Gudėja garsėja archeologų rastu užrašu ant esos statulos, kurioje pasakojama, kaip Gudea pastatė dievui Ningirsu 
        skirtą šventyklą. Archeologai aptiko šios šventyklos-rūmų griuvėsius. Vidaus apdaila, durys, kolonos pagamintos iš brangios medienos su vario ir bronzos dekoracijomis. 
        Šventyklos kieme buvo baseinas ir akmens plokščių platforma, išklota palmėmis.
        Australijos aborigenai
        Kai kurie tyrinėtojai turi pagrindo manyti, kad viena seniausių civilizacijų buvo Australijos aborigenai, kurių palikuonys vis dar gyvena šiame žemyne. Žmonės gyveno 
        gentyse, kur net nebuvo lyderių, visi buvo lygūs. Vyrai medžiojo kengūras, o moterys rinko vaisius ir valgomus augalus. Ši civilizacija neturėjo raidžių, šventyklų, rūmų.
        Remiantis mokslininkų apibrėžimu, civilizacija yra socialinės sistemos etapas, kuriam būdingas žemės ūkio ir amatų vystymasis, miestų, socialinių klasių egzistavimas, 
        rašymas, taip pat progresyvus ir racionalus gyventojų mąstymas. Žmonijos istorija skaičiuojama tūkstantmečiais, ir per šį laikotarpį gimė ir mirė ne viena labai išvystyta 
        ir galinga civilizacija. Kokios buvo seniausios civilizacijos Žemėje, kaip jos vystėsi, ką pasiekė ir kaip įtakojo šiuolaikinis pasaulis</p>
    <img src="{% static 'senoves_civil/images/home4.webp' %}">
    <p>Šumerų civilizacija atsirado IV - III tūkstantmečio pr. NS. teritorijoje tarp Artimųjų Rytų upių Tigro ir Eufrato. Čia šumerai pastatė kelis įtvirtintus miestus, kurių 
        ekonomika buvo pagrįsta derlingos žemės, laistomos drėkinimo kanalų tinklu, auginimu.
        Kiekvienas šumerų miestas buvo atskira nepriklausoma valstybė, turinti savo valdovą ir globėją dievybę. Juose galėtų tilpti 50–60 tūkst. Savotiška sostinė buvo Nipuro 
        miestas, kuriame buvo pagrindinio šumerų religijos dievo Enlilo šventovė.
        Jau tais tolimais laikais šumerai:
        •	pastatytos aukštos akmeninės sienos ir monumentalūs pastatai;
        •	kasamas ir naudojamas varis;
        •	buvo susipažinęs su ratu ir juo naudojosi;
        •	turėjo pažangių žinių astronomijos srityje;
        •	saugojo istorinę kroniką.</p>
    <img src="{% static 'senoves_civil/images/home5.webp' %}">
    <p>Tačiau pagrindiniu jų pasiekimu laikomas kirminio rašto išradimas, ankstyviausia rašymo forma, kurios seniausias pavyzdys yra molio lentelė, maždaug datuojama 3–5 tūkst. 
        NS. Ir nors šumerų civilizacija nustojo egzistuoti 24 amžiuje prieš Kristų, užkariauta Babilono karalystės, jos atmintis buvo išsaugota žinomame ir nejudančiame zodiako 
        rate, taip pat dienos suskirstymas į valandas, minutes ir sekundes, ir metai į sezonus ir mėnesius.
        Senovės Egiptas yra istorinio regiono ir kultūrinės senovės civilizacijos pavadinimas, nusidriekęs palei Nilo pakrantę jo apatinėje dalyje. Jos istorija siekia 40 šimtmečių.
        Civilizacijos vystymąsi lėmė kasmetiniai upių potvyniai, paliekantys derlingą dumblą dirvožemyje, ir drėkinimo kanalų sistema. Jie leido šiose žemėse per daug auginti 
        grūdines kultūras, todėl buvo galima aprūpinti maistu ne tik savo gyventojus, bet ir pradėti prekybą su Viduržemio jūros šalimis.</p>
    <img src="{% static 'senoves_civil/images/home6.webp' %}">
    <p>Be žemės ūkio, Egiptas tuo metu garsėjo pažangiomis statybos technologijomis. Jie leido organizuoti kolektyvinę didžiulių statinių, išgyvenusių šimtmečius ir tapusius 
        šiuolaikinio Egipto simboliais, statybą:
        •	piramidės ir sfinksas;
        •	šventyklų ir rūmų kompleksai su monumentaliomis statulomis ir spalvingais sienų paveikslais.
        Kiti senovės egiptiečių pasiekimai apima originalią rašymo sistemą, matematikos, astronomijos ir praktinės medicinos pasiekimus. Savita ir paslaptinga Egipto kultūra 
        traukė žmones net senovėje, ji vis dar populiari ir šiandien.</p>
    <img src="{% static 'senoves_civil/images/home7.webp' %}">
    <p>Indijos ar Harapos civilizacija Žemėje egzistavo 33-13 amžiuje prieš Kristų. Jis išsivystė Indo upės slėnyje ir išsiskyrė didžiausia visų tuomet egzistavusių civilizacijų 
        teritorija, kurioje gyvena maždaug 5 milijonai žmonių.
        Dirvožemio derlingumas, augalų įvairovė ir natūrali vietovės drėgmė prisidėjo prie pagrindinio Harrapo žmonių užsiėmimo - žemės ūkio - vystymosi. Jie gyveno įtvirtintuose 
        miestuose, kurie išsiskyrė teisingu išdėstymu, vandens tiekimu ir kanalizacija.</p>
    <img src="{% static 'senoves_civil/images/home8.webp' %}">
    <p>Jau tuo metu senovės indai:
        •	naudojo vario ir bronzos įrankius bei ginklus;
        •	sugebėjo gaminti patvarius mineralinius ir augalinius dažus, aromatus ir nuodus;
        •	gamino stiklą ir dirbtinius brangakmenius.
        Svarbiausi Harrapo civilizacijos laimėjimai - vienos patogiausių ir plačiausiai paplitusių skaičių sistemų išradimas - dešimtainis ir Vedų - seniausio žinomo sakralinių 
        tekstų rinkinio - įrašymo pradžia.
        Kinijos civilizacija turi ilgą ir įdomi istorija, o jo ypatumas yra tas, kad jis išsivystė atskirai nuo kitų senovės civilizacijų centrų. Šios šalies teritorija visada 
        buvo tankiai apgyvendinta, daug kariaujančių karalystių pakeitė viena kitą.
        Tačiau galingiausios Kinijos valstybės istorija prasidėjo III amžiuje prieš Kristų. e., kai Čin karalystės valdovas sujungė 7 stipriausias karalystes į vieną imperiją ir 
        atliko kardinalias reformas, kurios paveikė visas visuomenės sritis. Šis laikas pasižymėjo žemės ūkio ir amatų plėtra, puikių filosofinių, romantiškų, istorinių ir 
        religinių kūrinių kūrimu.</p>
    <img src="{% static 'senoves_civil/images/home9.webp' %}">
    <p>religinių kūrinių kūrimu.
        Vėlesniais amžiais Kiniją valdė daug kitų - tiek vietinių, tiek svetimų dinastijų, o imperijos galios laikotarpius dažnai pakeitė nuosmukio laikotarpiai. Tačiau šalis 
        visada kilusi iš kiekvienos krizės oriai, sugebėjusi išsaugoti savo nacionalinę tapatybę ir padidinti savo kultūrinę gerovę.
        Senovės Kinija, kaip ir jokia kita senovės civilizacija, suteikė pasauliui daug technologijų ir išradimų, kuriuos naudojame ir šiandien:
        •	šilkas;
        •	porcelianas;
        •	popierius;
        •	milteliai;
        •	tipografija,
        taip pat dešimtys kitų ne mažiau svarbių išradimų, be kurių šiuolaikinis pasaulis nebūtų tapęs toks, koks yra dabar.</p>
    <img src="{% static 'senoves_civil/images/home10.webp' %}">
    <p>Tai senovės šalis užėmė siaurą žemės juostą rytinėje Viduržemio jūros pakrantėje, kurią nuo likusios šalies ribojo Libano kalnai. Pirmosios gyvenvietės jame atsirado apie 
        3 tūkstančius metų prieš mūsų erą. NS.
        Po kelių šimtmečių miestai buvo jų vietoje - Ugaridas ir Arvadas šiaurinėje dalyje, Tyras ir Sidonas pietuose, Byblosas centre. Jie buvo įtvirtinti galingomis sienomis ir 
        pastatyti iš 2 aukštų plytų ar mūrinių namų. Vietiniai gyventojai užsiėmė:</p>
    <img src="{% static 'senoves_civil/images/home11.webp' %}">
    <p>•	laikomos avys ir karvės;
        •	augino vynuoges, alyvuoges ir datas;
        •	prekiavo alyvuogių aliejumi, vynu ir garsiųjų Libano kedrų, kiparisų ir ąžuolų mediena;
        •	gamino purpurinius dažus ir juo dažė audinius, kuriuos pamėgo visų kaimyninių valstybių didikai.
        Finikiečiai davė pasauliui abėcėlę, kuri tapo daugelio šiuolaikinių abėcėlės protėvių, taip pat kai kurių kitų rašymo sistemų.
        Šiuolaikinė žmonija daug skolinga šiai senovės civilizacijai, įsikūrusiai pietinėje Balkanų pusiasalio dalyje ir Egėjo jūros salose. Mažoji Senovės Graikija savo klestėjimo 
        laikais išsiskyrė net tarp galingų savo laikų galių - Egipto, Babilonijos ir Persijos - ir visų pirma ne užkariavimais, o kultūrine įtaka amžininkams.</p>
    <img src="{% static 'senoves_civil/images/home12.webp' %}">
    <p>Būtent čia pagrindinės filosofijos, politikos, socialinės struktūros, medicinos, sporto, literatūros, meno ir švietimo sąvokos gimė ta pačia prasme, kokia yra įprasta 
        suprasti šiandien. Bet kokia sfera šiuolaikinis menas(teatras, architektūra, tapyba, muzika, literatūra) ar mokslas, vienaip ar kitaip, patyrė šios nušvitusios būsenos 
        įtaką.</p>
    <img src="{% static 'senoves_civil/images/home13.webp' %}">
    <p>Žvelgiant į Senovės Graikiją šiuolaikinis žmogus neatsiejamai susijęs su:
        •	didingos marmurinės šventyklos ir statulos;
        •	žavi mitologija;
        •	teatras;
        •	originalios freskos ir keramika;
        •	Olimpinės žaidynės.
        Visa tai daro Senovės Graikija viena įdomiausių ir patraukliausių senovės civilizacijų, kada nors egzistavusių Žemėje. Menų ir mokslo pirmtakas, ji vis dar traukia žmonių, 
        kurie žavi žmonijos istorija, dėmesį.</p>
    <img src="{% static 'senoves_civil/images/home14.webp' %}">
    <p>Seniausių pasaulio civilizacijų sąrašas nebūtų baigtas be didingos senovės Romos. Tai viena didžiausių imperijų pasaulio istorijoje, savo jėgos viršūnę pasiekusi II a. NS. 
        ir paliko įsimintiną pėdsaką visose žemėse, kuriose galėjo aplankyti jos pergalingi legionai. Tai akmeniniai įtvirtinimai ir keliai, akvedukai ir tiltai, išmesti per 
        vietines upes. Visų šių konstrukcijų statyba tapo įmanoma po to, kai romėnai išrado betoną ir arką kaip pagrindinę architektūros detalę.
        Pačiame Amžiname mieste yra ką pamatyti. Tai žinomi:
        •	Koliziejus ir cirkai, kuriuose vyko gladiatorių kovos;
        •	Romos forumas, kuris kadaise buvo miesto visuomeninio gyvenimo centras;
        •	Panteonas, kuris išsiskiria didžiausiu kupolu, kurį turėjo senovės pastatai;
        •	Palatinas - garsiausia ir didžiausia Romos kalva, kur prasidėjo jos istorija;
        •	didžiulės Karakalos ir Diokletiano vonios ir daug daugiau.
        Paveldas Senovės Roma gerai žinoma - tai romėnų teisė ir lotynų kalba, taip pat krikščionybė, kilusi iš Romos imperijos teritorijos.
        Tai seniausia civilizacija, atsiradusi Pietų Amerikos žemyne. Jo formavimosi pradžia yra XX a. e., tačiau didžiausią išsivystymą jis pasiekė klasikiniu laikotarpiu, 
        kuris truko nuo III iki X a. NS. Majų kultūros klestėjimo laikotarpis truko neilgai - jau atėjus ispanų užkariautojams ji buvo visiškai sunykusi.</p>
    <img src="{% static 'senoves_civil/images/home15.webp' %}">
    <p>Majų imperijos teritorijoje buvo apie 1000 gyventojų turinčių miestų su prabangiais akmeniniais rūmais, plačiomis aikštėmis, didžiulėmis laiptų piramidės šventyklomis. 
        Miestus siejo gerai prižiūrimų asfaltuotų kelių tinklas su kelių stotimis ir užeigomis, kai kurios jų išlikusios iki šių dienų.
        Garsiausi majų miestai:
        •	Chichen Itza;
        •	Palenque;
        •	Tikal;
        •	Uxmal;
        •	Kopanas;
        •	Quirigua.
        Senovės majai buvo puikūs matematikai ir astronomai, tai liudija ir garsiojo saulės kalendoriaus sukūrimas. Tačiau pagrindinė dovana, kurią pasauliui pristatė ši senoji 
        Indijos civilizacija ir jos pasekmės, yra augalai, kuriuos vietiniai gyventojai naudojo maistui (kukurūzai, bulvės, pomidorai, pupelės, moliūgai, paprika ir daržovių 
        pipirai), taip pat tabakas .</p>
    <img src="{% static 'senoves_civil/images/home16.webp' %}">
    <p>Milijonai žmonių visame pasaulyje, kaip ir jūs ir aš, mėgsta senovės civilizacijas. Tiesa ta, kad daugelis civilizacijų, egzistavusių Žemėje nuo neatmenamų laikų, turėjo 
        technologijas, kurios yra nesuprantamos ir dabar. Prieš tūkstančius metų senovės kultūros turėjo nuostabių žinių - nuo astronomijos ir biologijos iki chemijos ir 
        inžinerijos.
        1. Senovės Egipto civilizacija
        Senovės egiptiečių kalba laikoma viena seniausių Žemėje. Ji egzistuoja penkis tūkstantmečius ir yra laikoma ilgakele didelėje kalbų šeimoje. Mokslininkų teigimu, šią kalbą 
        galima suskirstyti į penkis etapus: senąjį egiptietį, vidurinį egiptietį, naująjį egiptietį, demotinį ir koptų. Rašymo sistemą sudarė hieroglifai, o jos vystymąsi galima 
        atsekti 2690 m.
        Moksliškai senovės egiptiečiai aplenkė savo laiką: jau 1650 m. jie žinojo daugybą, dalybą, trupmeninius ir pirminius skaičius, tiesinės lygtys ir geometrija. Jie oficialiai 
        laikomi piramidžių statytojais. Bet turbūt įdomiausia tai, kad jie tapo pirmąja senovės civilizacija, išmokusia matuoti laiką. Egiptiečiai ne tik sugalvojo kalendorių, bet 
        ir sukūrė laiko sekimo mechanizmą - vandens laikrodį ir saulės laikrodį.
        2. Senovės civilizacija Majų</p>
    <img src="{% static 'senoves_civil/images/home17.webp' %}">
    <p>Kaip ir senovės egiptiečiai, majai taip pat buvo puikūs astronomai ir matematikai. Jiems priskiriama - nors tai labai prieštaringas klausimas- nulio išradimas, taip pat 
        stulbinančiai tikslus Saulės metų ilgio matavimas.
        Senovės majai gyveno Meksikos pietuose, Gvatemaloje ir Belize. Jie buvo viena iš svarbiausių ir pažangiausių senovės civilizacijų, kada nors egzistavusių Žemėje. Ypač 
        garsūs yra majų rankraščiai - vienintelė prieškolumbinio Šiaurės ir Pietų Amerikos rašymo sistema. Ankstyviausi įrašai, vėliau rasti San Bartolo mieste (Gvatemaloje), buvo 
        padaryti trečiajame amžiuje prieš Kristų.
        Įdomu, kad ši senoji Mesoamerikos civilizacija puikiai įvaldė gumos gaminių gamybos technologiją - ir tai įvyko prieš tris tūkstančius metų, kol žmonės iš Senojo pasaulio 
        sužinojo, kas yra guma. Kai Ispanijos konkistadorai pirmą kartą įžengė į Amerikos žemyną, jie stebėjosi, kad jiems tenka susidurti ne su primityvia, o su labai išvystyta kultūra.
        3. Indo slėnio civilizacija
        Manoma, kad senovės Indijos civilizacija yra seniausia planetoje. Jai yra 8 tūkstančiai metų, o šitai - tūkstančiu metų Senovės Egiptas ir Mesopotamija. Jis garsėja keliais 
        nuostabiais dalykais, bet visų pirma geru miesto planavimu. Prieš statydami tokius miestus kaip Harappa ir Mohenjo-Daro, jų dizaineriai suprojektavo kiekvieną iš daugelio 
        detalių. Mokslininkų teigimu, Indo slėnio civilizacijos klestėjimo laikais čia gyveno </p>
    <img src="{% static 'senoves_civil/images/home18.webp' %}">
    <p>daugiau nei penki milijonai gyventojų. Senovės induistai vieni pirmųjų pastatė namus iš keptų plytų, kuriuose įrengtos itin sudėtingos nuotekų ir vandens tiekimo sistemos.
        Jie pasiekė neįtikėtiną masės, ilgio ir laiko matavimo tikslumą, vieni pirmųjų sukūrė vienodų svorių ir matų sistemą.
        4. Senoji Karaliaus civilizacija
        Viena paslaptingiausių ir pažangiausių civilizacijų, kada nors egzistavusi Pietų Amerikoje. Jis buvo įsikūręs šiuolaikinės Peru pakrantės regionuose. Istorikų teigimu, ši 
        civilizacija išrado kirminę - vieną iš ankstyviausių rašytinio bendravimo formų.
        Karalius yra viena sudėtingiausių senovės civilizacijų, kada nors egzistavusių Žemėje. Prieš tūkstančius metų jie sukūrė piramides, apskritas aikštes ir įmantrius laiptus. 
        Jų piramidės kompleksas užima didžiulį 165 arų plotą ir yra vienas didžiausių Žemėje. Šios piramidės buvo pastatytos kartu su senovės Egipto piramidėmis. Pagrindinis užima 
        beveik keturių futbolo aikštelių plotą, o jo aukštis yra 18 metrų.
        Svarbiausia detalė, kurią reikėtų paminėti kalbant apie Karalių, yra ginklų ir sugadintų kūnų nebuvimas kasinėjimo vietose. Ten nerasta nė vieno karo ženklo, kuris leidžia 
        daryti išvadą: Karalas buvo labai išvystyta diplomatinė valstybė, seniausias miestas vakariniame planetos pusrutulyje.
        Pasirodo, kad ši praktiškai nežinoma senovės Peru civilizacija prieš daugiau nei 5 tūkstančius metų sukūrė pažangius agronomijos, medicinos, inžinerijos ir architektūros 
        metodus.
        Jų mokslo žinių nuvedė šiandienos tyrinėtojus į aklavietę. Mokslininkams nepavyko išsiaiškinti daugelio paslapčių, slypinčių šioje didžiausioje Pietų Amerikos 
        civilizacijoje. Tai susiję su energijos naudojimu, skysčių mechanika. Karaliaus gyventojai galėjo nukreipti vėjo energiją, dabar žinomą kaip Venturi efektas, požeminiais 
        kanalais ir gaisrais, kad pasiektų aukštą temperatūrą.
        Mokslininkams buvo smalsu sužinoti, kad Karaliaus gydytojai gluosnius panaudojo kaip aktyvią cheminę medžiagą gaminant aspiriną, kuris buvo naudojamas galvos skausmui 
        malšinti. Senovės inžinieriai buvo puikūs specialistai. Jie įvaldė civilinę inžineriją ir taikė atsparumo žemės drebėjimui technologijas, todėl jų pastatai išliko penkis 
        tūkstančius metų.</p>
    <img src="{% static 'senoves_civil/images/home19.webp' %}">
    <p>5. Senovės Tiahuanaco civilizacija
        Prieš tūkstančius metų Anduose, Titikakos ežero pakrantėje, kilo senovės civilizacija, kuri labai greitai tapo viena labiausiai išsivysčiusių Žemėje. Kaip ir daugelis kitų 
        išsivysčiusių civilizacijų, ji keistai dingo praėjus penkiems šimtams metų nuo savo egzistavimo pradžios. Jos atstovai sukūrė tokius pasakiškus miestus kaip Tiahuanaco ir 
        Puma Punku, taip pat tapo kitos puikios civilizacijos - senovės inkų - pradininkais.
        Pasak mokslininkų, Tiahuanaco „staiga“ atsirado kažkur apie 300 m.
        Senovės Tiahuanaco gyventojai sukūrė sudėtingus ūkininkavimo ir vandens kelių statybos metodus, kurie vis dar veikia šiandien. Šiuolaikinės, net ir pagal šiandienos 
        standartus, laistymo sistemos užtikrino reikiamo vandens kiekio tiekimą pasėliams.
        Tyrėjai apskaičiavo, kad 700-aisiais mūsų eros metais Tiahuanaco civilizacija dominavo ir valdė didžiulę teritoriją, apimančią dabartinę Peru, Boliviją, Argentiną ir Čilę. 
        Gyventojų skaičius svyravo nuo trijų šimtų tūkstančių iki pusantro milijono žmonių.
        Senovės Tiahuanaco statytojai, pastatydami milžiniškas struktūras iš megalitinių uolienų, sukūrė keletą įspūdingiausių senovės paminklų planetoje. Žymiausi šios senovės 
        civilizacijos statiniai yra Akapana, Puma Punku ir Rytų Akapana, Putuni, Keri Kala ir Kalasasaya. Vienas garsiausių statinių yra Saulės vartai.
        Pasak archeologo Arthuro Poznanskio, Tiahuanako šventyklos buvo pastatytos iš poliruoto akmens luitų, kuriuose buvo kelios eilės mažų apskritų skylių. Pasak Poznanskio, 
        šios skylės buvo naudojamos tolimoje praeityje, kad prie jų kažką pritvirtintų. Šios apvalios skylės yra labai tikslios ir sunku patikėti, kad senovės civilizacija jas 
        padarė be pažangių technologijų.
        Aš pakankamai žinau apie antikos civilizacijas - šis klausimas mane domino nuo mokyklos laikų. Deja, didžioji dalis mokykloje dėstomos medžiagos buvo paviršutiniška, todėl 
        informacijos turėjau ieškoti pati. Kadangi Amerikos čiabuvių istorija mane ypač domina, papasakosiu apie paslaptingiausią šiame žemyne gyvenusią civilizaciją.
        Senovės majų civilizacija
        Šios tautos istorijoje būdinga tai, kad jie vieni pirmųjų savo laiku nustatė tiesią liniją santykis tarp dangaus objektų ir derlingumo... Kunigai stebėjo dangų, tiksliai 
        numatydami tą momentą, kai ateis palankus sėjos metas. Be to, mes nustatėme, kaip žvaigždės juda priklausomai nuo konkretaus metų laiko. Astronomijos žinios išsiskyrė 
        ypatingu skaičiavimų sudėtingumu, todėl tikslumu metų ilgio buvo apskaičiuotas tiksliau nei net šiuolaikinis kalendorius. Majų astronomai nustatė, kiek laiko mėnulis sukasi 
        aplink mūsų planetą, ir tai leido tiksliai numatyti palydovo užtemimus... Didelis susidomėjimas yra originalus šių žmonių kalendorius, tiksliau, du. Viena skaičiavo 265 
        dienas, o antroji - 365.
        Atitinkamai, tokia informacijos apimtis reikalavo fiksavimo ateities kartoms, o tai lėmė rašto atsiradimas ir skaičiavimo sistemos. Ši tauta yra vienintelė iš visų, 
        gyvenusių to laikmečio Amerikoje, kurios rašymas buvo daug tobulesnis nei įprasti hieroglifai. Tačiau 9 amžiuje po Kristaus dėl nežinomų aplinkybių šie žmonės paliko savo 
        miestus. Kodėl? Ir kur jie dingo?Šiems klausimams vis dar nėra suprantamo paaiškinimo.
        Visuomenės struktūra
        Ypatinga visuomenės grupė buvo dievų tarnai - kunigai, kurie buvo suskirstyti į kastas:
        •	ideologai;
        •	astronomai;
        •	prognozuotojai;
        •	"Viską matantis".
        </p>
    <img src="{% static 'senoves_civil/images/home20.webp' %}">    
{% endblock %}
