{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/indas1.png' %}">
    <p>3000–1500 m. pr. m. e. šiaurės vakarų Indo slėnio dalyje (dabartinis Pakistanas) vystėsi Harapos ir Mohendžo Daro kultūra. Tai seniausia žinoma Indostano subkontinente 
        civilizacija, susiformavusi Sarasvati ir Indo upių slėniuose.</p>
    <img src="{% static 'senoves_civil/images/indas2.jpeg' %}">
    <h4>Civilizacijos kilmė ir paplitimas</h4>
    <p>VII−VI tūkstm. pr. m. e. minėtų upių baseinuose pagausėja nuolatinių gyvenviečių, kurių gyventojai augino kviečius, miežius, laikė karves, avis, ožkas; be akmeninių 
        vartojo ir varinius bei bronzinius įrankius. Apie 3100 m. pr. m. e. minėtoje teritorijoje atsiranda pirmieji įtvirtinti miestai. Beje, vadinamoji „Ankstyvoji Indo 
        slėnio kultūra“ (jai būdinga keramika, variniai įrankiai ir karoliai iš pusbrangių akmenų, aptinkami daugiausia Pandžabe) dabar daugelio tyrinėtojų laikoma jau nebe 
        Harapos kultūros „ankstyvąja faze“ ar „prototipu“, o šiai kultūrai gimininga savita archeologine kultūra.
        Harapos kultūra (kartais „tradiciškai“ pavadinama ir „Indo slėnio kultūra“, − nepaisant to, kad Indo slėnyje buvo paplitęs tik periferinis šios kultūros variantas), 
        kuri chronologiškai beveik sutampa su senovės Egipto ir Šumero civilizacijomis, susiformavo vad. Protoharapiškosios (arba „Hakros keramikos“) kultūros pagrindu ir 
        egzistavo nuo IV tūkstm. pr. m. e. pabaigos iki maždaug 1900 m. pr. m. e. Jos miestų liekanas dabartinio Pakistano teritorijoje 1921−1922 m. atrado Indijos Archeologijos 
        tarnybos surengta ekspedicija. Naujausi atradimai rodo, kad ši kultūra kurį laiką aprėpė didžiulę teritoriją nuo Persų įlankos vakaruose iki Gango aukštupio baseino rytuose 
        ir nuo buvusios tarybinės Vidurio Azijos šiaurėje iki dabartinės Maharaštros valstijos pietuose.</p>
    <img src="{% static 'senoves_civil/images/indas3.jpg' %}">
    <h4>Kultūros gyventojų problema</h4>
    <p>Iki šiol nėra visiškai aišku, „kieno“ ši civilizacija buvo. Labiausiai šis klausimas kaitina aistras pačioje Indijoje. Nacionalistiškai nusiteikęs gyventojų sluoksnis 
        aktyviai gina idėją, kad Harapos kultūros gyventojai buvo arijai ir tuo pačiu neigia akademikų tarpe pripažintą hipotezę, kad arijai į šį subkontinentą atsikraustė 
        pačiai kultūrai jau žlugus. Nacionalistų teigimu, Harapos klestėjimas atitinka vėlyvąjį Vedų laikotarpį, ką akivaizdžiai paneigia lingvistiniai duomenys. Akademikai ir 
        toliau labiau linkę pritarti minčiai, kad Harapos kultūra buvo protodravidiška.</p>
    <img src="{% static 'senoves_civil/images/indas4.png' %}">
    <h4>Miestai</h4>
    <p>Vieni didžiausių Harapos kultūros miestų – Harapa (vedinė Harjupija) ir Mohendžo-Daras (sąlyginis pavad.) – maždaug 2,5 km² ploto gyvenvietės. Statūs gatvių susikirtimo 
        kampai liudija buvus vieningą miesto planavimą. Įspūdį palieka miestų vandentiekių sistema − šiuo atžvilgiu su jais negalėjo lygintis nei Londonas, nei Niujorkas XIX a. 
        Statybai buvo naudotos tiek degtos, tiek ir nedegtos plytos, kurių standartas buvo identiškas visuose atkastuose miestuose. Didieji miestai turėjo po maždaug 40 tūkst. 
        gyventojų.
        Įdomus Harapos kultūros bruožas yra praktiškumas. Nors architektūriniu ir technologiniu požiūriu statiniai yra aukšto lygio, tačiau dekoras kuklus ir atrodo, kad neteikta 
        daug reikšmės net centrinių rūmų puošybai.</p>
    <img src="{% static 'senoves_civil/images/indas5.jpg' %}">
    <h4>Amatai ir menas</h4>
    <p>Įrankiai ir indai jose gaminti daugiausia iš vario ir bronzos. Be įprastų namų apyvokos daiktų ir darbo įrankių Harapos kultūros miestuose dar buvo gaminami grąžtai, 
        ietigaliai, pjūklai, skustuvai, iš vario ir bronzos lietos žmonių ir gyvūnų statulėlės. Papuošalai gaminti iš vario, aukso, sidabro, švino ir pusbrangių akmenų, 
        garsieji Harapos kultūros antspaudai – iš tam tikro minkšto akmens arba terakotos. Taip pat randama daug molinių žaislų vaikams.</p>
    <img src="{% static 'senoves_civil/images/indas6.jpg' %}">
    <h4>Ūkis ir prekyba</h4>
    <p>Harapos kultūra pasižymėjo prijaukintų gyvūnų įvairove, nors arklių greičiausiai neaugino. Mokėjo apdirbti medvilnę.
        Labai svarbią vietą „harapių“ ekonomikoje užėmė prekyba. Jie intensyviai prekiavo su Mesopotamija (apie tai byloja, be kita ko, Ūre ir kt. Mesopotamijos miestuose 
        aptinkami „harapiški“ antspaudai). „Harapių“ eksportą į Šumerą sudarė daugiausia varis, auksas, medvilnė, mediena, dramblio kaulas, juvelyriniai dirbiniai, importą – 
        alavas, sidabras, bitumas, vilnoniai audiniai, tikriausiai ir aliejus bei grūdai.</p>
    <img src="{% static 'senoves_civil/images/indas7.jpg' %}">
    <h4>Organizacija</h4>
    <p>Nepaprastas visame Harapos kultūros areale regimas materialinės kultūros vienodumas, „harapiškų“ svorio ir kt. matų vieningumas, taip pat visuose didesniuose šios 
        kultūros miestuose stūksojusios iš akmens ir plytų statytos neaiškios paskirties „citadelės“ bei didelės grūdų saugyklos leidžia daryti išvadą apie efektyvų centralizuotą 
        didžiulės teritorijos administravimą. Tačiau dėl Harapos kultūros atstovų valstybinės organizacijos tipo tyrinėtojai nesutaria, − vieni spėja jį buvus monarchinį, kiti – 
        teokratinį.</p>
    <img src="{% static 'senoves_civil/images/indas8.jpg' %}">
    <h4>Kalbos ir rašto problema</h4>
    <p>Rasiniu atžvilgiu Harapos kultūros atstovai buvo pietiniai europeoidai ir beveik nesiskyrė nuo dabartinių Harapos kultūros arealo gyventojų. Tuo tarpu dėl „harapių“ kalbos 
        nesutariama. Dauguma indologų mano anuometiniame Šiaurės Vakarų Indostane skambėjus vadinamąsias protodravidų ir kt. neindoeuropietiškas kalbas.
        Raštas iki šiol lieka neiššifruotas, nepaisant keleto skambių pastarųjų metų pretenzijų. Raštas piktografinis, iš viso rasta apie 400 skirtingų ženklų. Spėjama, kad buvo 
        rašoma iš dešinės į kairę. Daugiausia rašto pavydžių aptinkama ant molinių antspaudų.</p>
    <img src="{% static 'senoves_civil/images/indas9.png' %}">
    <h4>Religinis gyvenimas</h4>
    <p>Harapos kultūros miestuose būta religinės paskirties pastatų, religinę ar mitologinę prasmę neabejotinai turėjo daugelis tuose miestuose aptiktų terakotinių statulėlių 
        bei antspaudų (viename iš jų pavaizduota svastika). Iš dalyje „Harapos antspaudų“ matomų jaučio, buivolo, elnio, tigro, dramblio, raganosio ir kt. gyvūnų atvaizdų 
        paprastai daroma išvada apie „harapių“ visuomenėje paplitusį religinį gyvūnų garbinimą (kita vertus, minėtus atvaizdus galima interpretuoti ir kaip „harapių“ garbintų 
        dievybių zoomorfinius pavidalus, šiuolaikiniame hinduizme išlikusius kaip tų dievybių vahanos). Atrodo, Harapos kultūros miestuose garbinta „Didžioji Motina“, kai kuriais 
        savo bruožais primenanti vėlesnę Parvati. Daug diskusijų sukėlė medituojančios raguotos penkių gyvūnų apsuptos dievybės atvaizdas (Pašupačio antspaudas), − ji išvaizda ir 
        simbolika labai primena hinduizme labai svarbų Šivą (Pašupatį).</p>
    <img src="{% static 'senoves_civil/images/indas10.jpg' %}">
    <h4>Civilizacijos žlugimo priežastys</h4>
    <p>Urbanistinė Harapos, arba Sarasvati-Indo (anot Indijos mokslininkų) civilizacija žlugo maždaug 2000−1800 m. pr. m. e., tačiau ji toli gražu neišnyko nepalikdama jokių pėdsakų.
        Vadinamasis „posturbanistinis“ periodas truko apie tūkstantį metų. Nėra vieningos nuomonės apie šios civilizacijos žlugimo priežastis. Pagrindinės teorijos yra keturios: 
        1. klimato pasikeitimas ir žemės ūkio katastrofa; 2. stichinės nelaimės (Indo vagos pasikeitimas, didelių potvynių Mohendžo Dare pėdsakai, išdžiūvusi Sarasvati upė); 
        3. genčių, gal net indoarijų invazija; 4. epidemija.</p>
    <img src="{% static 'senoves_civil/images/indas11.jpg' %}">
{% endblock %}
