{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/jamas1.jpg' %}">
    <p>Jamas – paslaptingoji juodmedžio ir bumerangų šalis</p>
    <h4>Jamo Karalyste</h4>
    <p>Apie paslaptingąją Afrikos Jamo karalystę žinoma itin mažai. Ilgokai tikėta, kad ji buvo Senosios Egipto karalystės, egzistavusios 2650–2175 m. pr. Kr., prekybos partnerė 
        ir galbūt netgi varžovė, tačiau jos tiksli vieta nebuvo nustatyta. Karalystė neretai net lyginta su mitine Atlantida. Vadovaujantis senovės egiptiečių keliautojo Harkhufo 
        (manoma, gyvenusio XXIII a. pr. Kr.) antkapio įrašais, Jamas buvo „smilkalų, juodmedžio, leopardų kailių, dramblių ilčių ir bumerangų“ šalis. Nors, pasak Harkhufo, kelionė 
        iki Jamo sausuma trunka ilgiau negu 7 mėn., daugumos egiptologų nuomone, ši bumerangų žemė buvo kažkur visai netoli Nilo. Visuotinai gana ilgai buvo manoma, kad senovės 
        egiptiečiai niekaip negalėjo pereiti nykios ir itin didelės Sacharos dykumos. Dabar jau atrodo, kad istorikai labai nuvertino egiptiečių pirklius. 2007 m. užsienio spaudoje 
        paskelbta, kad tyrinėtojai maltietis Markas Borda ir egiptietis Mahmoudas Marai grįžta iš Sacharos dykumos ir tvirtina radę itin reikšmingą reliktą iš faraonų laikų. Jie 
        teigia žvalgę riedulių ir uolų lauką Libijos dykumoje (vienoje iš Sacharos dykumos dalių) apie 700 km į vakarus nuo Nilo slėnio ir pamatė didžiulę uolą su iškaltais 
        hieroglifais bei faraono atvaizdu. Tiksli radinio vieta neatskleidžiama norint jį apsaugoti. Anot M. Bordos, išvertus užrašus uoloje paaiškėjo, kad regionas, kuriame 
        jie buvo iškalti, buvo legendinės Jamo žemės. Jose gyveno viena iš paslaptingiausių tautų, su kuriomis prekiavo senovės egiptiečiai. Anot tyrinėtojo, dėl karalystės 
        buvimo vietos egiptologai ginčijosi daugiau nei 150 m., tačiau niekas net neįsivaizdavo, kad ji yra kažkur vidury Sacharos. Tiesa, kokiu būdu egiptiečiai kirto šimtus 
        kilometrų dykumos dar prieš išrandant ratą ir tik su nešuliniais asilais, tebėra gluminantis klausimas.</p> 
{% endblock %}
