{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/jemenas1.png' %}">
    <p>Senovės Jemenas, dar vadinamas Jemeno civilizacija, Pietų Arabijos civilizacija – senovinė civilizacija, klestėjusi Arabijos pusiasalio pietvakarinėje dalyje 
        (apytikriai dabartinio Jemeno teritorijoje) ir Eritrėjos bei šiaurinės Etiopijos teritorijoje I tūkst pr. m. e. – I mūsų eros tūkst. pradžioje, iki šalyje įsigalint 
        Islamui. Tai buvo viena iš senųjų pasaulio civilizacijų, vienalaikė Senovės Graikijai ar Senovės Romai. Ji labai stipriai paveikė senąją Etiopijos istoriją.
        Senovės Jemenas amžininkų senovės graikų ir romėnų buvo vadinamas Laimingąja Arabija (gr. Eudaimon Arabia, lot. Arabia Felix).</p>
    <img src="{% static 'senoves_civil/images/jemenas2.jpg' %}">   
    <h4>Geografija</h4>
    <p>Senovės Jemeno civilizacija suklestėjo Arabijos pusiasalio pietvakarinėje dalyje, tose teritorijose, kur dabar yra Jemenas, pietvakarinė Saudo Arabija ir vakarinis Omanas. 
        Tai buvo kalnuotas regionas, iš visų pusių apsuptas dykumų ir jūros. Pajūrio teritorijos buvo nesveikos gyventi, drėgnos, be to nebuvo daug natūralių uostų. Visi 
        svarbiausi civilizaciniai centrai kūrėsi kalnuotose vietovėse žemyne, ypač ties didžiausiomis upėmis (vadi). Tačiau tik sėkmingai sukurtos dirbtinės irigacinės sistemos 
        leido sukurti derlingus plotus ir sudarė prielaidas civilizacijai.
        Senovėje Raudonoji jūra siauriausioje vietoje buvo lengvai perplaukiama paprasčiausiais laivais per vieną dieną, todėl Senovės Jemenas turėjo labai glaudžius kultūrinius 
        ir politinius ryšius su už Raudonosios jūros esančiomis Etiopijos aukštikalnėmis. Ten gamtinės sąlygos bei gamtinė įvairovė buvo panaši kaip ir Jemene, o dėl nuolatinių 
        kultūrinių santykių senovės Etiopijos kultūra (Damotas, Aksumo imperija) gali būti laikoma Senovės Jemeno dalimi.</p> 
    <img src="{% static 'senoves_civil/images/jemenas3.jpg' %}">
    <h4>Kahtanitai</h4>
    <p>II tūkst. pr. m. e. senovės Jemeno teritorija buvo apgyvendinta pietų semitų genčių. Dažniausiai manoma, kad šie semitai buvo kilę iš dabartinės Etiopijos teritorijos ir 
        migravo per Raudonąją jūrą. Jie buvo giminingi Etiopijos semitams amharams ir tigrajams.
        Pasak legendų, jie laikomi legendinio protėvio Kahtano palikuoniais, ir jiems duodamas pavadinimas kahtanitai. Tradicija /išskiria du pagrindines kahtanitų šakas, 
        kildinamas iš dviejų Kahtano sūnų: sėslius himjaritus, apgyvendinusius derlingas Jemeno teritorijas, ir nomadus kahlanitus, kurie klajojo aplinkinėse dykumose.
        Kahtanitai pradėjo statyti irigacinius įrenginius Maribo apylinkėse, ir iš čia civilizacija plito tolyn. Jų laikais tikriausiai vietos gentyse įsitvirtino vadų-žynių 
        (mukaribų) valdžia ir konsolidavosi pirmosios valstybės. Jų laikais prasidėjo smilkalų prekyba, kuri vyko Raudonąja jūra ir Arabijos pusiasaliu. Tai skatino vietos 
        kultūros vystymąsi.</p>
    <img src="{% static 'senoves_civil/images/jemenas4.jpeg' %}">
    <h4>Ankstyvoji fazė</h4>
    <p>Kahtanitai davė pradžią keletui didžiųjų Pietų Arabijos tautų, kurios galutinai iškristalizavo maždaug VIII a. pr. m. e. susiformavusiose valstybėlėse. Nuo tada atsirado 
        ir vietinė rašto sistema, leidžianti fiksuoti istoriją. Šiose valstybėse buvo statomi puikūs irigaciniai dirbiniai, tokie, kaip Maribo užtvanka, klestėjo žemdirbystė ir 
        ekonomika. Valstybės intensyviai prekiavo su šiaurės šalimis – Mesopotamija, Persija. Svarbiausios jų prekės buvo prieskoniai bei smilkalai, turėję didžiulę paklausą 
        Senovės pasaulyje.
        Valstybių centrai koncentravosi svarbiausiuose Jemeno upių (vadi) slėniuose, kur tapo įmanoma žemdirbystė ir irigacija. Svarbiausios tarp jų buvo penkios:
        Mainas (arab. معين Ma’in) buvo šiauriausia sėslių pietų arabų valstybė, kurios tauta vadinama minėjais (arab. المعينيون). Jų svarbiausi prekybiniai miestai buvo 
        Qarnawu (dabartinis Sadahas, laikomas valstybės sostine) ir Yathill (dabartinis Barakišas), kurie koncentravosi vadi Madhab.Saaba (arab. سبأ) buvo į pietus nuo Maino, 
        ir jos tauta buvo vadinama saabėjais. Ši valstybė buvo labiausiai klestinti ir žinoma iš visų. Jos sostinė per visą laikotarpį buvo Maribas, kuriame buvo statomos 
        didingos šventyklos, randama puikių meno dirbinių ir įrašų akmenyje. Ankstyvuoju laikotarpiu valstybė kontroliavo Raudonosios jūros pajūrį. Spėjama, kad saabėjai taip 
        pat kolonizavo dabartinės Etiopijos pakrantes, įkurdami ten Damoto karalystę. Saaba yra tapatinama su Biblijoje minima Šeba, iš kurios atvykusi karalienė Mikalda lankėsi 
        pas Saliamoną.
        Katabanas (arab. قتبان) buvo į pietus nuo Saabos ir iš pradžių priėjimo prie jūros neturėjo. Jo sostinė buvo Timna (vadi Baihan), kurioje susikirsdavo visi svarbiausi 
        Senovės Jemeno keliai.
        Ausanas (arab. أوسان) į pietus nuo Katabano. Tai buvo viena didžiausių šio laikotarpio valstybių su sostine Bisgog Yahirr (vadi Marcha). Jos ekonominės galios rėmėsi 
        priėjimu prie Adeno įlankos ir didžiausiu senovės Jemeno uostu Adenu. Ausaniečiai vieni pirmųjų ėmė kolonizuoti Afrikos pakrantes ir užmezgė tamprius prekybinius ryšius 
        su Indija.
        Hadramautas Ḥaḍramawt – buvo didžiausia ir ryčiausia valstybė, kurios gyventojai vadinti hadramiais. Valstybė turėjo priėjimą prie Adeno įlankos per stipriausią uostą 
        Qana. Jos sostinė buvo Šabva.
        Viena iš ankstyvojo laikotarpio mįslių yra Saabos karalienė, minima Biblijoje, kuri turėjo lankytis Izraelyje karaliaus Saliamono laikais (X a. pr. m. e.). Apie šią 
        karalienę išlikę legendos tiek tarp žydų, tiek Jemene, tiek Etiopijoje. Nėra galutinai sutariama, kas galėtų būti tuometine laikoma Saabos valstybe.</p>
    <img src="{% static 'senoves_civil/images/jemenas5.jpg' %}">
    <h4>Kovos dėl hegemonijos (VII–I a. pr. m. e.)</h4>
    <p>Jau VIII a. pr. m. e. pabaigoje stiprėjant trinčiai tarp penkių stipriausių Senovės Jemeno karalysčių, prasidėjo kovos dėl hegemonijos, kurių metu tai viena, tai kita 
        valstybė paimdavo valdžią Pietų Arabijoje, o jos valdovai tituluodavosi mukaribais.
        Pirmasis didesnis karas užfiksuotas VII a. pr. m. e., kuomet Saabos valdovas Karib-il Vataras užpuolė savo stipriausią konkurentą Ausaną ir jį nusiaubė. Nuo tada Ausanas 
        niekuomet nebeatsigavo (ilgainiui buvo užgožtas šiaurinio kaimyno Katabano), jo pagrindinis uostas Adenas atiteko Saabai, o pastaroji tapo stipriausia civilizacijos 
        politine jėga, vadovavusia konfederacijai.
        V a. pr. m. e. sugriuvus Maribo užtvankai, Saaboje prasidėjo vidinės nelaimės, kas sumažino jos galias. Dėl to IV a. pr. m. e. hegemoniją kuriam laikui įgijo Mainas, 
        o dar vėliau – Katabanas. Eratostenas III a. pr. m. e. mini keturias didžiąsias pietinės Arabijos tautas: Saabą, Mainą, Katabaną ir Hadramautą. Tuo metu teritorijai 
        prigijo pavadinimas Arabia Felix, t. y. „Laimingoji Arabija“.
        Tai buvo didžiausias civilizacijos klestėjimo laikotarpis. Jo metu vietos kultūra stipriai veikė Etiopijos šiaurines pakrantes, esančias už Raudonosios jūros, kur buvo 
        perduota daug civilizacijos pasiekimų. Etiopijoje susiformavo Damoto karalystė, suformuota pietų Arabijos karalysčių pavyzdžiu.</p>
    <img src="{% static 'senoves_civil/images/jemenas6.jpg' %}">
    <h4>Himjaras (I a. pr. m. e. – 518 m.)</h4>
    <p>Paskutiniaisiais amžiais pr. m. e. vakarinėse nederlingose pakrantėse įsigalėjo himjaritai, kurie siaubė nusilpusią Saabą, kol galutinai įsitvirtino viename jos miestų – 
        Zafare. Čia himjaritai sukūrė Himjaro karalystę, iš kurios vykdė tolimesnius užkariavimus: prieš pat mūsų eros pradžią Himjaras užkariavo Saabą, Katabaną, Mainą ir 
        vakarines Hadramauto teritorijas. Tai buvo pirmoji Himjaro imperija. Joje kultūros bruožai (valdovų titulai, raštas, kalba, architektūra ir menas) buvo didele dalimi 
        paveldėti iš Saabos.
        Erų sandūroje Senovės Jemeną siekė užkariauti Romos imperija, tačiau po Maribo apgulties romėnams nepasisekė. Vis dėlto, Romos įsigalėjimas šiaurėje, jos vykdoma 
        prekybinių kelių kontrolė, svarbaus uosto Adeno sunaikinimas, besikeičianti jūrų prekyba lėmė lėtą Senovės Jemeno silpimą. Šie procesai, taip pat klajoklių antpuoliai 
        lėmė Himjaro imperijos skilimą II a. Tuo metu vėl atsikūrė Saaba, Katabanas (Mainas ir minėjai iki to laiko jau buvo asimiliuoti). Labai sustiprėjo Hadramautas, kuris 
        užkariavo Katabaną netrukus po jo nepriklausomybės. Raudonosios jūros pakrantes tuo metu ėmė kontroliuoti Etiopija (Aksumas).
        III a. Himjaro galios vėl sustiprėjo, ir iki IV a. valstybė iš naujo suvienijo visą Senovės Jemeną, įskaitant ir Hadramautą. Valdovai titulavosi Saabos, zu-Raidano, 
        Hadramauto ir Jemeno karaliais, ir tai buvo pirmasis istorijoje pilnas Jemeno suvienijimas. Apie 340 m. Antroji Hadramauto imperija patyrė invazijas iš Aksumo, bet 
        apie 375 m. Malikaribas Juhaminas atkūrė tvarką. Ši imperija, egzistavusi iki VI a., priėmė naują religiją iš šiaurės – Judaizmą.
        Himjaras laikinai sugebėjo užvaldyti visą Arabiją, naudodamasis klajoklėmis gentimis, Ghasanidais, Lachmidais ir kitomis, kurios valdė milžiniškus plotus ir formaliai 
        priklausė Himjarui</p>
    <img src="{% static 'senoves_civil/images/jemenas7.jpg' %}">
    <h4>Aksumas ir Sasanidai</h4>
    <p>Nuo III a. teritorijoje vis labiau įsigalėjo Etiopijos valstybė Aksumo imperija, kuri kišosi į Pietų Arabijos reikalus. Aksumas kontroliavo nemažas teritorijas Jemeno 
        pajūryje.
        Įsigalint Judaizmui, Himjare prasidėjo krikščionių persekiojimai, kas labai apsunkino santykius su krikščionišku Aksumu. Pastarasis, remiamas Bizantijos, apie 518 m. 
        įsiveržė į Himjarą, jį prijungė ir paskyrė čia savo vietininką (valdė iki 525 m.). Nuo tada iki 570 m. Pietų Arabija priklausė Aksumui, čia siekta įdiegti krikščionybę, 
        buvo statomos bažnyčios.
        597/8 m. Sasanidai, vietos diduomenės prašymu, išvijo Aksumo vietininkus ir prijungė Pietų Arabiją prie savo imperijos. Ji tapo viena iš Persijos satrapijų.
        Sasanidų imperiją sužlugdžius islamizuotiems arabams, jos teritorijoje susikūrė Arabų Kalifatas. 628 m. Jemeno satrapas atsivertė į Islamą, ir Jemenas buvo sparčiai 
        islamizuotas.</p>
    <img src="{% static 'senoves_civil/images/jemenas8.jpg' %}">
    <h4>Ekonomika</h4>
    <p>Senovės Jemeno civilizacijos ekonominis pagrindas buvo taip vadinamasis smilkalų kelias – jūrinių ir sausumos prekybinių kelių sistema, sujungusi Jemeną su Egiptu, 
        Levantu, Indija. Svarbiausias Jemeno produktas buvo čia gausiai aptinkami smilkalai ir mira, tuo metu turėję didžiulę paklausą Senovės pasaulyje. Tačiau Jemene buvo 
        gausu ir aukso.
        Kai kurios teorijos Senovės Jemeną tapatina su Punto šalimi, į kurią Egiptas siųsdavo jūrines ekspedicijas dar II tūkst. pr. m. e., arba senovės hebrajų Ofiro šalimi. 
        Vėliau nusistovėjo sausumos karavanų keliai nuo Jemeno, per Hidžazą iki Kanaano, ir Senovės Izraelis buvo šio sausumos kelio pabaigoje. Smilkalų prekybos dėka Jemeno 
        valstybės ne tik turtėjo, bet ir tapo įvairių kultūrinių įtakų susikirtimo vieta.
        Apie II smilkalų prekyba prarado savo reikšmę, senasis smilkalų kelias sunyko. Tai lėmė ir Senovės Jemeno civilizacijos žlugimą.</p>
    <img src="{% static 'senoves_civil/images/jemenas9.jpg' %}">
    <h4>Visuomenė ir kultūra</h4>
    <p>Senovės Jemenas išvystė labai aukšto lygio vietinę kultūrą, kurią per prekybos kelius veikė įvairios išorinės tradicijos iš šiaurės, Afrikos ir Indijos. Senovės 
        Jemeniečiai pastatė galingus techninius kūrinius, tarp kurių svarbiausios yra užtvankos ir irigaciniai įrenginiai, kaip kad Maribo užtvanka.</p>
    <img src="{% static 'senoves_civil/images/jemenas10.jpg' %}">
    <h4>Valstybė</h4>
    <p>Valstybės senovės Jemen buvo valdomos monarchų, tituluojamų mukaribais (mkrb) arba karaliais (mlk). Skirtumas tarp šių dviejų terminų nėra išaiškintas iki šiol. 
        Valdovas buvo absoliutus, nors egzistuodavo ir savotiškos didikų valstybės tarybos, vyresniųjų taryba (qyl).
        Valstybės stambūs administraciniai vienetai buvo vadinami „kiltimis“ (s2ʿb). Pvz., vėlyvojo Katabano laikais jį sudarė tokios kiltys kaip Radman, Madhi, Almalik, 
        Yahir, Ausan, Kahad, Dahas, Tubanau. Kiltys buvo skaidomos į mažiausius vienetus – kaimus (byt).</p>
    <img src="{% static 'senoves_civil/images/jemenas11.jpg' %}">
    <h4>Kalba ir raštas</h4>
    <p>Vietos tautos kalbėjo giminingomis senovės pietų arabų kalbomis. Civilizacija sukūrė savitą rašto sistemą – musnadą, kilusią iš proto-Sinajaus rašto (taigi, 
        giminingą finikiečių raštui), turėjusią 29 priebalsius (kaip ir kitos semitinės rašto sistemos, neturėjo balsių žymėjimo). Ja buvo užrašomos vietinės kalbos: 
        saabėjų, minėjų, katabanių, hadramių ir proto-etiopų. Po arabų užkariavimo vietos raštas buvo pakeistas arabų rašto, o Etiopijoje jis išsivystė į gezo raštą.</p>
    <img src="{% static 'senoves_civil/images/jemenas12.png' %}">
    <h4>Religija</h4>
    <p>Iki judaizmo ir krikščionybės įtakos, pietų arabai išpažino vietinę religiją, kuri, ir kurios dievybės buvo gimininga kitų semitų religijoms. Čia ryškus trijų kosminių 
        kūnų: Veneros, Saulės ir Mėnulio kultas.
        Pietų arabai labiausiai garbino Veneros planetą Athtar (ʿṯtr), taip pat Saulės dievybę, kurios vardas beveik neminimas, bet manoma, kad ji vadinosi Šams, Zatzahrana, 
        Zatbadana, Zathimijama. Mėnulio dievybės buvo traktuojamos kaip nacionalinės atskiruose Jemeno regionuose, ir vadinamos skirtingais vardais: Almaqah (ʾlmqh) Saaboje, 
        Amm (ʿm) Katabane, Wadd (wd) Maine ir Ausane, Sin Hadramaute. Dievus ikonografijoje dažnai simbolizuodavo mėnulio pjautuvas su Athtaro skrituliu virš jo, taip pat tokie 
        gyvūnai, kaip jautis (mėnulis), antilopė (Athtar), ožys (Almakah), gyvatė (Wadd).
        Nuo maždaug II a. Jemeno kultūra santykiavo su monoteistinėmis religijomis Judaizmu ir Krikščionybe, kurios vadintos bendru terminu „rahmanizmas“ (rḥmn-n). Tarp jų 
        stipresnė buvo judaistinė tradicija, kuri įsigalėjo Himjaro karalystėje.</p>
    <img src="{% static 'senoves_civil/images/jemenas13.jpg' %}">
{% endblock %}
