{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/kanaanas1.jpg' %}">
    <p>Kanaanas – Bronzos amžiaus (II tūkst. pr. m. e.) istorinis regionas Artimuosiuose Rytuose, užėmęs dalį Istorinės Sirijos. Nors jo ribos nebuvo aiškiai nubrėžtos, 
        jis apėmė teritorijas dabartinio Izraelio, Palestinos, Libano, Sirijos ir Jordanijos teritorijose. Krašto gyventojai yra vadinami kanaanitais, ir čia formavosi semitų 
        kalbų grupė – kanaanitų kalbos.
        Po XII a. pr. m. e. atskiros Kanaano dalys buvo vadinamos Izraelio žeme, Filistija, Finikija, Edomu, Moabu, Amonu ir pan.</p>
    <img src="{% static 'senoves_civil/images/kanaanas2.jpg' %}">   
    <h4>Pavadinimai</h4>
    <p>Daugelio aplinkinių tautų šaltiniuose Kanaanas buvo traktuojamas kaip pietinė istorinės Sirijos, t. y. Rečenu (egip. rtnw) ar Amuru (akad. Amurru) dalis. Senovės Egipte 
        šis terminas buvo naudojamas su kitu panašiu terminu – Džahi (egip. DAhy)Yra linkstama manyti, kad Kanaano pavadinimas kildintinas iš semitiško žodžio knʿ, reiškiančio 
        „žemas“, „įžemintas“. Hebrajų šaltiniuose Kanaanas įvardinamas kaip knaan, finikiečių – chna. Kanaano vardu iš pradžių galėjo būti vadinama jūros pakrantės žemuma, o 
        vėliau kanaaniečiais imta vadinti ir žmones, gyvenusius miškingose kalvose. Kitas etimologijos aiškinimas kildina pavadinimą iš huritų kalbos žodžio Kinahhu (purpuras), 
        kadangi kai kurie kanaaniečių miestai garsėjo purpuro dažais. Tačiau galimas ir atvirkštinis aiškinimas: Kanaano pavadinimas ilgainiui pradėtas naudoti purpurui įvardinti.
        Pats terminas II tūkst pr. m. e. dažniausiai naudotas Mesopotamijos ir Mažosios Azijos šaltiniuose. Ten jis buvo žinomas kaip Kinahu Senovės Egipte buvo užrašomas kaip 
        Ka-na-na.</p>
    <img src="{% static 'senoves_civil/images/kanaanas3.jpg' %}">
    <h4>Apibrėžimas</h4>
    <p>Vieningo Kanaano apibrėžimo nėra, tačiau jis neabejotinai apėmė dalį Senovės Sirijos, kuri egiptiečiams prasidėjo į šiaurę nuo Negevo dykumos, ten, kur yra Palestina, 
        Libanas. Greičiausiai į Kanaano sampratą buvo įtraukiamos ir teritorijos į rytus nuo Jordano upės (Užjordanė) bei pietvakarių Sirija. Tačiau Kanaanui nepriklausė likusi 
        (šiaurinė) Sirijos dalis, kurioje buvo Aramas.
        Kraštas pasižymėjo laivybai tinkamomis jūros pakrantėmis ir kalnuota giluma. Jis iš dalies užėmė Jordano ir Litanio upių baseinus. Šių dviejų upių vaga sudaro gilų lūžį, 
        kuris yra Didžiojo lūžio šiauriausia atkarpa. Abipus šio lūžio driekėsi ilgos kalnų grandinės: Libanas, Galilėjos, Samarijos, Judėjos aukštumos vakarinėje pusėje, ir 
        Antilibanas, Basano, Gileado, Amono, Moabo, Edomo aukštumos – rytinėje.</p>
    <img src="{% static 'senoves_civil/images/kanaanas4.jpg' %}">
    <h4>Istorija</h4>
    <p>Kanaanas, priklausydamas Derlingajam pusmėnuliui, buvo vienas anstyvųjų žemdirbystės židinių. Svarbiausios Neolito kultūros čia buvo Jarmuko ir Gasulio. 3300 m. pr. m. e. 
        regione prasidėjo bronzos amžius. Dėl svarbios strateginės padėties Kanaane ėmė formuotis prekybinių kelių sistema, jungusi Egiptą su Mesopotamija, kurios dėka visame 
        regione formavosis daug smulkių prekybinių miestų.</p>
    <img src="{% static 'senoves_civil/images/kanaanas5.png' %}">
    <h4>Amoritų miestai</h4>
    <p>Apie XXI a. pr. m. e. į regioną masiškai migravo nauja semitų banga, amoritai, kurie toliau žinomi kanaanitų pavadinimu. Manoma, kad Biblijoje minimas Abramo šeimos 
        persikėlimas į Kanaaną atspindi šiuos istorinius įvykius. Amoritai regione sukūrė daug smulkių prekybinių miestų-valstybių. Svarbiausi tarp jų buvo:
        Pajūryje: Zemaras, Biblas, Sidonas, Tyras, Akas, Aškelonas, Gaza ir kt.;
        Priešjordanėje: Jerichas, Hazoras, Megidas, Šechemas, Gezeris, Jeruzalė, Achšapas, Jursa, Hebronas, Lahišas ir kt.;
        Užjordanėje: Kamanu, Aštartu, Hesbonas, Pihilu, Rabat Amonas, Buseira ir kt.
        Kanaanitai niekuomet nebuvo vieningi, ir jau tais laikais formavosi atskiros tapatybės bei savotiškos etninės grupės. Biblijoje minimos daugybė etninių grupių, kurios 
        visos laikomos Kanaano, kaip mitologinio personažo, palikuonėmis. Tarp šių grupių minimi sidonitai, arkitai, sinitai, arvaditai, zemaritai, hamatitai, hetitai, jebusitai 
        (Judėjoje), amoritai (Užjordanėje), girgašitai, hivitai (Samarijoje). Taigi Biblijoje kanaanitais vadintas daugelio tautų mišinys.
        Egipto ir Mesopotamijos šaltiniuose ypač dažnai buvo minimos grėsmingos Kanaano tautos: šasu, habiru, kurios tikriausiai nesudarė atskiros lingvistinės grupės, tačiau tam 
        tikrą visuomenės sluoksnį, kuris sėsliai negyveno miestuose, bet klajojo, o neretai apsigyvendavo ir Egipto teritorijoje. Manoma, kad Biblijoje minimas Juozapo pardavimas 
        į Egiptą yra aliuzija į tokius įvykius.
        Nors Kanaane niekuomet nesusikūrė didelė valstybė ar konfederacija, kas buvo būdinga kitiems Artimųjų Rytų regionams (pvz., Egiptui ar Mesopotamijai), manoma, 
        kad XVII a. pr. m. e. kanaanitai buvo įgiję nemažą politinę galią Artimuosiuose Rytuose. Iš šio regiono kilo hiksai, etninė grupė iš pajūrio Kanaano, nusiaubusi Žemutinį 
        Egiptą ir pradėjusi Antrąjį tarpuvaldį.</p>
    <img src="{% static 'senoves_civil/images/kanaanas6.jpg' %}">
    <h4>Egipto viešpatavimas</h4>
    <p>Nuo XV a. pr. m. e. Egiptui sustiprėjus, visame Sirijos regione įsigalėjo Naujoji Egipto karalystė. Iš pradžių jos hegemonija siekė Karchemišą šiaurėje, tačiau vėliau 
        šiaurines valdas paveržė Mitanija, Hetitų imperija. Galutinai Egipto šiaurinė siena nusistovėjo tik 1274 m. pr. m. e., Kadešo mūšyje. Tačiau visu šiuo laikotarpiu Pietinė 
        Sirija išliko Egipto politinėje ir kultūrinėje kontrolėje.
        Daugiausia žinių apie Kanaaną yra išlikę būtent iš Egipto viešpatavimo laikotarpio, ypač iš XIV a. pr. m. e. Tai yra gausių Amarnos archyvų (Egipte), kuriuose kauptas to 
        meto susirašinėjimas, dėka. Laiškuose figūruoja gausių Kanaano valstybėlių karaliai, kurie pripažino Egipto viešpatavimą, neretai išlaikė Egipto skirtus vietininkus, 
        tačiau kariavo tarpusavyje. Svarbiausi miestai, kur Egiptas laikė savo administraciją, buvo Gaza (pietiniame pajūryje), Zemaras (šiauriniame pajūryje) ir Kumidu 
        (Bekaa slėnyje). Jiems priskiriamos teritorijos atitiko savotiškas Egipto provincijas.</p>
    <img src="{% static 'senoves_civil/images/kanaanas7.png' %}">
    <h4>Tautų migracijos</h4>
    <p>XIII–XII a. pr. m. e. Egipto valdžia Kanaane nusilpo, dėl ko susiformavo gentinės konfederacijos, savotiškos karalystės, susibūrusios aplink stipriausius miestus. Biblija 
        mini jebusitų (su centru Jeruzalėje), hivitų (su centru Šecheme) konfederacijas, Ogo (su centru Aštartu, Bašane), Sihono (su centru Hesbone) karalystes ir kt.
        Tuo metu į regioną ėmė migruoti svetimšalės tautos. Dalis jų, vadinamosios jūros tautos, siaubė Kanaano pakrantę. Jos įsitvirtino pietinėje pakrantėje, ir vėliau žinomos 
        kaip filistinai, o jų regionas – kaip Filistija. Dykumų tauta aramėjai veržėsi į Kanaaną iš šiaurės rytų.
        Kanaano regionas buvo labai svarbus kitai etninei grupei, – izraelitams, kurie, pasak Biblijos, iš čia buvo migravę į Egiptą (ten susiformavo 12 jų genčių). Vienas iš jų, 
        Mozė, gavo Dievo prisakymą apsigyventi Kanaano žemėje. Biblijoje buvo nubrėžtos ir Pažadėtosios žemės ribos, kurios apėmė teritorijas į vakarus nuo Jordano slėnio. Tai 
        nulėmė izraelitų tautos migraciją (XIII–XII a. pr. m. e.) per Sinajaus ir Negevo dykumas į Kanaaną.
        Biblijoje detaliai aprašomas Kanaano miestų užkariavimas ir naujos tautos apsigyvenimas, tačiau tai yra praktiškai vienintelis šios migracijos liudijimas. Tuo metu dėl 
        istorinių kataklizmų sumenko Egipto ir Babilonijos karalystės, todėl nutrūko nuoseklus įvykių dokumentavimas. Archeologiniai kasinėjimai parodo, kad keletas Kanaano miestų 
        tuo metu buvo sugriauti, tačiau nepatvirtina masinio naikinimo ar visiško kultūrinio lūžio regione.
        Po to, kai izraelitai ėmė kontroliuoti dalį Kanaano, ši jo dalis buvo pervardinta į Izraelio žemę. Hebrajų neužkariautos Kanaano teritorijos Užjordanėje vėliau vadinamos 
        Amonu, Moabu ir Edomu. Hebrajų nenukariautos teritorijos šiauriniame pajūryje vėliau graikams tapo žinomos kaip Finikija. Tačiau vietos gyventojams ir hebrajams pastaroji 
        ir toliau buvo žinoma kaip Kanaanas per visą I tūkst. pr. m. e. Todėl Pakartoto Įstatymo knygoje (7:1) kanaanitai jau minimi šia, siaurąja prasme, ir jiems nebepriskiriamos 
        izraelitų nukariautos tautos: hivitai, jebusitai, girgašitai, amoritai, perizitai ir kt.</p>
    <img src="{% static 'senoves_civil/images/kanaanas8.jpg' %}">
    <h4>Kultūra</h4>
    <p>Kanaanas – tiltas tarp Egipto ir Azijos – dėl savo padėties bei varomos gyvos prekybos tapo atviras įvairiausioms kultūrinėms įtakoms. Viename mieste būdavo statomi 
        egiptietiško stiliaus rūmai bei šventyklos, kuriuose gyvendavo valdytojas ir įgula, kitame klestėjo Sirijos stilius. Egipto skarabėjai ir kitokie papuošalai buvo paplitę 
        kaip ir cilindriniai Babilono antspaudai (voleliai) bei auksiniai hetitų dirbiniai iš Turkijos. Geriausiai kitų kultūrų įtakas parodo tai, kad kanaaniečiai vartojo abi 
        rašto rūšis – tiek egiptiečių (hieroglifus), tiek babiloniečių (dantiraštį).</p>
    <img src="{% static 'senoves_civil/images/kanaanas9.jpg' %}">
    <h4>Kalba ir raštas</h4>
    <p>Svarbiausias Kanaano kultūrinis palikimas pasauliui yra raštas, išrastas šiame krašte tarp 2000 ir 1600 m. pr. m. e. Dėl egiptiečių įtakos atsirado popierius (papirusas), 
        kuris gerai tiko rašyti. Bet laikui bėgant Kanaane jo neišliko, todėl pirmojo rašto pavyzdžių labai mažai.
        Kanaanitų kalba buvo labai artima hebrajų kalbai, ar net beveik tokia pati. Kanaano valstiečių gyvenimas nedaug tesiskyrė nuo izraelitų gyvenimo Egipte, kol pastarieji dar 
        nebuvo tapę vergais. Todėl izraelitai lengvai galėjo apsigyventi savo Pažadėtojoje žemėje. Grėsė pavojus ir kitaip sumaišyti su kanaaniečiais. Religiniai priesakai 
        izraelitams draudė maištytis su Kanaano tautų žmonėmis. Penkiaknygėje rašoma, jog visa, kas siejosi su kanaaniečių religija, turėjo būti sunaikinta.</p>
    <img src="{% static 'senoves_civil/images/kanaanas10.jpg' %}">
    <h4>Miestai ir prekyba</h4>
    <p>Žmonės, gyvenę Kanaane, daugiausia vertėsi prekyba. Tai buvo tokia svarbi kanaaniečių gyvenimo dalis, jog net pats žodis „kanaanietis“ hebrajų kalboje ėmė reikšti pirklį. 
        Didžiausi prekybos uostai buvo Tyras, Sidonas, Beirutas ir Biblas, esantys į šiaurę nutįsusiame siaurame Finikijos pakrantės ruože (dabartinė Libano pakrantė). Iš čia į 
        Egiptą keliaudavo kedro mediena, aliejus ir kitos prekės. Atgal kanaaniečiai parsigabendavo egiptietiškų papuošalų ir rašomojo popieriaus, graikiškų vazų ir metalo dirbinių.
        Kanaaniečių miestai buvo apjuosti gynybinėmis žemės ir akmenų sienomis, kurios buvo skirtos apsisaugoti nuo užpuolikų bei laukinių žvėrių. Už sienų, viduje, buvo susigrūdę 
        namai – panašiai kaip ir dabar senuose Artimųjų Rytų miestuose. Paprasti žmonės dirbdavo nuosavos žemės sklypelius, vertėsi įvairiais amatais arba parsisamdydavo karaliui, 
        žemvaldžiams ar pirkliams. Aplink miestą buvo žedirbių ir gyvulių augintojų kaimeliai. Miestų valdytojai nuolatos kivirčydavosi ir kovodavo tarpusavyje, o kai kuriuos 
        miestus dažnai puldinėdavo gaujos plėšikų ir valkatų. Tai patvirtina Amarnos įrašai (1360 m. pr. m. e.), surasti Egipte. Senojo Testamento Jozuės ir Teisėjų knygos rodo, 
        kad lygiai tas pats dėjosi ir po šimtmečio ar dviejų. Tai leido izraelitams lengviau užkariauti Kanaaną. Vieningą kraštą jiems būtų buvę daug sunkiau užkariauti.</p>
    <img src="{% static 'senoves_civil/images/kanaanas11.jpg' %}">
    <h4>Kanaaniečių religija</h4>
    <p>Kaip tvirtinama Biblijoje, nuo Sinajaus kalno Dievas įsakė Izraeliui neturėti kitų dievų, tik jį vieną. Todėl izraelitai, laikydamiesi šių religinių priesakų, Kanaane 
        privalėjo vengti bet kokio sąlyčio su kanaaniečių religija. Tačiau jie, dar prieš atsikeldami į Kanaaną, buvo pradėję garbinti kanaaniečių dievą Baalą. Kai jie apsigyveno 
        Pažadėtojoje žemėje, Baalas tapo rimtu Izraelio Dievo „varžovu“. Teisėjų knygoje rašoma, kokių nelaimių tai sukėlę ir kaip žmonės, pavyzdžiui, Gideonas, priešinosi Baalo 
        garbinimui. Nors iš karaliaus Dovydo ir karaliaus Saliamono laikų apie tai yra mažai liudijimų, bet vėliau, kai šiaurės Izraelio karalystės valdovu tapo Achabas, Baalas 
        beveik išstūmė Izraelio Dievą. Pasak Karalių knygų, taip atsitikę per Achabo žmoną, karalienę Jezabelę, kilusią iš kanaaniečių miesto Sidono ir su savim atsigabenusią 
        daugybę Baalo žynių.
        Kanaaniečių dievai ir deivės buvo sužmogintos gamtos jėgos. Baalas, kas reiškia „viešpats“, buvo orų dievo Adado titulas. Jis valdė lietų, rūką, rasą, nuo jo priklausė 
        derliaus gausumas, lėmęs visą kanaaniečių gyvenimą. Baalo žmona buvo Aštartė, dar kitaip vadinama Anat, meilės ir karo deivė. Baalo tėvas buvo Elis, vyriausiasis dievas, 
        tačiau izraelitų atsikraustyo metu jo reikšmė jau buvo neaiški. Elio žmona buvo Ašera – dievų motina bei jūros deivė. Ašera ir Aštartė dažniausiai vadintos tiesiog 
        „valdovėmis“ (baalat). Kitos svarbiausios dievybės buvo saulės dievas Šamašas, karo ir požemio pasaulio dievas Rešefas, javų dievas Dagonas bei daugybė smulkesnių dievų, 
        sudariusių didžiausių dievų šeimas arba palydas.</p>
    <img src="{% static 'senoves_civil/images/kanaanas12.jpg' %}">
{% endblock %}
