{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/kusas1.jpg' %}">
    <p>Kušas (egip. k3š, mokslinė transkripcija: Kaš), kitaip dar Nubijos karalystė, Merojės civilizacija – istorinė senovės karalystė ir civilizacija Nubijoje, dabartinio 
        Sudano teritorijoje. Ji egzistavo nuo I tūkst. pr. m. e. pradžios iki mūsų eros IV a. Ją sukūrusi tauta yra vadinama kušitais arba merojiečiais, tačiau jos kilmė nėra aiški</p>
    <img src="{% static 'senoves_civil/images/kusas2.jpg' %}">   
    <h4>Susiformavimas</h4>
    <p>Po Kermos civilizacijos klestėjimo II tūkst. pr. m. e. II pusėje Nubija priklausė Naujajai Egipto karalystei. Po Ramzio II mirties 1224 m. Egipto įtaka regionui vis 
        labiau mažėjo. Čia susidarė prielaidos atsirasti nepriklausomai valstybei.
        Šis laikotarpis, trukęs iki VIII a. pr. m. e., yra labai mažai tyrinėtas. Manoma, kad tuometine valstybės sostine buvo Kerma. Egzistuoja netgi teorijos, kad tuo metu 
        iš Kušo galėjo kilti legendinė Saabos karalienė.</p>
    <img src="{% static 'senoves_civil/images/kusas3.jpg' %}">
    <h4>Napatos laikotarpis</h4>
    <p>Pirmasis istoriškai patvirtintas Kušo valdovas buvo Alara (VIII a. pr. m. e.), kuris suvienijo visą Aukštutinę Nubiją, perkėlė sostinę į Napatos miestą ir pradėjo Napatos 
        dinastiją.
        Alaros įpėdinis Kašta (tai reiškia „Kušitas“) pradėjo Kušo ekspansiją į šiaurę, t. y. į Egiptą, kur tuo metu buvo krizė ir susiskaldymas. Jam ir jo tiesioginiam įpėdiniui 
        Pjanchiui pavyko užvaldyti visą Egiptą, ir jų Egipte įkurtoji dinastija yra laikoma XXV dinastija. Ji valdė Egiptą iki 656 m. pr. m. e. Tuo metu valstybės sostinė buvo 
        Napata, kurioje ir buvo laidojami visi valdovai. Karalystė buvo visiškai egiptizuota, joje buvo paplitusi egiptiečių kalba ir kultūra.
        VII a. pr. m. e. viduryje Asirijai įsiveržus į Egiptą, ten įsitvirtino XXVI dinastija. Tačiau Kušas išsaugojo nepriklausomybę ir ėmė egzistuoti kaip atskira valstybė.</p>
    <img src="{% static 'senoves_civil/images/kusas4.jpeg' %}">
    <h4>Merojės laikotarpis</h4>
    <p>592 m. pr. m. e. Egipto armija laikinai užėmė Napatą. Ši auganti grėsmė iš šiaurės paskatino Kušą perkelti sostinę toliau į pietus, į Meroję, dėl to šis laikotarpis 
        vadinamas Merojės laikotarpiu. Merojė buvo ne tik saugesnėje, bet ir palankioje vietoje vykdyti prekybą per Raudonąją jūrą, kadangi prekyba Nilu pamažėle menko dėl 
        tarp Kušo ir Egipto siautėjusių plėšikų būrių. Be to, vystantis geležies gamybai, miškingos Merojės apylinkės buvo labai tinkamos metalurgijai.
        Iki III a. pr. m. e. Napata dalinai išsaugojo savo pozicijas kaip kulto centras ir valdovų karūnavimo bei laidojimo vieta. Tačiau vėliau valdovai pradėti laidoti Merojėje. 
        Tuo metu susiformavo savarankiškas Merojės raštas, kultūra įgavo daug vietinių bruožų, tolo nuo egiptietiškos kultūros, ją veikė helenizmas ir afrikietiškos tradicijos.
        I a. pr. m. e. Kušas kovojo su Romos imperija. Napata buvo laikinai užimta ir galutinai prarado savo galią.</p>
    <img src="{% static 'senoves_civil/images/kusas5.jpg' %}">
    <h4>Žlugimas</h4>
    <p>Nuo pirmųjų mūsų eros amžių Kušas ėmė prarasti savo ekonominę ir politinę galią regione. Jo pietuose auganti Aksumo imperija tapo svarbiausiu konkurentu, ir ji galiausiai 
        nukonkuravo Meroję kaip svarbų prekybinį ir gamybos centrą. Ėmė nykti amatai, nebebuvo statomos šventyklos.
        Kušo galutinis žlugimas nėra galutinai ištyrinėtas. Maždaug IV a. viduryje staigiai nustota statyti piramides, ir visos žinios apie valstybę nutrūksta. Yra manoma, kad 
        žlugimą dalinai nulėmė klajoklės dykumų gentys, kurios migravo į nusilpusią valstybę. Senovės šaltiniai mini gentis noba, kurios tikriausiai buvo vėliau čia gyvenusių 
        nubų protėviai. Taip pat žlugimui pasitarnavo ir bedžai, senovės šaltiniuose vedinami blemijais. IV a. Aksumo imperija galutinai užvaldė buvusią Kušo teritoriją.</p>
    <img src="{% static 'senoves_civil/images/kusas6.jpg' %}">
    <h4>Valdovai</h4>
    <p>Kušas buvo valdomas valdovų, tituluojamų ko (qo). Labai įdomi institucija buvo karalienės kandake, kurių svarba ypač išaugo Merojės laikotarpiu. Jos buvo ne tik karalių 
        sutuoktinės, bet taip pat neretai valdydavo visą valstybę ir netgi vadovaudavo kariuomenei. Viena pirmųjų žinomų kandake yra Aleksandro Makedoniečio amžininkė Pelekh. 
        Pasakojama, kad ji pasipriešino Aleksandro invazijai, nors iš tiesų Aleksandras niekuomet nevykdė karo žygių prieš Kušą. Žymiausios kandakės yra Šanakdachetė 
        (177–155 m. pr. m. e.), kuriai priskiriamas Merojės rašto išradimas, ir Amanitore (I a. pradžia), paskutinioji didžioji statytoja. Kandake savo valdžia dalijosi su 
        karalienėmis motinomis, tituluojamomis qore.
        Valdovai buvo laidojami piramidėse, tačiau ne visų piramidės yra lengvai atsekamos. Daugumos jų valdymo datos yra labai ginčytinos.</p>
    <img src="{% static 'senoves_civil/images/kusas7.jpg' %}">
    <h4>Raštas ir kalba</h4>
    <p>Kušas nuo ankstyviausių laikų naudojo Egipto hieroglifus, ir daugybė įrašų buvo daroma egiptiečių kalba. Tik maždaug III a. pr. m. e. buvo pradėtas naudoti savitas 
        Merojės raštas, kuris buvo suformuotas Egipto rašto pagrindu. Tačiau ši rašto sistema buvo fonografinė ir neturėjo ideogramų. Joje pirmą kartą Afrikoje panaudota sistema, 
        kuri turėjo ne tik priebalsius, bet ir balsius. Tai kartais yra aiškinama graikų rašto įtaka.
        Raštas turėjo du variantus – hieroglifinį, naudojamą oficialiems užrašams reljefuose ir taip vadinamąjį kursyvą, kuris buvo supaprastintas rašto variantas. Nors raštas 
        buvo dešifruotas, juo parašyta kalba yra vis dar nesuprantama mokslininkams. Nėra netgi vieningos nuomonės, kuriai kalbų šeimai ją galima priskirti. Labiausiai paplitę 
        hipotezės teigia, kad merojiečių kalba galėjo priklausyti afroazijinėms kalboms (tuo atveju ji būtų gimininga į rytus esančiai bedžų kalbai) arba Rytų Sudano kalboms 
        (tuo atveju ji būtų gimininga vėliau čia susiformavusiai nubų kalbai).</p>
    <img src="{% static 'senoves_civil/images/kusas8.png' %}">
    <h4>Architektūra</h4>
    <p>Kušo civilizacija paliko daug architektūros paminklų, kurie išmėtyti visoje Nubijoje, bet daugiausia koncentruojasi prie sostinių.
        Vieni ankstyviausių paminklų yra prie Napatos, kuri nuo seniausių laikų buvo laikoma šventa vieta. Prie jos buvęs Džebel Barkalio kalnas, savo forma primenantis kobros 
        galvą tapo kulto objektu, ir prie jo pastatyta dievo Amono šventykla buvo laikoma viena svarbiausių netgi Egipte. Šventyklos griuvėsiai yra tyrinėti archeologų. Prie 
        Napatos buvusiose gausiose kapavietėse kušitai VIII a. pr. m. e. atgaivino Egipte iki tol seniai išnykusią piramidžių statybos tradiciją. Kušo piramidės buvo gerokai 
        mažesnės nei egiptietiškos, tačiau išlaikė savo formą ir funkciją – tai buvo valdovų kapai.
        Sostinei persikėlus į Meroję, piramidžių statybos tradicija perkelta į ten. Merojė taip pat pagarsėjo gausybe šventyklų, kurių visos buvo pastatytos egiptietišku stiliumi. 
        Paskutiniaisiais amžiais prieš mūsų erą Kuše paplito helenistinė kultūra. Ji stipriai paveikė vėlyviausius Kušo architektūros paminklus, ypač Nakos šventyklą, kurioje 
        garbinamas vienas svarbiausių Kušo dievų Apedemakas, turintis liūto pavidalą.</p>
    <img src="{% static 'senoves_civil/images/kusas9.jpg' %}">
    <h4>Dailė</h4>
    <p>Kuše buvo daroma daug puikių dailės dirbinių, kurių dauguma randami šventyklose. Tai – reljefai ir apvalioji skulptūra. Juose daugiausia vaizduojamos dievybės ir valdovai. 
        Dailės stiliuje ypač gajos egiptietiškos tradicijos.</p>
    <img src="{% static 'senoves_civil/images/kusas10.jpg' %}">
    <h4>Keramika</h4>
    <p>Ypač savita keramika, kurios tradicijos prasidėjo apie III a. pr. m. e., yra vienas iš didžiausių Merojės civilizacijos pasiekimų. Joje labai įdomiai persipina 
        egiptietiškos, helenistinės ir afrikietiškos tradicijos. Keramikoje gausu dailių ornamentų ir tapytų gyvenimo scenų. Merojėje buvo gaminama dviejų rūšių keramika. 
        Didžioji dalis buvo gaminama naudojant žiedžiamąjį ratą (tai buvo vyrų užsiėmimas). Šiai rūšiai priklauso patys gražiausi dirbiniai. Kita keramika buvo gaminama moterų, 
        ir lipdoma rankomis, čia ypač atsispindi vietinė afrikietiška kultūra.</p>
    <img src="{% static 'senoves_civil/images/kusas11.png' %}">
{% endblock %}