{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/libija1.jpg' %}">
    <p>Libija – senovinis kultūrinis-istorinis regionas ir civilizacija, egzistavusi Afrikos žemyno šiaurinėje dalyje, teritorijose, kurios šiuo metu apima vakarinį Egiptą, 
        Libiją, Tunisą, Alžyrą, Maroką.
        Graikams tai buvo vienas iš trijų jiems žinomų žemynų, greta Europos ir Azijos. Todėl jis iš dalies tapatinamas su Afrika. Po arabų užkariavimo VII a. Libijos regionui 
        prigijo arabiškas pavadinimas Magrebas, o Libija tevadinama tik viena iš šiame regione esančių valstybių.</p>
    <img src="{% static 'senoves_civil/images/libija2.jpg' %}">   
    <h4>Geografija</h4>
    <p>Senovės Libijos teritorija nebuvo aiškiai apibrėžta. Paprastai laikoma, kad rytinis jos pakraštys buvo į vakarus nuo Nilo deltos. Pastaroji, kaip ir visas Egiptas, buvo 
        laikoma Azijos dalimi. Vakaruose ji baigėsi ties Gibraltaro sąsiauriu, vadintu Heraklio stulpais.
        Pagrindinė Libijos dalis buvo siauras ir ilgas pajūris, kuriame koncentravosi dauguma gyventojų. Jis dar vadinamas Berberų krantu. Čia Viduržemio jūros klimatas sudarė 
        puikias sąlygas žemdirbystei, o tinkama uostams pakrantė - laivybai bei prekybai. Čia koncentravosi beveik visi Libijos miestai.
        Šiaurėje pakrantę ribojo Viduržemio jūra (senovėje ši jos dalis dar vadinta Libijos jūra), o pietuose derlingos lygumos perėjo į Sacharos dykumą. Vakarinėje Libijos dalyje 
        pajūrio lygumas nuo dykumos skyrė kalnų grandinės, sudarančios Atlaso kalnų sistemą. Teritorijos už Sacharos Artimųjų Rytų ir Viduržemio jūros tautoms buvo terra incognita.
        Regionas buvo dalijamas į smulkesnes dalis. Ryčiausia jos atkarpa buvo vadinama Marmarika (dab. vakarų Egiptas ir rytų Libija), už kurios paeiliui buvo Kirenaika 
        (rytų Libija), Tripolitanija (vakarų Libija), Afrika (rytų Tunisas), Numidija (vakarų Tunisas ir rytų Alžyras), Mauritanija (vakarų Alžyras ir šiaurės Marokas).</p>
    <img src="{% static 'senoves_civil/images/libija3.jpg' %}">
    <h4>Priešistorė</h4>
    <p>Hominidai Šiaurės Afrikoje apsigyveno dar Oldovajaus kultūros laikais, t. y. prieš maždaug 1,8 mln. metų. Vėlyvajame Paleolite pakrantėje susiformavo Iberijos-Mauritanijos 
        kultūra (20–8 tūkst. pr. m. e.), kurią pakeitė Kapsos kultūra (8-3 tūkst. pr. m. e.). Pastarosios kūrėjai jau greičiausiai kalbėjo proto-berberų kalbomis.
        6 tūkst. pr. m. e. Šiaurės Afrikoje prasidėjo neolitas. Dėl palankaus klimato tuo metu Sacharos dykuma dar nebuvo susiformavusi, o teritorija - gausiai gyvenama. Todėl 
        šioje teritorijoje suklestėjo brandi neolitinė civilizacija. Jos palikimas - Sacharos uolų piešiniai, vaizduojantys vietos žmonių gyvenimą. Žymiausi jų - Tasilio Adžeras. 
        Tarp ankstyviausių aptinkami gausūs vandens gyvūnai, taip pat buivolai, raganosiai, drambliai, liūtai, žirafos, liudijantys apie medžiotojų gyvenimą. Tuo pačiu aptinkami 
        ir prijaukintų gyvūnų (avių, asilų) atvaizdai. Pastarųjų vis gausėja, kol V-III tūkst. pr. m. e. vietos kultūra pasiekia didžiausią suklestėjimą. Šis suklestėjimas byloja 
        apie gausias ir klestinčias gyvulių augintojų bendruomenes.
        III tūkst. pr. m. e. dėl klimato kaitos buvusios derlingos teritorijos yra veikiamos dykumėjimo, dėl ko vietos gyventojų dauguma priversti išsikelti į derlingesnę pakrantę. 
        Besiformuojanti Sacharos dykuma sunaikina priešistorinę civilizaciją. .</p>
    <img src="{% static 'senoves_civil/images/libija4.jpg' %}">
    <h4>Ankstyvieji šaltiniai</h4>
    <p>Kadangi Libijos vietos gyventojai ilgai neturėjo savo rašto, pirmieji paminėjimai apie regioną aptinkami ne jų pačių, o Senovės Egipto šaltiniuose. Egiptiečiai vadino šią 
        dykumingą šalį tiesiog imenet (imnt) arba "vakarais". Ji buvo tapatinama su dvasių šalimi, kur leidžiasi saulė. Alternatyvūs regiono pavadinimai buvo Tjehenu (THnw) ar 
        Tjemehu (TmHw). Libija buvo vienas trijų Egiptą supančių regionų (pietinis kaimynas buvo Ta Seti, o rytinis - Rečenu).
        Libijos gentys egiptiečiams buvo laukiniai klajokliai, kurie puldinėjo derlingą Nilo deltą ir kėlė grėsmę. III tūkst. pr. m. e. šaltiniuose yra minimos jų gentys: temechu, 
        techenu, kaikaša, šaitep, mašavaša, isavada, aasa, vakana, rebu ir kt. Pastaroji gentis, dar transliteruojama kaip libu, ilgainiui tapo visų regiono genčių sinonimu 
        (libiai) ir davė pradžią Libijos pavadinimui, kuris vėliau perduotas į hebrajų (Lehabim ar Lubim), finikiečių (lby), graikų (gr. Λιβύη = Libue) ir kitų Viduržemio jūros 
        tautų kalbas.
        II tūkst. pr. m. e. viduryje Libijos gyventojų tarpe paplinta metalai, visuomenė įgauna sukarintą pobūdį. Regionas, tikėtina, kuriam laikui tampa jūros tautų karine baze, 
        iš kur vykdomas piratavimas. Nuo maišytų jūros tautų ir libių antpuolių ypač kenčia Egiptas, ir galiausiai tai tampa Naujosios karalystės žlugimo priežastimi.
        Tuo laikotarpiu Libija imama minėti ir graikų šaltiniuose. Homeras mini pusiau legendines Libijos tautas, tokias kaip lotofagai. Į Libiją užklysta iš Trojos karo grįžtantis 
        Menelajas, ir kraštas vaizduojamas turintis neišpasakytus turtus.</p>
    <img src="{% static 'senoves_civil/images/libija5.jpg' %}">
    <h4>Finikiečių ir graikų kolonizacija</h4>
    <p>Pradedant IX a. pr. m. e. derlinga šiaurės Afrikos pakrantė traukė kolonistų akis. Kolonizacijoje ypač aktyviai dalyvavo dvi tautos - finikiečiai ir graikai, kurie čia 
        kūrė savo kolonijas. Jų atnešama semitiška ir heleniška civilizacija maišėsi su vietos berberų (libių) kultūra, ir taip formavosi savita daugiatautė senovės Libijos 
        kultūra.
        Graikai daugiausia kūrėsi rytinėse Libijos dalyse. Jie kolonizavo Marmariką ir Kirenaiką, kur susikūrė tokie poliai kaip Kirėnė, Ftija, Paliurus, Apolonija ir kt. 
        Svarbiausios vietos libių gentys buvo Adyrmachidae, Giligammae, Ammonii (Sivos oazėje), nasamonai ir kt.
        Finikiečiai labiau domėjosi vakarine Libijos pakrantės dalimi ir kolonizavo Afriką, Numidiją bei Mauritaniją. Svarbiausi jų miestai buvo Leptis Magna, Kartagina, Cirta, 
        Tripolis ir kt. Susimaišę su vietine berberų populiacija finikiečiai suformavo gana savitą kultūrą. Šie finikiečiai romėnams buvo žinomi kaip pūnai. Vietos berberai iš 
        jų perėmė rašto sistemą, kuri žinoma kaip tifnagas.
        Dykumingoje Libijoje į pietus nuo kolonizuotų genčių gyveno mažiau civilizuotos klajoklių gyvulių augintojų gentys. Svarbiausios tarp jų buvo garamantai, getulai, 
        fazanijai ir kt. Šios tautos atliko ypač svarbų vaidmenį Libijos ekonomikoje, kadangi palaikė jos klestėjimo pagrindą - egzotinę prekybą su Užsachario Afrika. Atradę ir 
        paėmę kontrolę Transsacharinės prekybos keliuose, jie vykdė mainus su Sahelio juodaodžių gentimis, iš čia parveždami aukso, dramblio kaulo, stručių plunksnų bei daugybę 
        kitų prekių. Dykumos oazėse šios gentys sukūrė atskiras gyvenvietes, kurios ilgainiui peraugo į prekybinius miestus. Didžiausias jų buvo garamantų Sidamas.</p>
    <img src="{% static 'senoves_civil/images/libija6.jpg' %}">
    <h4>Kartaginos hegemonija</h4>
    <p>VI a. pr. m. e. rytinė (graikiška) Libijos dalis patyrė Achemenidų Persijos invaziją iš Egipto. Manoma, kad Persija kurį laiką kontroliavo šias kolonijas, ir buvo įkūrusi 
        čia atskirą satrapiją - Libiją. Persai išlaikė čia galią iki IV a. pr. m. e., kuomet ši Libijos dalis nukariauta Aleksandro makedoniečio ir vėliau perėjo Ptolemėjams.
        Tarp visų finikiečių kolonijų vakarinėje Libijoje greičiausiai augo Kartagina, kuri VII-VI a. pr. m. e. sujungė kolonijas Libijoje, pietų Iberijoje ir Viduržemio jūros 
        salose. Tai sudarė prielaidas susikurti galingai talasokratijai. Kartagina, kaip jūrinė galia, III a. pr. m. e. susidūrė su regione augančios Romos interesais. Po to 
        kai kartaginiečiai laimėjo karą prieš Sirakūzus ir prisijungė didžiąją dalį Sicilijos, 264 m. pr. m. e. ji užpuolė romėnų valdomą Sicilijos dalį. Tai pradėjo Pūnų karus.
        264-241 m. pr. m. e. vykusį Pirmajį Pūnų karą Kartagina pralaimėjo ir turėjo sumokėti Romai didelę kontribuciją. Vėliau vėl sustiprėjusi Kartagina, vadovaujama Hasdrubalo 
        ir Hanibalo, surengė žygius į Ispaniją, užėmė teritorijas iki Ibero upės. Dėl to prasidėjo Antrasis Pūnų karas (218-201 m. pr. m. e.). Nors Kartagina buvo galingesnė, 
        romėnų karvedys Scipionas Afrikietis išsilaipino Šiaurės Afrikoje ir privertė Hanibalą grįžti. Grįžusį karvedį Scipionas sumušė ir laimėjo karą.
        Net ir po to Kartaginai atsigavus, prasidėjo Trečiasis Pūnų karas (149–146 m. pr. m. e.). Kartagina pralaimėjo, romėnai sugriovė sostinę, gyventojus išvarė į vergiją.</p>
    <img src="{% static 'senoves_civil/images/libija7.png' %}">
    <h4>Romos viešpatavimas</h4>
    <p>Romos karuose su Kartagina dalyvavo ir vietinės berberų karalystės, buvusios Libijos krašto gilumoje. Tarp jų svarbiausios buvo Numidija bei Mauritanija. Pirmoji karuose 
        palaikė Romos pusę.
        Po pūnų karų Kartaginos kontroliuotos Libijoje teritorijos tapo Romos provincija, kuri pavadinta Afrika. Dalis tų žemių parduotos Numidijai. Tačiau karalystei stiprėjant, 
        berberai tapo pernelyg pavojingi Romai. Sudariusi sąjungą su Mauritanija, Roma pradėjo karą su Numidijos karaliumi Jugurta, kuriame šventė pergalę. Vakarinę Numidiją ji 
        atidavė sąjungininkei Mauritanijai, o rytinę Numidiją 46 m. pr. m. e. pradėjo administruoti kaip Naujosios Afrikos provinciją. Netrukus prie Romos prijungta ir Mauritanija, 
        kurioje suformuotos dvi - Tingito Mauritanijos ir Cezario Mauritanijos provincijos. Kuomet 30 m. pr. m. e. Roma nukariavo Ptolemėjų Egiptą su rytų Libija, visa Senovės 
        Libija atiteko jai. Rytų Libija prijungta prie Kretos, ir čia suformuota provincija Kreta ir Kirenaika.
        Romos valdymo metais Šiaurės Afrika suklestėjo ekonomiškai. Čia buvo vienas svarbiausių visos imperijos žemės ūkio produktų šaltinių. Be to, vietos provincijos ir toliau 
        vykdė transsacharinę prekybą, išnaudodamos dykumų libius. Nors krašte vyko lotynizacija, vietos gyventojai išlaikė berberišką kalbą ir kultūrą. Pirmaisiais mūsų eros metais 
        kraštą pasiekė krikščionybė.</p>
    <img src="{% static 'senoves_civil/images/libija8.jpg' %}">
{% endblock %}
