{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/maurja1.gif' %}">
    <p>Maurja – imperija, apėmusi beveik visą dabartinę Indiją ir gyvavusi 322–185 m. pr. Kr. Aleksandrui Makedoniečiui nukariavus dabartinės Indijos šiaurės rytus, indams teko 
        susivienyti. Vadas Čandragupta Maurja, kurį, beje, kai kas netgi vadina Indijos Aleksandru Makedoniečiu, ne tik subūrė savo tautą, bet ir išvijo įsibrovėlius. Karo vadui 
        tuo metu buvo vos 20 m. Mirus Aleksandrui Makedoniečiui būtent imperatorius Čandragupta neleido jo įpėdiniams lįsti giliau į Indiją. Jam buvo pavaldi suvienyta indų 
        armija. Teigiama, kad tai buvo didžiausia tų laikų karinė galia visame pasaulyje.
        Maurjos imperijos žemės driekėsi į vakarus iki dabartinio Afganistano, į rytus iki Himalajų ir apėmė beveik visą Indiją, išskyrus piečiausias teritorijas. Valdant 
        Čhandraguptai labai suklestėjo prekyba su užsieniu. Vėliau, valdant jo anūkui Ašokai, imperijoje įsivyravo hinduizmas, atnešęs socialinę ir politinę taiką visoje šalyje. 
        Ašoka laikomas vienu geriausių valdovų per visą Indijos istoriją. Jam mirus 232 m. pr. Kr. imperiją apie 50 m. valdė daug silpnesni valdovai. Galiausiai Indija vėl 
        susiskaldė, nusilpo ir tapo daug atviresnė svetimšalių invazijoms.</p>
    <img src="{% static 'senoves_civil/images/maurja2.png' %}">   
    <h4>Istorija ir užkariavimai</h4>
    <p>Dinastijos pradininkas buvo Čandragupta Maurjas, kilęs iš vakarinių tuometinės Magadhos sričių. Jo kilmė nėra aiški: vieni šaltiniai jį mano turėjusį giminystės ryšių su 
        Nandų dinastija, kiti ją neigia. Pasinaudojęs Aleksandro Makedoniečio atsitraukimu į vakarus ir neramumais vakarinėse Magadhos periferijose, jis pradėjo užkariavimus, 
        kurių kulminacija buvo sostinės Pataliputros užėmimas ir Nandų dinastijos nuvertimas 322 m. pr. m. e.
        Įsitvirtinęs Magadoje, Čandragupta pradėjo karus su Seleukidų imperija ir atėmė jos istorines indų sritis Gandharą ir Kambodžą.
        Po Bindusaros valdymo į valdžią atėjo Ašoka, kuris galutinai įtvirtino Maurjų valdžią pietinėje Indijos subkontinento dalyje, taip pat numalšino sukilimus vakarinėje 
        periferijoje. Žymiausias jo karas buvo su Kalinga, nepriklausoma valstybe. Ją prijungus prie imperijos, pirmą kartą istorijoje Indija buvo labai trumpam suvienyta.
        Po Ašokos mirties 232 m. pr. m. e. Maurjų dinastija egzistavo dar 50 metų, tačiau ji beveik iš karto neteko visų savo pietinių teritorijų, kurios išsikovojo 
        nepriklausomybę. Čia vėl atsikūrė Kalinga, o likusios didžiulės sritys buvo suvienytos galingos Satavahanų imperijos. Vakarinės imperijos sritys irgi tapo vis labiau 
        nepriklausomos, kol galiausiai Magadhai teliko istorinės jos sritys, turėtos iki Nandų dinastijos užkariavimų. Jose 185 m. pr. m. e. įsitvirtino nauja – Šungų dinastija.</p>
    <img src="{% static 'senoves_civil/images/maurja3.jpg' %}">
    <h4>Kultūra</h4>  
    <p>Imperija padėjo išplisti dviem naujiems Indijos religiniams sąjūdžiams – džainizmui ir budizmui. Čandragupta globojo džainus, o žymiausias dinastijos valdovas – Ašoka – 
        išpažino Budos mokymą. Jo pastangomis budizmo religija buvo platinama visoje imperijoje, ir tai tęsėsi iki pat dinastijos pabaigos. Vėlesnė Šungų dinastija buvo 
        hinduistinė ir budizmą persekiojo.
        Imperijos laikais labai suklestėjo indų menas, mokslas.</p>
    <img src="{% static 'senoves_civil/images/maurja4.jpg' %}">
{% endblock %}
