{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/mazoji_azija1.png' %}">
    <p>Mažosios Azijos istorija – įvairių tautų ir valstybių, egzistavusių Mažosios Azijos pusiasalyje, istorija.
        Nors Mažosios Azijos pusiasalis atrodo gana vientisas, ir jau ilgą laiką sudaro vientisą valstybinį vienetą (tokį, kaip Turkija nuo XV a., Bizantijos imperija anksčiau), 
        senovėje šis pasaulio regionas buvo kultūriškai labai nevienalytis, sudarytas iš daugybės skirtingų tautų ir valstybių. Dėl tos priežasties senoji Mažosios Azijos 
        istorija – tai daugiau atskirų istorinių regionų istorija.</p>
    <img src="{% static 'senoves_civil/images/mazoji_azija2.jpg' %}">   
    <h4>Priešistorė</h4>
    <p>Mažojoje Azijoje, Kapadokijoje, žemė buvo nederlinga, jos paviršius nusėtas kalnagūbriais. Tačiau kalnuose buvo gausu rūdos, vario ir geležies, taip pat statybinio akmens 
        ir medienos. Tai skatino vystyti prekybą ir atsirasti pirmuosius prekybinius miestus. Žymiausias jų buvo Čatal Chiujukas, įkurtas jau VII tūkst. pr. m. e.
        III tūkst. pr. m. e. pabaigoje teritorijoje ypač reiškėsi asirai, kurie kolonizavo Mažąją Aziją, kūrė savo prekybinius miestus, vadinamus karum. Jų liekanų yra randama 
        rytinėje pusiasalio dalyje.</p>
    <img src="{% static 'senoves_civil/images/mazoji_azija3.jpg' %}">
    <h4>Hetitų valstybės</h4>
    <p>Mažosios Azijos istorija prasideda centrinėje jos dalyje, Kizilirmako vingyje, regione, kuris vėliau buvo vadinama Kapadokija, o seniausiais laikais vietiniai gyventojai 
        hatai jį vadino Hatti. Šį pavadinimą pasisavino ir II tūkst. pr. m. e. pradžioje čia atsikėlę indoeuropiečiai hetitai.
        Hetitai atkeliavo čia nuo Juodosios jūros rytų, asimiliavo vietinius hatus ir įsitvirtino jų miestuose. Jų sukurtoji valstybė apėmė visą Hatti regioną ir jos sostine buvo 
        Hatušas. Greta jų valstybės Mažojoje Azijoje egzistavo kitos tautos ir valstybės, kurios konkuravo su hetitais. Didžiąją dalį vakarinio ir pietinio pusiasalio buvo 
        apgyvendinę hetitams giminingi luviai. Jų sukurtos valstybės buvo Kicuvatna ir Tarhuntaša pietuose, Arcava vakaruose, Assuva šiaurės vakaruose, Luqqa pietvakariuose. 
        Kalnuotose teritorijose į rytus nuo hetitų buvo Azzi ir Hayasa (šiaurės rytuose), ir Išuva (rytuose). Į šiaurę nuo hetitų gyveno jiems giminingi palai ir lingvistiškai 
        skirtingos kaškų gentys.
        Tik XIV a. pr. m. e. hetitams pavyko pajungti daugumą (bet ne visas) šių aplinkinių valstybių ir tautų, laikinai sukuriant daugiatautę imperiją. Ši imperija buvo paremta 
        geležies gamyba, vežimo ir arklio panaudojimu, kurie suteikė hetitams karinę galią, leidusią aršiai kariauti su Egiptu ir Babilonu. Tai buvo vienas pirmųjų Mažosios Azijos 
        dalinio suvienijimo atvejų, trukęs labai trumpai, nes jau XIII a. pr. m. e. pabaigoje Hetitų imperija vėl suiro.</p>
    <img src="{% static 'senoves_civil/images/mazoji_azija4.png' %}">
    <h4>Smulkių valstybių laikotarpis</h4>
    <p>XII a. pr. m. e. hetitų imperija krito prieš asirus, taip pat prieš piratines jūrų tautas, kas nulėmė valstybės dezintegraciją. Tai sudarė sąlygas Mažojoje Azijoje vėl 
        iškilti smulkioms indoeuropietiškoms valstybėms, tokioms, kaip Likija, Kilikija, Pamfilija, Frygija, Lydija, Kapadokija. Dauguma jų susidarė senųjų regioninių valstybių 
        pagrindu.
        Pusiasalio pakrantes apgyvendino graikai, kūrę čia savo klestinčias kolonijas. Kolonizatoriai naudojosi tik pakrantėmis ir į krašto gilumą nesiveržė. Jie maišėsi su vietos 
        tautomis. Didžiausios graikų miestų sankaupos buvo Lydijos pakrantėje (Jonija ir Eolidė), Karijos pakrantėje (Doridė, Mezijos pakrantėje (Troada), Bitinijos ir Ponto 
        pakrantėje. 
        Pietinėje pusiasalio pakrantėje susiformavo Likijos, Kilikijos, Pamfilijos valstybės, atsiradusios po Hetitų imperijos suirimo. Pusiasalio vidinėje dalyje iš pradžių 
        (nuo VIII a. pr. m. e.) viešpatavo Frygija, kuri laikinai buvo užvaldžiusi didelę dalį Anatolijos, o nuo 560 m. pr. m. e. įsitvirtino Lydija, kurios karalius Krezas 
        greitai privertė visas graikų kolonijas (Joniją) paklusti jo įsakymams.</p>
    <img src="{% static 'senoves_civil/images/mazoji_azija5.jpg' %}">
    <h4>Persų ir graikų hegemonija</h4>
    <p>Nuo VI a. pr. m. e. Mažoji Azija buvo užkariauta Persijos imperijos (Achemenidų). Persai užėmė ir graikų Joniją, visame pusiasalyje įsteigė savo satrapijas ir daugiau 
        nei šimtui metų įtvirtino valdžią Mažojoje Azijoje.
        IV a. pr. m. e. Aleksandras Didysis pradėjo užkariavimus iš Makedonijos, ir užkariavo Mažąją Aziją, kuri trumpam tapo jo imperijos dalimi.</p>
    <img src="{% static 'senoves_civil/images/mazoji_azija6.jpg' %}">
    <h4>Po Aleksandro mirties</h4>
    <p>Po Aleksandro mirties 316 m. pr. m. e. Makedonijos imperija buvo padalinta tarp atskirų karvedžių dinastijų. Mažoji Azija atiteko vienam iš penkių svarbiausių – Antigonui 
        Vienaakiui, tačiau būtent ši teritorija tapo didžiausių nesutarimų šaltiniu. Tačiau po Ipso mūšio 301 m. pr. m. e. Mažoji Azija buvo padalinta tarp trijų dinastijų: 
        Lagidai užvaldo Kilikiją, Seleukidai – Kapadokiją, o Lisimachui, iki tol valdžiusiam tik Trakiją, atitenka vakarų ir šiaurės Mažoji Azija. Iki 200 m. pr. m. e. Seleukidai 
        sugeba užvaldyti visą pietinę Mažąją Aziją.
        Apie 280 m. pr. m. e. didžiuliai kataklizmai sukrečia Lisimacho imperiją. Įsiveržus galatams, Mažosios Azijos centre įkuriama Galatija, atskyla Bitinija, Paflagonija, 
        Pontas, Pergamas, todėl Lisimacho dinastija nėra pratęsiama.
        Tarp Lisimacho imperijos įpėdinių Pergamas Jonijoje ir Pontas išvysto labai aukštą helenistinę kultūrą ir tuo metu tampa graikiško meno židiniais.</p>
    <img src="{% static 'senoves_civil/images/mazoji_azija7.jpeg' %}">
    <h4>Romos imperija</h4>
    <p>Nuo II a. pr. m. e. teritorijoje pamažu įsigalėjo Romos imperija. 133 m. pr. m. e. romėnai gavo Pergamo karalystę, kur įkūrė Azijos provinciją. 74 m. pr. m. e. jiems 
        atiteko Bitinija, 65 m. pr. m. e. jie nugalėjo Seleukidus, užimdami teritorijas taip pat ir Sirijoje, o 62 m. pr. m. e. atiteko paskutinioji Mažosios Azijos 
        karalystė – Pontas.
        Tokiu būdu visa Mažoji Azija atiteko Romos imperijai ir buvo sudalinta į provincijas.</p>
    <img src="{% static 'senoves_civil/images/mazoji_azija8.jpg' %}">
    <h4>Bizantijos imperija</h4>
    <p>Bizantijos imperija yra viena iš ilgiausiai išsilaikiusių imperijų pasaulio istorijoje. Jos pavadinimas kilo nuo Bizantijaus miesto. Imperiją taip pavadino XIX a. 
        istorikai. Bizantiečiai visą laiką save vadino ir laikė romėnais. 330 m. imperatorius Konstantinas įkūrė antrąją – Bizantijos Romą, pavadindamas ją Konstantinopoliu, 
        kas reiškė ”Konstantino miestas”.
        Viduriniajame Bizantijos periode (610–1081 m.) prasideda su Heraklijaus triumfu kare su persais ir jo tolesniu pralaimėjimu arabams. Po 634 m. arabai užgrobė Palestiną, 
        Siriją ir Egiptą, taip pat prasiskverbė gilyn į Anatoliją.
        XI a. Bizantijos imperijoje prasidėjo dideli nesutarimai tarp generolų, kurie buvo stambūs žemvaldžiai ir biurokratai. Išvarginti nesutarimų imperatoriai nesugebėjo 
        atsilaikyti seldžiukams, pradėjusiems Anatolijos užkariavimą iš rytų. Seldžiukai, priklausantys tiurkų tautoms, buvo dabartinių turkų protėviai, pamažėle apgyvendinę 
        visą Mažają Aziją.</p>
    <img src="{% static 'senoves_civil/images/mazoji_azija9.jpg' %}">   
{% endblock %}
