{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/mitanija1.png' %}">
    <p>Istorinė Mitanijos karalystė ir civilizacija egzistavo XV–XIII a. pr. Kr. Ji apėmė šiandienines Sirijos, šiaurės Irako ir pietryčių Turkijos teritorijas. Manoma, kad 
        valstybės širdis buvo sostinė Vasukanis, tačiau jos tiksli vieta iki šiol nėra žinoma. Nors karalystė buvo didis, nėra rasta nė vieno mitaniečių teksto apie jų pačių 
        istoriją, tad informacijos apie juos gaunama tik iš egiptiečių, hetitų ir asirų šaltinių. Iš pradžių aplinkinėms valstybėms susirūpinimą kėlė Mitanijos konkurencija su 
        Egiptu dėl Sirijos kontrolės, tačiau vėliau tarp valstybių nusistovėjo draugiški santykiai. Beje, gali būti, kad kiekvienam besidominčiam istorija teko girdėti bent apie 
        vieną Mitanijos karalystės gyventoją. Mat kai kurie istorikai mano, kad garsioji Egipto karalienė, faraono Echnatono žmona Nafertitė buvo Mitanijos valdovo Tušratos dukra 
        princesė Tadukhipa.Gali būti, kad santuoka buvo sudaryta siekiant pagerinti santykius tarp dviejų valstybių. Ko gero, garsiausiu Mitanijos valdovu galima laikyti karalių 
        Šauštatarą, valdžiusį 1500–1450 m. pr. Kr. Manoma, kad būtent jis apiplėšė Asirijos sostinę Ašūrą ir į Vasukanį išsivežė sidabrines ir auksines karališkųjų asirų rūmų 
        duris. Valdant paskutiniam Mitanijos karaliui Tušratai sostinę užėmė hetitų karalius Supiluliumas I. Tušrata buvo nužudytas, o Mitanija tapo hetitų imperijos dalimi.
        Įdomu, kad mitaniečiai, kaip ir indai, buvo viena iš indoeuropiečių tautų, tad šioje valstybėje pastebima ryški senovės indų kultūros įtaka. Čia garbinti Vedų dievai, 
        tikėta karma, reinkarnacija, mirusieji būdavo kremuojami. Be to, imperijos valdovai netgi turėjo indiškus sanskrito vardus, o miestai – pavadinimus, nors šalis buvo taip 
        toli nuo indų žemių.</p>
    <img src="{% static 'senoves_civil/images/mitanija2.png' %}">   
    <h4>Pavadinimai</h4>
    <p>Apie Mitaniją daugiausia žinoma iš jų kaimynų – hetitų, asirų ir egiptiečių šaltinių. Mitanijos pavadinimas kildinamas iš hetitų įrašų, kur jis dantiraščiu užrašomas 
        Mi-ta-an-ni arba Mi-it-ta-ni. Egiptiečių įrašuose taip pat aptinkamas užrašymas Me-ta-ni. Tačiau dažniau Egipte šalis buvo vadinama Naharin (nhrn), pavadinimu, kildinamu 
        iš akadiško žodžio „upė“. Rytinėje kaimynėje Asirijoje ji buvo žinoma kaip Hanigalbat (Ḫa-ni-gal-bat).
        Šie pavadinimai net po valstybės išnykimo išliko kaip istorinio regiono pavadinimai.</p>
    <img src="{% static 'senoves_civil/images/mitanija3.jpg' %}">
    <h4>Ikiimperinis laikotarpis</h4>
    <p>Huritai yra žinomi aukštutinio Chabūro baseine nuo III tūkst. pr. m. e. Jie kalbėjo kalba, skirtinga nuo kaimyninių semitų ir indoeuropiečių kalbų. Jų šalis Mesopotamijoje 
        buvo žinoma kaip neapibrėžtas kraštas Subartu. Šiuo laikotarpiu jie sukūrė nemažai miestų-valstybių, tokių kaip Urkešas, Šechna, Nagara, Tell Chuera. Chabūro upe jie 
        prekiaudavo su Mariu.
        Per II tūkst. pr. m. e. huritų teritorija ne kartą ėjo iš rankų į rankas. Daugiausia juos valdė Akado imperija, Asirija, Hetitų imperija. Tik pačioje XV a. pr. m. e. 
        pradžioje nusilpo Babilonija, hetitai, o iki asirų įsitvirtinimo šiaurinėje Mesopotamijoje susidarė vakuumas, sudaręs prielaidas atsirasti vietinei imperijai. Taip huritų 
        žemėje prasidėjo politinės konsolidacijos laikotarpis, kurio metu valdė pusiau legendiniai valdovai Kirta ir Šuttarna I. Jiems priskiriamas Mitanijos sukūrimas.</p>
    <img src="{% static 'senoves_civil/images/mitanija4.jpg' %}">
    <h4>Ekspansija</h4>
    <p>Pirmasis Mitanijos valdovas, pradėjęs ekspansiją, buvo Parašatataras, Kirtos sūnus. Jis prijungė daug Sirijos miestų-valstybių, įskaitant Jamchadą, Alalachą. Tuo metu iki 
        Mitanijos iš pietų atėjo Naujosios Egipto karalystės armijos, kurios buvo svarbus iššūkis jaunai imperijai. Armijos susidūrė keliuose svarbiuose mūšiuose, po kurių 
        nusistovėjo pietinė Mitanijos siena, ties Nuhašše karalyste (Ugaritas liko Egiptui). Tuo metu Mitanija jau valdė Kizzuvatną, Alalachą, Jamchadą.
        Kitas valdovas, Šauštataras, užėmė Asirijos sostinę Ašūrą ir laikinai pavertė Asiriją savo vasale. Nors Asirijos valdovų sąrašas nenutrūko, greičiausiai jie pripažino 
        Mitanijos valdžią iki pat Ašur-Ubalito I (1365–1330). Tuo pačiu Mitanija nukariavo Tigro vidurupio valstybėles Nuzi, Arafą. Karalių Aratatama ir Šutarna laikais 
        nusistovėjo taikūs prekybiniai santykiai su Egiptu, bet intensyvėjo hetitų grėsmė, kurie rengė karo žygius į Mitanijos vakarinį pasienį.
        Valdant karaliams Artašumara ir Tušratta, Mitanija neteko daugybės savo teritorijų vakaruose, kurias nukariavo hetitų valdovas Šupiluliumas. Nors pastarasis teigė, kad 
        nusiaubė ir visą Mitaniją, paėmė jos sostinę Vašukanį, tačiau atrodo, tai buvo netiesa. Vis dėlto, Mitanijoje prasidėjo vidaus įpėdinystės krizė. Jos metu rytuose atsiskyrė 
        Asirija, kuri sustiprėjo ir užpuolė šalį. Mitanijos princas Šativaza sudarė sutartį su hetitais ir atvedė armiją, vadovaujamą Pijaššilio, į savo šalį. Hetitai pasodino jį 
        į sostą ir pavertė Mitaniją (susitraukusią iki savo branduolio teritorijų) savo vasaline karalyste.</p>
    <img src="{% static 'senoves_civil/images/mitanija5.jpeg' %}">
    <h4>Poimperinis laikotarpis</h4>
    <p>Po Mitanijos pavergimo, ją toliau valdė vietos karaliai Šattuara I, Vasašatta, Šattuara II, ir dėl šios karalystės toliau konkuravo hetitai su asirais. Mitaniai 
        pasinaudodavo tai viena, tai kita kariaujančia puse, siekdami geresnių sąlygų. Galutinai pergalę šventė Asirijos Šalmaneseras I (1270–1240 m. pr. m. e.), kuris numalšino 
        eilinį Mitanijos sukilimą, išžudė ir ištrėmė daugybę gyventojų ir galutinai pavertė Mitaniją Hanigalbato provincija.
        Provincija buvo valdoma Asirijos vietininkų gana neilgai. Apie 1200 m. pr. m. e. regioną nusiaubė mušku klajokliai, o šiek tiek vėliau – aramėjai, tuo metu įsitvirtinę 
        visoje Sirijoje. Maždaug tuo metu išnyko huritų kalba, kadangi gyventojai buvo asirizuoti ir arameizuoti.</p>
    <img src="{% static 'senoves_civil/images/mitanija6.jpg' %}">
{% endblock %}
