{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/olmekai1.jpg' %}">
    <p>Manoma, kad paslaptingoji olmekų civilizacija klestėjo Centrinėje Amerikoje, dabartinės Meksikos teritorijoje 1200–400 m. pr. Kr. Ją įprasta laikyti visų vėlesnių 
        Mezoamerikos kultūrų, tokių kaip daugumai puikiai žinomi majai ar actekai, pirmtake. Ji klestėjo Meksikos įlankoje, dabartinėse Meksikos Verakruso ir Tabasko valstijose. 
        Jos galia buvo žinoma toli į pietus, iki pat dabartinės Nikaragvos. Monumentalūs šventi kompleksai, masyvios akmens skulptūros, šokoladinis gėrimas ir dievai gyvūnai – 
        vieni pagrindinių šios pirminės ikikolumbinės civilizacijos bruožų, vėliau perduotų kitoms Centrinės Amerikos kultūroms. Manoma, kad tai netgi buvo pirmoji civilizacija 
        Vakarų pusrutulyje, sukūrusi rašto sistemą. Be to, olmekai greičiausiai išrado kompasą ir Mezoamerikos kalendorių. Tiesa, dėl archeologinių duomenų stokos olmekų etninė 
        kilmė ir tiksli daugumos jų gyvenviečių vieta bei dydis nėra žinomi. Dėl šios civilizacijos nuosmukio neretai kaltinamos gamtos išdaigos: ugnikalnių išsiveržimai ir 
        žemės drebėjimai. Kai kas mano, kad olmekų kultūra galėjo sunykti smarkiai pasikeitus klimatui, pvz., užėjus nepakeliamai sausrai. Tokia neganda tikrai galėjo smarkiai 
        pakenkti, mat teigiama, kad olmekų gerovę ir klestėjimą iš esmės lėmė sėkminga augalininkystė. Derlingose ir gerai drėkinamose Meksikos įlankos pakrančių srityse 
        augintos pupelės ir kukurūzai. Šių kultūrų derlius dažnai būdavo nuimamas net du kartus per metus.</p>
    <img src="{% static 'senoves_civil/images/olmekai2.jpg' %}">   
    <h4>Olmekai</h4>
    <p> Mezoamerikos tauta ir civilizacija, klestėjusi maždaug 1200–200 m. pr. m. e. dabartinės Meksikos pietų centrinėje dalyje (Įlankos regione). Kitos Vidurio Amerikos 
        kultūros iš jų paveldėjo plokščiaviršūnius pilkapius, kamuolio žaidimo aikštes ir hieroglifų raštą. Olmekų dirbinių rasta daugelyje vietų. Jų menas natūralistinis ir 
        simbolinis. Pagrindinis olmekų miestas - La Venta.
        Nors rasta apie 50 tekstų, kelios dešimtys milžiniškų akmeninių galvų ir rutulių, nieko tikro apie olmekų kultūrą pasakyti negalima. Žinoma, kad ji atsirado apie 
        1700 m. pr. m. e. Jos kilmė – Centrinėje Amerikoje. Paplitimas – nuo Jukatano pusiasalio šiaurės rytuose iki Brazilijos džiunglių (Amazonės selva) pietuose ir 
        pietvakariuose. Žinoma, kad „olmeca“ reiškia „žmogus iš kaučiuko šalies“. Žinoma, kad Brazilijoje dalis Amazonės upės selvos iki šiol vadinana „Olmekanu“ – 
        „Kaučiuko šalimi“. Taip pat žinoma, kad olmekai save vadino „žmonėmis-jaguarais“. Itin išvystytas jaguaro kultas. Mokslininkų spėjimu, olmekai į Jukataną grįžo 
        vėlyvajame savo civilizacijos periode. Žinoma, kad olmekai Jukatano rytinę dalį vadino „raudono ant juodo šalimi“, tai yra „rašto“ šalimi.</p>
    <img src="{% static 'senoves_civil/images/olmekai3.jpg' %}">
    <h4>Kalba ir raštas</h4>
    <p>Tikėtina, kad olmekai buvo pirmoji Vakarų pusrutulio civilizacija, naudojusi raštą. 2002 ir 2006 m. rasti simboliai datuojami atitinkamai 650 ir 900 m. pr. m. e., 
        ir yra ankstesni nei seniausi sapotekų rašmenys, datuojami apie 500 m. pr. m. e.
        San Adrese, Meksikoje, 2002 m. rastame cilindriniame antspaude vaizduojamas paukštis, iš kurio snapo sklinda rašmenys, panašūs į vėlesnius majų hieroglifus. 
        Vadinamajame Kaskachalio bloke, rastame 2006 m. rastas netoli San Lorenso, vaizduojami 62 simboliai, 28 iš kurių yra skirtingi. Daugelis garsių archeologų pavadino 
        šį radinį „seniausiais ikikolumbinės Amerikos rašmenimis“. Kiti radinį vertina skeptiškiau, motyvuodami akmens išskirtinumu, archeologinio konteksto stoka ir 
        akivaizdžiais skirtumais nuo kitų Mezoamerikos raštų.</p>
    <img src="{% static 'senoves_civil/images/olmekai4.jpg' %}">
{% endblock %}
