{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/persija1.jpg' %}">
    <p>Senovės Persija, Senovės Iranas (dar Persijos imperija, Persija) – istorinė valstybė ir civilizacija, gyvavusi dabartinio Irano, Afganistano, Azerbaidžano ir dalies 
        Pakistano, Tadžikistano, Turkmėnistano teritorijoje.
        Senovės Persijos ištakos siekia III tūkst. pr. m. e. ir sietinos su Elamo civilizacija. Senovės Persijos civilizacijos pabaiga galima laikyti krašto islamizaciją 
        VII-VIII a. Tačiau valstybė ir kraštas ir po to buvo vadinami Persija.
        Pavadinimas „Persija“ kilo iš vieno senovinių Irano regionų – Persijos, kuris graikiško vadintas – Persis, ir iš kurio kilo viena svarbiausių senovės Irano dinastijų – 
        Achemenidų dinastija. Patys Persijos gyventojai šią šalį vadino Iranu, žodžiu, kuris kilęs nuo žodžio arijas</p>
    <img src="{% static 'senoves_civil/images/persija2.png' %}">   
    <h4>Geografija ir istoriniai regionai</h4>
    <p>Senovės Persijos (arba Irano) teritorija užėmė didelę Pietvakarių Azijos ir Vidurinės Azijos dalį, beveik sutampančią su Irano kalnynu. Į vakarus nuo jo buvo istorinė 
        Mesopotamija, šiaurės vakaruose – Armėnijos kalnynas (Didžioji Armėnija), šiaurėje – Kaukazas, Kaspijos jūra ir nederlingos Turano stepės. Rytuose regionas perėjo į 
        derlingą Indo slėnį, o pietuose Iraną skalavo Indijos vandenynas, Omano įlanka ir Persijos įlanka.
        Beveik visas regionas buvo kalnuotas, pasižymėjo įvairiu reljefu, jį vagojo dykumos ir stepės. Tai nulėmė atskirų Senovės Irano kultūrinių-istorinių regionų susidarymą. 
        Šie regionai dažnai tarnavo ir kaip imperijų provincijos. Senovės Persijos regionai buvo šie:
        Elamas (Suziana) – dalis Mesopotamijos lygumos į pietvakarius nuo Zagroso kalnyno, vėlesnis Chuzistanas;
        Persija – pietinė dalis Zagroso kalnyno Irano pietvakarinėje dalyje, vėlesnis Farsas;
        Medija – Irano kalnyno šiaurės vakarinė dalis, vėlesnis Persijos Irakas;
        Hirkanija – lygumos tarp Kaspijos jūros ir Elburso kalnų, vėlesnis Tabaristanas;
        Į rytus nuo Medijos ir Persijos buvo didžiuliai dykumų ir stepių plotai, gyvenami daugiausia sagartų, kurie skyrė nuo rytinio Irano. Rytiniame Irane buvo:
        Parta – kalnuotos teritorijos Irano kalnyno šiaurėje, vėliau dalis Chorasano;
        Margiana – derlingos lygumų teritorijos į šiaurę nuo Irano kalnyno, vėliau dalis Chorasano, dab. Turkmėnija;
        Baktrija – derlingos teritorijos į šiaurę nuo Hindukušo kalnyno, vėliau dalis Chorasano, dab. šiaurės Afganistanas;
        Arija – derlingos kalnuotos teritorijos į vakarus nuo Hindukušo kalnyno, vėliau dalis Chorasano, dab. vakarų Afganistanas ir rytų Iranas;
        Arachosija – kalnuotos teritorijos į pietus nuo Hindukušo kalnyno, vėliau Zabulistanas, dab. rytų Afganistanas ir centrinis Pakistanas;
        Drangiana – žemumų teritorijos į pietus nuo Hindukušo kalnyno, vėliau Sistanas, dab. pietų Afganistanas;
        Gedrosija – kalnuotos teritorijos palei Indijos vandenyną ir Omano įlanką, vėliau Beludžistanas ir Makranas;
        Į šiaurę nuo Partos, Margianos ir Baktrijos prasidėjo Turanas – stepės ir dykumos, kuriose viešpatavo klajokliai barbarai (sakai ir skitai). Turane buvo keletas derlingų 
        regionų, priklausiusių Irano civilizacijai:
        Sogdas ir Fergana – derlingų lygumų ir oazių sankaupa, Syrdarjos vidurupyje, dab. Tadžikistano, Uzbekistano ir Kirgistano dalis,
        Chorezmas – derlingų lygumų ir oazių sankaupa, Amudarjos žemupyje, dab. Turkmėnistano šiaurė ir pietų Uzbekistanas.</p>
    <img src="{% static 'senoves_civil/images/persija3.jpg' %}">
    <h4>Elamas</h4>
    <p>Seniausia civilizacija Irano plokštikalnėje buvo Elamo, kuri klestėjo III-II tūkst. pr. m. e. Prielaidos jai atsirasti buvo poreikis prekybai tarp Mesopotamijos ir Indo 
        slėnio civilizacijos. III tūkst. pr. m. e. pradžioje per Irano plokščiakalnį nusidriekė vadinamasis lazurito kelias, kuriuo į Mesopotamiją iš šiaurės Afganistano buvo 
        gabenami brangieji akmenys.
        Iš pradžių svarbiausias miestas šioje prekyboje buvo Sūzai, tapę galutiniu lazuritų prekybos tašku vakaruose. Vėliau įsigalėjo Džirofto civilizacija centriniame Irane. 
        Atradus jūrinius kelius, žemyninė prekyba sunyko ir II tūkst. pr. m. e. Irano kalnyno civilizacija teapsiribojo palyginti nedidele teritorija plokščiakalnio pietvakarinėje 
        dalyje, kur egzistavo Elamo valstybė.
        Tuo pat metu įvairios iranėnų gentys II tūkst. pr. m. e. apsigyveno Irano plokščiakalnyje. Jos apgyvendino tinkamiausias žmonėms sritis, kurios dažnai buvo atskirtos 
        sunkiai įveikiamų kalnų ir pasižymėjo skirtingomis gyvenimo sąlygomis. Taip formavosi skirtingi Senovės Persijos regionai, įvairios iranėnų tautos bei kalbos.</p>
    <img src="{% static 'senoves_civil/images/persija4.jpg' %}">
    <h4>Ankstyvosios imperijos</h4>
    <p>Nuo I tūkst. pr. m. e. Senovės Persijos istorija dažniausiai periodizuojama dinastijomis. Jai būdinga tai, kad per visą laikotarpį buvo siekiama palaikyti vieningą 
        imperiją, kurioje viena kitą keitė dinastijos. Nusilpus vienai, ją pakeisdavo kita. Kiekviena dinastija kildavo iš skirtingo Irano regiono.
        Vienas iš senovės Persijos regionų šiaurės vakaruose buvo Medija. VII a. pr. m. e. ji sukūrė didelę imperiją, apėmusią didelę dalį senovės Irano teritorijos. Tai 
        buvo pirmoji tokio lygio imperija Irano istorijoje.
        VI a. pr. m. e. prieš medų valdžią sukilo kitas regionas – Persija (Irano pietvakariuose), kuri užgrobė valdžią imperijoje, įkūrė Achemenidų dinastiją ir praplėtė 
        imperijos teritorijas. Naujoji Persijos imperija driekėsi nuo Mažosios Azijos iki Indo upės. Ji valdė taip pat Mesopotamiją ir Egiptą.
        Žymiausi Achemenidų valdovai – Kyras (įkūręs Persijos imperiją I tūkst. pr. m. e.) ir Darijus I (imperatoriaus valdymo metu Persija išgyveno geriausią laikotarpį; 
        didieji užkariavimai I tūkst. pr. m. e.). Sostinė – Persepolis. Valstybė padalinta į autonomines provincijas (satrapijas), kurių valdovai satrapai nešė duoklę valdovui.
        V a. pr. m. e. imperiją susilpnino graikų–persų karai, o 330 m. pr. m. e. valstybę užkariavus Aleksandrui Makedoniečiui, Persija žlugo.</p>
    <img src="{% static 'senoves_civil/images/persija5.jpg' %}">
    <h4>Helenistinės dinastijos</h4>
    <p>Po Aleksandro mirties, jo galinga imperija buvo padalinta tarp jo karvedžių diadochų, tarp kurių prasidėjo įvairūs karai. Persijos likimas sprendėsi per Ipso mūšį 
        301 m. pr. m. e., kuomet didžiulės teritorijos, beveik atitinkančios Achemenidų imperijos teritorijas, atiteko Seleukui, kuris įkūrė Seleukidų dinastiją. Todėl jų 
        sukurta imperija vadinta Seleukidų imperija.
        Kadangi Imperijos sostinė ir kultūros centras buvo Sirijoje, rytinės provincijos, tarp jų ir Iranas, buvo labai blogai kontroliuojamos. Todėl čia III a. pr. m. e. 
        įsigalėjo Graikų-baktrų karalystė, kilusi iš Baktrijos regiono. Ši karalystė užėmė didelę dalį rytinės Persijos.</p>
    <img src="{% static 'senoves_civil/images/persija6.jpeg' %}">
    <h4>Persų revivalizmas</h4>
    <p>Maždaug tuo pat metu, kai klestėjo Baktrų karalystė, kitame regione, – Partoje, – kilo nauja dinastija ir valstybė. Tai buvo Aršakidai. II a. pr. m. e. jie sukūrė imperiją 
        vakarinėje Persijoje, Seleukidams palikdami tik Viduržemio jūros pajūrį. Ilgainiui Partų imperija absorbavo Baktrų valstybę, beveik atkurdama buvusias Achemenidų 
        teritorijas. Partų valdymui būdingas kultūrinis persų revivalizmas, kurio metu sugrąžintos senosios, ikihelenistinės, tradicijos, įskaitant tradicinę religiją 
        zoroastrizmą.
        Didžiausia Partų imperijos priešininkė vakaruose buvo Romos imperija, su kuria imperija kovojo iki pat 226 m.
        226 m. Partų imperijoje įvyko perversmas, ir į valdžią atėjo valdytojas iš Persijos regiono, to paties, iš kurio buvo kilę Achemenidai. Dėl tos priežasties jų sukurta 
        Sasanidų dinastija ir imperija yra vadinama Antrąja Persija. Sasanidų laikai buvo galutinis Senovės Persijos kultūros ir meno suklestėjimas prieš galutinį žlugimą 650 m. 
        užkariavus arabams.</p>
    <img src="{% static 'senoves_civil/images/persija7.jpg' %}">
{% endblock %}
