{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/roma1.png' %}">
    <p>Senovės Roma – senovės civilizacija, išsivysčiusi iš mažos žemdirbių bendruomenės, įsikūrusios Apeninų pusiasalyje X amžiuje pr. m. e. Išsidėsčiusi palei Viduržemio jūrą, 
        Senovės Roma tapo viena iš didžiausių senovės pasaulio imperijų.
        Per visą savo gyvavimo istoriją Romos civilizacijos santvarka iš monarchijos keitėsi į oligarchinę respubliką, o vėliau į autokratinę imperiją. Dėl užkariavimų ir 
        asimiliacijos ši imperija dominavo pietvakarių ir pietryčių Europoje, Balkanuose ir Viduržemio jūros regionuose.
        Nukamuota vidinio nestabilumo ir barbarų genčių puldinėjimų, penktame amžiuje vakarinė imperijos dalis, įskaitant Italiją, Romos Ispaniją, Galiją, Britaniją ir Afriką, 
        susiskaldė į nepriklausomas karalystes.
        Rytų Romos imperija, valdyta iš Konstantinopolio miesto, sudaryta iš Graikijos, Balkanų, Mažosios Azijos, Sirijos ir Egipto, išgyveno krizę. Nors prarado Siriją ir Egiptą, 
        Rytų Romos imperija gyvavo ir kitame tūkstantmetyje iki, kol paskutiniai jos likučiai buvo užimti iškilusios Osmanų imperijos. Ši rytinė, krikščioniškoji, į Viduramžius 
        įžengusi imperija istorikų dažniausiai yra vadinama Bizantijos imperija.
        Romos civilizacija yra dažnai priskiriama Antikai, kuriai taip pat priklauso ir senovės Graikija – civilizacija, įkvėpusi senovės Romos kultūrą. Senovės Roma labai daug 
        prisidėjo prie Vakarų pasaulio teisės, karo pramonės, meno, literatūros, architektūros, technologijų, religijos ir kalbos vystymosi. Senovės Romos istorija ir toliau daro 
        didelę įtaką šiandieniniam pasauliui.</p>
    <img src="{% static 'senoves_civil/images/roma2.jpg' %}">   
    <h4>Įkūrimas ir Romos karalystė</h4>
    <p>Pasak legendos, 753 m. prieš Kristų Romą įkūrė broliai dvyniai, kilę iš Trojos princo Enėjo. Romulas ir Remas buvo lotynų miesto Alba Longos karaliaus Numitoro anūkai. 
        Karalių nuo sosto nuvertė jo žiaurus brolis Amulijus, o jo duktė Rėja Silvija pagimdė. Rėja Silvija buvo vestalė, išprievartauta Dievybes Marso, tad broliai dvyniai 
        Romulas ir Remas buvo pusdieviai.
        Naujasis karalius bijojo, kad Romulas ir Remas susigrąžins sostą, todėl įsakė juos nuskandinti. Vilkė (arba, pasak kelių šaltinių, piemens žmona) išgelbėjo ir užaugino 
        juos, ir kai broliai buvo pakankamai suaugę, šie susigrąžino Alba Longos karaliaus sostą.
        Tada dvyniai įkūrė savo miestą. Tačiau susiginčiję dėl to, kam atiteks Romos karaliaus sostas, arba, pasak kelių šaltinių, dėl to, kurio iš jų vardu pavadinti miestą, 
        Romulas užmušė Remą. Taigi Romulo vardu ir buvo pavadintas Romos miestas. Kadangi, pasak legendos, mieste nebuvo moterų, lotynai pakvietė Sabinų gentį į festivalį ir 
        pagrobė netekėjusias mergeles, kas lėmė lotynų ir sabinų susiliejimą.
        Laikotarpis truko 753–510/508 pr. m. e.
        Romos miestas susiformavo pelkėtoje lygumoje, ribojamoje Kapitolijaus, Palatino ir Kvirinalo kalvomis. Kultūriškai besiformuojanti civilizacija patyrė didžiulę etruskų 
        ir senovės graikų įtaką.</p>
    <img src="{% static 'senoves_civil/images/roma3.png' %}">
    <h4>Etruskai</h4>
    <p>Apie II t-metį pr. m. e. įvairios tautos persikėlė per Alpes į Italiją. I t-metyje pr. m. e. čia apsigyveno etruskai. Jie statė namus iš akmenų ir plytų. Karių ir žynių 
        diduomenė sudarė privilegijuotą gyventojų dalį. Miestus valdė karaliai. VII a. pr. m. e. dvylika miestų sudarė laisvą Lotynų miestų sąjungą. Jos nariai švęsdavo bendras 
        religines šventes, spręsdavo tarpusavio konfliktus. IV a. pr. m. e. romėnai sąjungą likvidavo.
        Gyventojų verslai: žemdirbystė, amatai, prekyba. Etruskai prekiavo su Kartagina, Finikija, Graikija.</p>
    <img src="{% static 'senoves_civil/images/roma4.jpeg' %}">
    <h4>Respublika</h4>
    <p>Laikotarpis truko 510–27 pr. m. e.</p>
    <img src="{% static 'senoves_civil/images/roma5.jpg' %}">
    <h4>Imperija</h4>
    <p>Laikotarpis truko 30/27 pr. m. e.–476 m.
        30 m. pr. m. e. vainikuotas pirmasis imperatorius Gajus Julijus Oktavianas Augustas.
        Senovės Roma pasižymėjo karingumu ir imperialistine politika. Valdant imperatoriui Trajanui (98 – 117) valstybės plotas siekė nuo dabartinės Škotijos iki Artimųjų Rytų.
        Civilizacijos saulėlydis prasidėjo V a. Vakarinė imperijos dalis, įskaitant Ispaniją, Galiją ir Italiją suskilo į nepriklausomas karalystes. Rytų Romos imperija, valdoma 
        iš Konstantinopolio, po 476 m., kurie tradiciškai laikomi „Romos žlugimo“ metais, paprastai vadinama Bizantija.
        Paskutinis imperatorius Romulas Augustulas.</p>
    <img src="{% static 'senoves_civil/images/roma6.jpg' %}">
    <h4>Kultūra</h4>
    <p>Romos imperija stipriai paveikė ne tik savo valdomas teritorijas, bet ir aplinkines šalis. Žymiausiais romėnų poetais ir rašytojais laikomi Ciceronas ir Vergilijus. 
        Romėnai pasiekė aukštų pasiekimų architektūroje, statė didelius pastatus, akvedukus, akmeninius tiltus ir kelius. Dalis jų išlikę iki šių dienų.
        Svarbi populiariosios romėnų kultūros dalis buvo gladiatorių kautynės, kurios buvo panašios į dabartinį sportą, tačiau kautynių metu dažnai buvo kaunamasi iki mirties. 
        Tarp pramogų populiarios buvo ir žirgų traukiamų vežimų lenktynės.
        Pagrindinis piniginis vienetas buvo denarai (monetos).</p>
    <img src="{% static 'senoves_civil/images/roma7.jpg' %}">
    <h4>Romėnų teisės filosofija</h4>
    <p>Romoje didelę įtaką politikai turėjo ne filosofai, o juristai. Romėnų civilizacijos simboliu galėtų būti Antikos teisė. Romėnų teisės filosofija ne abstrakčiai svarstė, 
        kas teisinga ir kas neteisinga, šitų sąvokų prasmę, bet svarstė praktišką teisingumo įsikūnijimą, to teisingumo, kurį sukūrė iš visų to meto tautų įstatymų padarę vieną 
        universalią valstybės teisę.
        Romėnams teisė (ius) ir įstatymas (lex) nesutampa, nors tokią klasikinę teisės sampratą romėnai turėjo ne visada. Įstatymus leido komicijos.
        Lex data – teisė duota užkariautiesiems, nelabai jų atsiklausiant. Tai potvarkiai, duodami prokonsulų, prokuratorių nukariautoms tautoms, provincijoms.</p>
    <img src="{% static 'senoves_civil/images/roma8.png' %}">
    <h4>Romėnų medicina</h4>
    <p>Romos imperijoje medicina nesiskyrė nuo graikų, daugelis gydytojų naudojo tokius pat žolinius vaistus bei gydymo būdus, tačiau vis dar tikėjo dievų pagalba susirgus. 
        Romėnai turėjo nemažai gerų vaistų, gaminamų iš žolių (pankolių, šalavijų, debesylų, rozmarinų) ir kitų augalų (česnakų), be to, ypač rūpinosi higiena: nuolat prausdavosi 
        ir maudydavosi viešosiose pirtyse – termose, miestai dažniausiai būdavo švarūs ir tvarkingi. Taip pat buvo išrasta sudėtingos švaraus vandens tiekimo ir kanalizacijos 
        sistemos bei išvietės.
        Kanalizacijos sistema Romoje veikė jau VI a. pr. m. e. Vėliau nutiesti akvedukai aprūpindavo miestą geriamuoju vandeniu, visoje imperijoje įrengtos termos bei specialios 
        gimnastikos salės stabdė ligų plitimą. Susirgus buvo teikiama gana aukšto lygio pagalba senovės ligoninėse, tačiau sunkių ligų romėnai nemokėjo gydyti, todėl tie, kuriuos 
        reikėjo operuoti ar kurie sirgo infekcinėmis ligomis, paprastai mirdavo.
        Romėnai kremuodavo savo mirusiuosius. Pelenus supildavo į marmurines ar stiklines urnas, kurias laikydavo šeimos kapuose bei bendrose kapinėse.</p>
    <img src="{% static 'senoves_civil/images/roma9.png' %}">
{% endblock %}
