{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/sangai1.jpg' %}">
    <p>Šangų dinastija – pirmoji istorinė Kinijos dinastija. Tradiciškai manoma, kad ji valdė apie 1600–1046 m. pr. m. e. Šangų dinastija į valdžią atėjo po legendinės Sia 
        dinastijos, po jos ėmė valdyti Džou dinastija. Vėlyvasis Šangų laikotarpis vadinamas Inas. Tuo metu dinastijos sostinė buvo netoli dabartinio Anjango.</p>
    <img src="{% static 'senoves_civil/images/sangai2.jpg' %}">   
    <h4>Kultūra</h4>
    <p>Apie Šangą daugiausiai sužinome iš radinių: bronzos dirbinių bei būrimo kaulų. Iš Ino laikotarpio išliko rašytinių šaltinių, kuriuose randama žinių apie to meto politiką, 
        ekonomiką, kultūrą, religiją, geografiją, astronomiją, meną, mediciną.
        Aristokratija gyvendavo aptvertuose miestuose, turėjo kovos vežimus. Ją išlaikė valstietija – tai rodo, kad visuomenė buvo jau gana stratifikuota.
        Šangų astronomai atrado Marsą, įvairių kometų. Sukurta daug muzikos instrumentų.
        Svarbi Šangų laikotarpio naujovė – bronza ir gaminiai iš jos. Bronziniai indai naudoti aukojimuose. Ritualiniai indai dažnai būdavo puošti taotie kaukėmis. Vėlyvajam 
        Šangų būdingas dekoravimas simetriškomis gyvūnų figūromis.
        Šangų religija buvo šamanistinio pobūdžio. Stiprus protėvių kultas. Svarbiausi aukojimai būdavo susiję su mirusiais valdovais. Hierarchijos viršūnėje buvo 
        Šangdi – „aukščiausiasis protėvis“, su kuriuo bendrauti teisę turėjo tik valdovas. Ritualai neapsieidavo ir be kruvinų aukų. Kartu su valdovu būdavo palaidojami ir 
        šimtai jo valdinių (galbūt vergų).
        Vienas iš svarbiausių šaltinių, suteikiančių žinių apie šį periodą, yra būrimo kaulai, pirmąkart iškasti 1899 m. Toks būrimas vadinamas skapulomantija. Gyvūno kaulas, 
        dažniausiai jaučio ar beždžionės (bet niekada katės ir šuns) mentė, pakaitintas įskildavo. Šventikas įskilimus interpretuodavo kaip atsakymą į klausimą, kuris būdavo 
        prieš tai užrašomas ant to paties kaulo. Atsakymas taip pat būdavo užrašomas. Tai – seniausi turimi kinų rašto pavyzdžiai. Iki būrimo kaulus atrandant mokslininkams, 
        jie buvo pardavinėjami kaip drakonų kaulai ir naudojami vaistams.</p>
    <img src="{% static 'senoves_civil/images/sangai3.jpg' %}">
    <h4>Valdovai</h4>
    <p>Šangų dinastiją įkūrė maištininkas, nuvertęs paskutinį Sia valdovą. Pasak Shiji, Šangų sostinių buvo septynios. „In“ vadinamas paskutiniosios sostinės laikotarpis 
        (sostinė perkelta valdant Pangengui). Jis laikomas išskirtinio klestėjimo metu. Šangų dinastija valdė didelę šiaurinės Kinijos teritoriją, nuolat vykdavo karai su 
        kaimyninėmis gyvenvietėmis bei klajokliais iš Vidurinės Azijos stepių. Paskutinis In valdovas nusižudė, kai jo armiją nugalėjo Džou kariuomenė. Pasak legendų, prie 
        Džou prisijungė išdavikai iš Šangų armijos. Žlugus Inui, likę klano nariai pasikeitė pavardę iš buvusios Dzi į tą, kuria vadinosi jų žlugusi dinastija – Inas. Klanas 
        išliko ir net tarnavo naujajai Džou dinastijai.</p> 
    <img src="{% static 'senoves_civil/images/sangai4.jpeg' %}"> 
{% endblock %}
