{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/sia1.jpg' %}">
    <p>Sia dinastija – pirmoji kinų istoriografiniuose šaltiniuose aprašyta Kinijos dinastija. Nėra tvirtų įrodymų, kad Sia iš tiesų egzistavo, šaltiniuose nurodoma, kad ji 
        valdė apie 2070 – 1600 m. pr. m. e. Prieš Sia valdė legendiniai valdovai, po jos – Šangų dinastija. Istoriografijoje minimi septyniolika valdovų</p>
    <img src="{% static 'senoves_civil/images/sia2.png' %}">   
    <h4>Laikotarpio bruožai</h4>
    <p>Ilgą laiką neabejota Sia dinastijos realumu, tačiau archeologinių įrodymų nebuvo, kol 1959 m. buvo rasta bronzos amžiaus kultūra Erlitou vietovėje Henan provincijoje. 
        Dauguma kinų archeologų laiko Erlitou radinius Sia egzistavimo įrodymu, tačiau Vakarų archeologai ne visada linkę sieti juos su Sia. Bet kuriuo atveju Sia periodas 
        atspindi pereinamąją stadiją tarp vėlyvojo neolito kultūrų ir miestų civilizacijos, būdingos Šang dinastijai. Sia laikotarpiu turėjo vystytis žemdirbystė, pradėti gaminti 
        alkoholiniai gėrimai, patobulinta gyvulininkystė. Sia naudojo bronzą ginklams bei indams.
        Sia periodu šeimos ir klanai ima kontroliuoti visas gyvenimo sritis. Atsirado valdymo sistema, kurioje šiaip atlaidi civilinė valdžia už pažeidimus galėdavo skirti 
        griežtas bausmes. Atsirado ankstyvieji įstatymų kodeksai. Valdovai galbūt užsiiminėdavo šamanistine praktika.</p>
    <img src="{% static 'senoves_civil/images/sia3.jpg' %}">
    <h4>Sia dinastijos valdovai</h4>  
    <p>Pirmasis Sia valdovas buvo Ju. Iš viso buvo septyniolika valdovų per keturiolika kartų. Paskutinį valdovą Dzie nuvertė Tangas, Šangų tautos, gyvenusios rytuose, vadas.</p>
    <img src="{% static 'senoves_civil/images/sia4.jpeg' %}">
{% endblock %}
