{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/siognu1.png' %}">
    <p>Istorinė Šiongnu imperija – tai Azijos klajoklių genčių sąjunga. Tiksliai nėra žinoma, kada ji buvo įkurta, tačiau ankstyviausi kinų įrašai apie ją datuojami 
        IV–III a. pr. Kr. Imperijai priklausė dalis dabartinės Mongolijos, Kazachstano, Šiaurės Kinijos teritorijų. Bandant paaiškinti Šiongnu ištakas sukurta daugybė teorijų, 
        tačiau ją sudariusių klajoklių genčių kilmė tiksliai nėra žinoma. Manoma, kad šiongnu tauta galėjo būti hunų, vėriau įkūrusių Didžiąją hunų imperiją, protėviai. Sakoma, 
        kad kalbant apie Šiongnu imperiją visų pirma reikėtų įsivaizduoti garsiausio mongolų vado Čingischano armiją, tik tūkstantmečiu anksčiau. Tuo metu, kai Šiongnu iškilo, 
        Kinija dar buvo susiskaldžiusi į daugybę tarpusavyje kariaujančių valstybių, todėl Šiognu buvo labai lengva pulti kinus. Klajoklių antpuoliai pasiekė zenitą 
        III a. pr. Kr. Tuo metu Činų karalystės valdovas Čin Ši Huangdi, suvienijęs Kiniją ir pasiskelbęs pirmuoju jos imperatoriumi, įsakė kelias jau anksčiau šiaurėje 
        stovėjusias gynybines sienas sujungti į vieną, kad būtų išvengta šiaurės tautų brovimosi į jo valdomą teritoriją. Būtent ši siena buvo iki šiol išlikusios Didžiosios 
        kinų sienos pradžia. Vėliau, jau valdant Hanų dinastijai, atkaklūs šiongnu antpuoliai privertė kinus dar labiau stiprinti ir plėsti Didžiąją sieną. Šiongnu buvo labai 
        pavojingi – 166 m. pr. Kr. daugiau nei 100 000 jų raitininkų buvo atremti kinų kariuomenės vos 160 km nuo Kinijos sostinės.
        Galiausiai dėl vidaus nesantaikos, ginčų dėl paveldėjimo teisės ir konfliktų su kitomis klajoklių gentimis Šiongnu imperija susilpnėjo tiek, kad kinai galėjo suvaldyti 
        savo šiaurinius kaimynus. Šiongnu buvo pirmoji ir ilgiausiai gyvavusi Azijos stepių klajoklių imperija.</p>
    <img src="{% static 'senoves_civil/images/siognu2.jpg' %}">   
    <h4>Šiongnu kaganatas</h4>
    <p>Šiongnu imperija ar Šiongnu kaganatas – klajoklių šiongnu sukurta gentinė konfederacija, susiformavusi III a. pr. m. e. ir iki I a. kontroliavusi Mongolijos plynaukštę, 
        Džungariją ir dalį Žetisu istorinių regionų dab. Mongolijoje, šiaurės Kinijoje, Kazachstane.
        Tradicinėje Turkų istoriografijoje ši valstybė, vadinama Didžiąja hunų imperija (turk. Büyük Hun İmparatorluğu), yra laikoma viena (pirmąja) iš 16 istorinių tiurkų 
        imperijų.</p>
    <img src="{% static 'senoves_civil/images/siognu3.jpeg' %}">
    <h4>Istorija</h4>
    <p>Pačioje III a. pr. m. e. pabaigoje, nusilpus kaimynams, šiongnu, tuo metu apgyvendinę didžiąją dalį Mongolijos plynaukštės, vadovaujami pirmojo istorinio valdovo 
        Toumeno (arba Teomen) buvo suvienyti į bendrą imperiją, ir migravo į pietus. Buvo įtvirtinta valdovų, tituluojamų šanju, dinastija, reformuota armija.
        Toumeno sūnus Maodunis (Modu, Mete) (209–174 m. pr. m. e.) sukūrė tikrą stepių imperiją, kuri ėmė kontroliuoti didžiules teritorijas ir daugybę genčių. Jis užkariavo 
        dinglingus šiaurėje, sutriuškino donghu rytuose, galiausiai juedži vakaruose, užvaldydamas Rytų Turkestaną. Tai buvo didžiausias imperijos išsiplėtimas.
        Kinijoje įsitvirtinus Han dinastijai, pradėta ruoštis karui su šiongnu. 133 m. pr. m. e. prasidėjo ilgai trunkantys šiongnu-Kinijos karai, kurių metu Kinijai pavyko 
        nustumti šiongnu į šiaurę, užvaldyti strategiškai svarbų Gansu koridorių. Tačiau šie karai išsekino ir Kiniją, kurios kariams buvo labai sunku kovoti neįprastose 
        klimato sąlygose bei toli nuo maisto bei vandens tiekimo.
        Tuo metu Šiongnu imperija turėjo problemų ir viduje. Žlugo vienybė, atskiri vadai nebepakluso šanju valdžiai, prasidėjo įpėdinystės nesutarimai, kas silpnino šiongnu. 
        53 m. pr. m. e. šanju Huhanye pasirašė su Kinija sutartį, pagal kurią Šiongnu imperija tapo Kinijos vasale. Ji įsipareigojo mokėti metinę duoklę ir laikyti valdovo 
        įkaitus Kinijos sostinėje.
        Šanju Huduershi (18-48) laikais Kinijoje kilus neramumams, šiongnu vėl iškovojo nepriklausomybę, tačiau netrukus pietiniai šiongnu buvo tiesiogiai prijungti prie Kinijos. 
        Šiauriniai šiongnu kurį laiką (iki 89 m.) išlaikė nepriklausomybę, bet I a. pabaigoje pralaimėję šianbams ir Kinijai, pradėjo migracijas į vakarus. Spėjama, kad jie 
        pradėjo Didįjį tautų kraustymąsi ir vakaruose tapo žinomi kaip hunai.</p>
    <img src="{% static 'senoves_civil/images/siognu4.jpg' %}">
    <h4>Valstybės valdymas</h4>
    <p>Šiongnu imperija buvo valdoma valdovo, tituluojamo šanju, dar, kinišku pavyzdžiu, tituluojamo dangaus sūnumi. Jis atstovavo Luanti klanui, vienam iš penkių didžiųjų 
        šiongnu klanų. Kiti įtakingi klanai buvo Hujan, Suibu, Čiulin.
        Šanju reziduodavo Orchono aukštupyje, Longčenge (蘢城) (šiame regione vėliau mongolai pastatė Karakorumą), kuriame kasmet rinkdavosi ir visi vadai. Valdymo hierarchijoje 
        žemiau valdovo buvo du karaliai, tituluojami tuči, atstovaujantys kairę ir dešinę pusę. Dešinysis karalius rezidavo Cherleno upės aukštupyje, o kairysis – greičiausiai 
        Changajaus kalnuose.
        Kiekvienas iš dviejų karalių turėjo savo valdininkus. Pagal hierarchiją: kuli, generolus, tunghu, kutu. Žemiau stovėjo tūkstantininkai, šimtininkai, dešimtininkai, 
        kurie valdė atitinkamus armijos padalinius. Visa visuomenė buvo organizuota pagal juos. Ši sistema vėliau buvo perimta kitų Mongolijos plynaukštės tautų.</p>
    <img src="{% static 'senoves_civil/images/siognu5.png' %}">
    <h4>Valdovų sąrašas</h4>
    <p>Toumanas (kin. 頭曼單于, pinyin: tóumàn) 240–209 BC;
        Maodunis (kin. 冒頓單于, pinyin: mòudùn) 209–174 BC
        Laošangas (kin. 老上單于, pinyin: lǎoshàng) 174–161 BC
        Gunčenas (kin. 軍臣單于, pinyin: jūnchén) 161–126 BC
        Ičise (kin. 伊稚斜單于, pinyin: yīzhìxié) 126–114 BC
        Uwei (kin. 攣鞮 烏維) 114–105 BC
        Ushylu (kin. 兒單于) 105–102/101 BC
        Guilihu (kin. 攣鞮 呴犛湖) 102/101–101/100 BC
        Chedi (kin. 且鞮侯) 101/100–96 BC
        Hulugu (kin. 狐鹿姑單于, pinyin: húlùgū) 96–85 BC
        Huandi (kin. 壺衍鞮單于, pinyin: húyǎndī) 85–68 BC
        Hyuilui-Juankui (kin. 虛閭權渠單于, pinyin: xūlǘquánqú) 68–60 BC
        Uyan-Guidi (kin. 握衍朐鞮單于, pinyin: wòyǎnqúdī) 60–58 BC
        Huhanye (kin. 呼韓邪單于, pinyin: hūhánxié) 58 – 31 BC
        Fujulei (kin. 復株纍若鞮單于, pinyin: fùzhūléiruòdī) 31–20 BC
        Seuxie (kin. 搜諧若鞮單于, pinyin: Juimixui) 20–12 BC;
        Guia (kin. 車牙若鞮單于, pinyin: Juimigui) 12–8 BC;
        Uchjulu (kin. 烏珠留若鞮單于, pinyin: Nengzhiyasi) 8 BC – 13 AD;
        Ulei Hyan (kin. 烏累若鞮單于) 13–18 AD;
        Yui (kin. 呼都而尸道皋若鞮單于) 18–46 AD
        Wudadi-hou (kin. 烏達鞮侯) 46 AD
        Šiaurės šiongnu:
        Punu (kin. 蒲奴, pinyin: Punu) 46–48;
        Youliu (kin. 優留, pinyin: Youliu) ?–87;
        Šiaurės šanju (kin. 北單于, pinyin: Běi Chányú) 88–91;
        Yuchujian (kin. 於除鞬單于, pinyin: Yuchujian) 91–93;
        Feng-hou (kin. 逢侯, pinyin: Feng, a.k.a. Finghey) 94–118;</p>
    <img src="{% static 'senoves_civil/images/siognu6.jpg' %}">
{% endblock %}
