{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/sirija1.jpg' %}">
    <p>Senovės Sirija – senovinė Artimųjų Rytų civilizacija dabartinės Sirijos, Libano, Izraelio ir Jordanijos teritorijose. Susiformavusi III tūkst. pr. m. e., ji truko iki 
        krašto islamizacijos – 636 m. e. m.</p>
    <img src="{% static 'senoves_civil/images/sirija2.jpeg' %}">   
    <h4>Geografija</h4>
    <p>Senovės Sirija sudarė dalį „Derlingojo pusmėnulio“ – derlingų ir ypač žemdirbystei tinkamų teritorijų Artimuosiuose Rytuose. Šis pusmėnulis taip pat apėmė Senovės 
        Egiptą ir Mesopotamiją. Sirija užėmė vakarinę pusmėnulio dalį.
        Tai buvo siauras ilgas ruožas, išsidėstęs šiaurės-pietų kryptimi. Iš kitų Derlingojo pusmėnulio kraštų ji išsiskyrė tuo, kad turėjo vertingos medienos, išgaunamos 
        iš kedro miškų. Tai buvo viena svarbiausių Sirijos prekių. Skirtingai nei Mesopotamija ir Egiptas, civilizacijos, artimai susiję su upėmis, Sirijoje upės nevaidino 
        tokio svarbaus vaidmens. Tačiau krašto žemdirbystei svarbus buvo Eufrato aukštupis ir keletas mažesnių upių: Jordanas bei Orontas.
        Dėl ypač didelės geografinės krašto įvairovės Sirija buvo dalinama į smulkesnius regionus. Tarp jų buvo šiaurinė Sirija, Finikija, Filistija, pietinė Sirija (Palestina) 
        ir kt.</p>
    <img src="{% static 'senoves_civil/images/sirija3.png' %}"> 
    <h4>Pavadinimai</h4>
    <p>Senovės Sirijai įvardinti buvo naudojami keli skirtingos kilmės terminai, tarp kurių buvo Mesopotamiškos kilmės Amuru, egiptietiškos kilmės Rečenu ir Kanaanas. Manoma, 
        kad vietos semitai didžiąją dalį krašto vadino pastaruoju žodžiu.
        Mesopotamijos gyventojai Siriją vadino Amuru (šum.: MAR.TU; ak.: Amurru) ir šis terminas reiškė didelę teritoriją į šiaurės vakarus nuo jų. Akado gyventojai dalino 
        „išorinį pasaulį“ į keturis sektorius. Be Amurru čia dar buvo Subartu šiaurėje, Elamas vakaruose ir Šumeras pietuose. Senovės egiptiečiai tą patį regioną vadino Rečenu, 
        ir jis sudarė viena iš keturių jų įsivaizduojamo pasaulio dalių (kitos trys buvo Libija (čia gyveno libiai), Nubija (čia gyveno nubai) ir Egiptas (čia gyveno egiptiečiai)). 
        Kartais regionas buvo vadinamas Charu (Ḫȝrw) ir šis pavadinimas kildinamas nuo vienos čia gyvenusių tautų – churitų. Egiptiečiai Sirijoje išskyrė keletą dalių. Šiaurinę 
        Siriją šiauriau Oronto upės jie vadino Aukštutine Rečenu (Rtnw ḥr(y).t)), arba naudojo jai skolinį Amar. Pietinę dalį jie vadino – Džahi.
        Tik Helenizmo laikotarpyje regionui pradėtas taikyti graikiškas pavadinimas Sirija (gr. Σύρία). Šis pavadinimas kilo iškraipius ryčiau buvusios Šiaurinės Mesopotamijos 
        (Asirijos) pavadinimą. Asirais, arba sirais (gr. Σύριοι), graikai vadino daugumą Artimųjų Rytų semitų tautų, įskaitant ir Levanto pakrantę. Kadangi pačiai Asirijai 
        vėliau pradėti taikyti kiti pavadinimai, Sirijos pavadinimas ilgainiui liko apibūdinti tik Levantui.</p>
    <img src="{% static 'senoves_civil/images/sirija4.jpg' %}">
    <h4>Sirijos priešistorė</h4>
    <p>Archeologiniai duomenys apie Siriją siekia pačius seniausius istorinius laikus. Regiono teritorijos apgyvendintos jau paleolite, o nuo IX tūkst. pr. m. e. čia suklestėjo 
        vieni pirmųjų pasaulyje neolito židinių. Svarbiausios neolito kultūros buvo Halafo kultūra (šiaurinis regionas), Jarmuko bei Gasulio kultūros (Palestina). V tūkstantmetyje 
        pr. m. e. susikūrė pirmosios nuolatinės gyvenvietės, kurios jau tada jungėsi į prekybinių kelių sistemą. Vieni svarbiausių šio laikotarpio miestų buvo Tel Halafo ir Tel 
        Brako archeologinėse vietovėse.
        Apie 3500 m. pr. m. e. visoje Sirijoje prasidėjo Bronzos amžius. 4 tūkst pr. m. e. pabaigoje Siriją apgyvendino semitų gentys, kurių arealas driekėsi Tigro slėnyje iki 
        pat Kišo miesto pietuose. Jų sukurtai kultūrai taikomas terminas Kišo civilizacija. Jos kūrėjai kalbėjo rytų semitų kalba, iš kurios ilgainiui išsivystė eblaitų kalba 
        (Sirija) ir akadų kalba (Mesopotamija). Tuo laikotarpiu pajūrio rajonuose jau buvo plėtojamas žemės ūkis (auginamos vynuogės, javai), amatai (gaminamas spalvotas stiklas, 
        apdirbami metalai, statomi laivai).</p>
    <img src="{% static 'senoves_civil/images/sirija5.jpg' %}">
    <h4>Rytų semitų karalystės</h4>
    <p>Pagrindiniai straipsniai – Ebla, Maris ir Nagaras (Sirija).
        Maždaug 2500 m. pr. m. e. Sirijos miestus apjungė trys atskiros karalystės: Ebla, Maris ir Nagaras. Jos kalbėjo atskirais eblaitų kalbos dialektais, savo istoriją 
        fiksavo dantiraščiu, išpažino semitiškus dievus. Karalystės klestėjo tuo pačiu metu kaip Egipto ir Šumerų civilizacijos.
        Didžiausia iš jų buvo Eblos karalystė, kurios centras buvo Eblos miestas (išvertus reiškia „baltų akmenų miestas“). Tuometinė Sirija garsėjo mediena, kurios labai 
        trūko Artimuosiuose Rytuose, ir tekstilės dirbiniais. Tai buvo pagrindinės prekės, kurias eblaitai veždavo į Šumerą, Akadą, Egiptą. Žinomi bent šeši Eblos valdovai, 
        valdę nuo maždaug 2300 m. pr. m. e.
        Per III tūkst. pr. m. e. šiaurės rytų Sirijoje (aukštutinio Eufrato baseine) buvo dar vienas civilizacijos židinys, kur viešpatavo miestas-valstybė Maris. Jis buvo 
        svarbiausias prekybinis Eblos konkurentas. Tarp šių dviejų karalysčių, Chaburo slėnyje, buvo įsiterpusi Nagaro karalystė. Be jų, Sirijoje egzistavo ir smulkesnės 
        karalystės, tokios kaip Urkešas, Haranas ir kt. Tuo laikotarpiu Palestinoje svarbiausias miestas buvo Hazoras.
        Apie 2154 m. pr. m. e. Eblą ir Marį sugriovė Akadų imperijos valdovas Naram Sinas iš Mesopotamijos. Naram Sinas taip pat sugriovė ir Armaną, kuris kaip manoma, buvo 
        pirminis Alepo miesto pavadinimas. Šiaurinės Sirijos miestai-valstybės tapo akadų valstybės dalimi. Tai užbaigė ankstyvąjį Sirijos civilizacijos klestėjimo laikotarpį.</p>
    <img src="{% static 'senoves_civil/images/sirija6.png' %}">
    <h4>II tūkst. pr. m. e. miestai-valstybės</h4>
    <p>III tūkst. pr. m. e. pačioje pabaigoje Akado imperiją sunaikino tautų kraustymasis, kuriame dalyvavo įvairios tautos. Visame krašte įsigalėjo klajoklės semitų gentys 
        amoritai, kilę iš Mario apylinkių. Manoma, kad kraustymesi dalyvavo ir churitų gentys, kilusios iš Urkešo, kurios apgyvendino šiaurės Mesopotamiją ir kolonizavo šiaurinę 
        Siriją. Tautų invazijos galutinai baigė Šumero ir Akado viešpatavimą. Nuo tada kaimyninių kraštų šaltiniuose dabartinės Sirijos ir Libano teritorijos pradėtos vadinti 
        Amurru (t. y. Amoritų kraštas).
        II tūkst. pr. m. e. Sirijoje ir Libane susiformavo daug prekybinių semitų miestų valstybių. Svarbiausi tarp jų šiaurinėje Sirijoje buvo Ugaritas, Jamchadas (Alepas), 
        Katna, Hamatas, Kadešas, Alalachas, Karchemišas, Maris ir kt. Jau tuo metu pakrantėje susiformavo ankstyvieji finikiečių miestai Tyras, Biblas, Sidonas ir kiti. 
        Palestinoje svarbiausi miestai buvo Pela, Megidas, Jerichas, Jeruzalė, Gaza, Rabat Amonas ir kt. Visos šios karalystės klestėjo dėka pelningos prekybos su Mesopotamija 
        ir Egiptu.
        Tačiau vietos karalystės niekuomet nesusivienijo į didesnį valstybinį junginį, todėl per II tūkst. pr. m. e. jos neretai buvo priklausomos nuo stipresnių kaimynų. 
        Apie 1800 m. pr. m. e. šiaurės rytinėje Sirijos dalyje trumpam įsitvirtino asirai kartu su karaliumi Shamsi-Adad I. Apie 1600 m. pr. m. e. šiaurinę Siriją užkariavo 
        Hetitų imperija. Apie 1500 m. pr. m. e. didelę dalį senovės Sirijos valdė Mitanijos karalystė iš Chaburo slėnio. Tuo pat metu pietinę Sirijos dalį prisijungė Egipto 
        Vidurinė karalystė.
        Apie XIV a. pr. m. e. Sirijos miestai tapo buferine zona tarp Hetitų imperijos ir Naujosios Egipto karalystės, dėl kurios abi nesutarė. Mūšis prie Kadešo 
        (1274 m. pr. m. e.) dalinai išsprendė šį konfliktą tarp dviejų tuometinių galybių ir padalino Siriją į dvi politinės ir kultūrinės įtakos sferas: pietinėje dalyje 
        įsigalėjo Egiptas, o šiaurinėje – hetitai.</p>
    <img src="{% static 'senoves_civil/images/sirija7.png' %}">
    <h4>Karalystės</h4>
    <p>Apytikriai 1180–700 m. pr. m. e. laikotarpiu buvo vienas didžiausių Senovės Sirijos suklestėjimo laikotarpių. Jo pradžią žymėjo Hetitų ir Egipto imperijų žlugimas, kas 
        leido atsikurti nepriklausomoms karalystėms.
        XII a. pr. m. e. Sirijoje žymėjo naują tautų migracijų bangą. Iš rytų į regioną migravo aramėjai, kurie apgyvendino didelę dalį anksčiau Hetitų imperijai priklausiusių 
        teritorijų. Iš jūros pusės regiono pakrantes apgyvendino jūrų tautos, pirmiausia indoeuropiečiai filistinai. Iš pietų, t. y. iš Egipto, į Palestiną migravo hebrajai, 
        kurių migracija ir įsitvirtinimas yra užfiksuotas Biblijoje.
        Dabartinėje vakarų Sirijoje, kuri iki tol priklausė Hetitų imperijai, susiformavo siro-hetitų valstybėlės Karchemišas, Bit-Adini (Til Barsipas), Arpadas (Alepas), Samalis, 
        Patina, Hatarika, Hamatas. Šių valstybėlių dinastijos savo kalboms užrašyti naudojo luvių hieroglifus. Aramėjų pagrindinis miestas – Aramas buvo įkurtas į šiaurę nuo 
        dabartinio Damasko. Ilgainiui aramėjų dinastijos įsigalėjo ir siro-hetitų valstybėse. Aramėjai supaprastino finikiečių abėcėlę ir ėmė naudoti jų kalbą. Aramėjų kalba 
        tapo visų Vidurio Rytų komercine kalba bei Persų imperijos oficialia kalba. Šia kalba buvo kalbama beveik 1000 metų ir dar iki šių laikų kai kuriuose kaimuose ties 
        Sirijos-Libano siena galima išgirsti kalbant aramėjiškai.
        Tuo pačiu metu Viduržemio jūros pakrantėje (dab. Libanas) susiformavo Finikija. II tūkstantmečio pr. m. e. vis intensyvėjant prekybai Viduržemio jūroje, didesnę reikšmę 
        įgavo Sirijos ir Libano pakrantės miestai: Aradas, Beirutas, Biblas, Sidonas, Tyras ir kt. Čia gyveno finikiečiai, kurie II tūkst. pr. m. e. pabaigoje ėmė intensyviai 
        kolonizuoti Viduržemio jūros salas ir pakrantes, kurdami kolonijas ir konkuruodami su graikais. Pietiniame Sirijos pajūryje susikūrė filistinų miestai-valstybės.
        Į Siriją migravę hebrajai nukariavo vietines Palestinos tautas ir įkūrė Izraelio karalystę. X a. pr. m. e. nuo jos atskilo pietinė dalis – Judėja. Be hebrajų Palestinoje 
        viešpatavo ir kitos gentys. Į rytus nuo Jordano gyveno ir savo karalystes turėjo amonitai, moabitai ir edomitai.</p>
    <img src="{% static 'senoves_civil/images/sirija8.gif' %}">
    <h4>Priklausomybės laikotarpis</h4>
    <p>732 m. pr. m. e. finikiečių ir aramėjų valstybes nukariavo asirai, tačiau 612 m. pr. m. e. atėjo Asirijos žlugimo metas. Siriją į savo valdžią paėmė Nabuchodonosaras 
        iš Babilonijos. 538 m. pr. m. e. krašte įsitvirtino Persijos Achemenidai.</p>
    <img src="{% static 'senoves_civil/images/sirija9.jpg' %}">
    <h4>Graikų-romėnų valdymas</h4>
    <p>333-332 m. pr. m. e. Siriją į savo imperiją įtraukia Aleksandras Didysis.
        301 m. pr. m. e. po Aleksandro Didžiojo mirties Sirija atitenka generolui Seleukidui (Aleksandro Didžiojo draugui). Karalystės sostine tapo Damaskas. Į Siriją plūstelėjo 
        didelis skaičius graikų imigrantų. Graikai pastatė daug naujų miestų, taip pat kolonizavo jau esamus. Dėl Sirijos ir Graikijos kultūrų sintezės žymiai išsivystė teisė, 
        filosofija ir kiti mokslai.
        Graikų imperiją 64 m. pr. m. e. keičia romėnų imperija. Romėnai jau rado klestinčius miestus: Damaską, Tadmurą (vėliau pervadintą į Palmyrą), Busra ash Sham. Romėnai 
        įkūrė mokesčių sistemą, kuri šalyje egzistavo net iki 1945 metų, be to iki šių dienų yra išlikę ir naudojami nemažai tų laikų akvedukų, kelių bei šulinių.
        395 m. dalijantis Romėnų imperijai, imperatorius Konstantinas persikelia į Bizantiją ir pavadina ją Konstantinopoliu (dabartinis Stambulas). Iš ten buvo valdoma ir Sirija, 
        kuri buvo suskaldyta į dvi dalis: Pirmąją Siriją su sostine Antiochu ir didžiausiu miestu Alepu ir Antrąją Siriją. Antroji Sirija buvo išskirta į dvi sritis: finikiečių 
        pirmąją (didžioji dalis dabartinio Libano) su sostine Taira ir į finikiečių antrąją valdomą iš Damasko. Bizantijos valdymo metu buvo kariaujama su Persų Imperija. Sirija 
        buvo tapusi karo lauku. 611 m. persams pavyksta užkariauti Siriją ir Palestiną.</p>
    <img src="{% static 'senoves_civil/images/sirija10.jpg' %}">
{% endblock %}
