
{% extends 'senoves_civil/base.html' %}
{% load static %}

{% block content %}
    <h1>{{ title }}</h1>
    <img src="{% static 'senoves_civil/images/vedai1.jpg' %}">
    <p>Vedų civilizacija – kultūra, susiformavusi II tūkst. pr. m. e. šiaurinėje Indijos subkontinento dalyje. Jos pagrindą sudarė klajokliai arijai, atkeliavę į regioną iš 
        Vidurinės Azijos po Indo slėnio civilizacijos žlugimo. Svarbiausias kultūros paminklas ir bene vienintelis šaltinis šios kultūros tyrimams yra Vedų korpusas.</p>
    <img src="{% static 'senoves_civil/images/vedai2.jpeg' %}">   
    <h4>Arijų atėjimas į Indiją</h4>
    <p>Anot šiuolaikinėje indologijoje vyraujančios (nors ir ginčytinos) hipotezės, nuo 2000 ar 1500 m. pr. m. e. iš Vidurio Azijos į Šiaurės Vakarų Indostaną ėmė keltis 
        karingi stepių klajokliai – vad. „arijai“, arba indoarijai (indologai „postmodernistai“ pabrėžia, kad tariamas sen. indoarijų savivardis arjas Vedose vartojamas 
        vien kaip socionimas, o „arjų kalba“ pradedama minėti tik paravediniuose tekstuose). Anksčiau istorikai indoarijų atsikėlimą į Indostaną vadino invazija ir laikė tai 
        Harapos kultūros miestų žlugimo priežastimi. Tačiau dabar žinoma, kad indoiranėnų kolonizacija prasidėjo senajai civilizacijai jau sužlugus ir nebuvo tokia staigi kaip 
        manyta anksčiau. Dauguma indologų mano, kad indoeuropietišką „indoiranėnų“ kalbą ir Vedų kultūrą į Šiaurės Indostaną atnešė būtent „klajokliai arijai“. Greičiausiai jie 
        išžudė, išstūmė ir iš dalies asimiliavo hipotetinius protodravidus bei protomundus, o apie I tūkstm. pr. m. e. pabaigą pasiekę Gangos vidurupio sritį, netrukus čia sukūrė 
        naują – indoarišką civilizaciją</p>
    <img src="{% static 'senoves_civil/images/vedai3.jpg' %}"> 
    <h4>Vedų ir epų gimimas</h4>
    <p>Vad. vedinio laikotarpio indoarijų istoriją bei pasaulėžiūrą atspindi Vedų kanonas ir bei, iš dalies, abi epinės poemos – Ramajana bei Mahabharata. Jau nuo XIX a. pab., 
        pradedant Maxo Muelleriu buvo aktyviai diskutuojama dėl Vedų kanono datavimo. Skirtingi specialistai pateikia skirtingą chronologiją, tačiau linkstama Vedų formavimąvimasi 
        datuoti nuo II tūkst. vidurio iki VI a. pr. m. e. Rigveda, kaip seniausioji dalis galutinę savo formą įgijo VIII a., Samaveda, Jadžurveda ir Atharvaveda baigė formuotis 
        iki budizmo gimimo. Komentatoriškoji Vedų kanono dalis: Brahmanos, Aranjakos ir Upanišados formuojasi šiek tiek vėliau.</p>
    <img src="{% static 'senoves_civil/images/vedai4.jpeg' %}">
    <h4>Indoariškos valstybės</h4>
    <p>Iš II-I tūkstm. pr. m. e. Šiaurės Indostane gyvavusių indoarijų valstybių geriausiai žinomos Kuru, Pančala, Kambodža (senovės Indija), Gandhara, Madra, Videša, Košala, 
        Magadha, Anga, Vidarbha. Tačiau šių laikų tyrinėtojai vien puranose suskaičiuoja apie 135 sen. Indijos valdovus, kurių valdos driekėsi „nuo jūros iki jūros“, t. y. nuo 
        Arabijos jūros iki Bengalijos įlankos. Iš brahmanose ir puranose pateiktos istorinio pobūdžio informacijos matyti, kad visos vedinio laikotarpio Indijos (t. y. viso 
        Šiaurės Indostano) valdovas galėjo būti kilęs ir iš Anarthos (dab. Gudžaratas), ir iš Gandharos (dab. Pandžabas ir dalis Harjanos), ir iš *Videšos (sen. sritis tarp 
        rytinių Himalajų ir Gangos), ir iš Angos (sen. sritis į pietus nuo Gangos žemupio), ir iš Vidarbhos (sen. sritis abipus Narmados aukštupio). Pasak II a. graikų istoriko 
        Flavijaus Ariano, visų 153 iki Čandraguptos Maurjos gyvenusių Indijos imperatorių (Vedose sanskritiškas jų titulas yra samrat; M. Muellerio sekėjai šiuos imperatorius 
        linkę laikyti „II tūkstm. pr. m. e. Pandžabą infiltravusių nomadų klanų vadais“) valdymo laikotarpiai truko iš viso 6042 metus (Indica. IX). Nurodydamas šiuos skaičius 
        Arianas rėmėsi iki mūsų dienų neišlikusia Megasteno „Indika“, o Seleukidų valstybės diplomatui Megastenui tie skaičiai tapo žinomi Maurjų imperijos sostinėje Pataliputroje 
        (dab. Patna), kurioje jis viešėjo apie 302 m. pr. m. e. (įdomu, kad Maurjų imperijos „istorikai“ savosios šalies valstybingumo pradžią datavo tuo pačiu tūkstm. pr. m. e., 
        kuriuo dabar archeologai datuoja visą Šiaurės Indostaną aprėpusios Protoharapiškosios kultūros susiformavimą).</p>
    <img src="{% static 'senoves_civil/images/vedai5.jpeg' %}">
    <h4>Indoarijų religija</h4>
    <p>Būdingiausias sen. indoarijų religijos – vad. vedizmo – bruožas buvo dviejų daugeliu skirtingų vardų vadintų dievybių – Varunos ir Indros (vėlesnių Višnu ir Šivos 
        atitikmenų) garbinimas), o svarbiausias sen. indoarijų visuomeninės sanklodos bruožas – vad. varnų arba luomų (nepainioti su kastomis) sistema (varnašramadharma), t. y. 
        indoarijų visuomenės pasidalijimas į keturis luomus (dvasininkų, administratorių, verslininkų ir darbininkų,- povediniu laikotarpiu šie luomai suskilo į daugybę smulkių 
        profesinių grupių – vad. kastų arba džati).</p>
    <img src="{% static 'senoves_civil/images/vedai6.jpg' %}">
    <h4>Alternatyvios religinės-filosofinės sistemos</h4>
    <p>II-I tūkstm. pr. m. e. daugiausia Gangos vidurupio srityje formavosi naujos, su tradiciniu vediniu hinduizmu konkuravusios religinės filosofinės mokyklos, iš kurių ypač 
        paminėtinos džainizmas ateistinė adživika (lokajata) ir ne ką mažiau ateistinis (ankstyvasis) budizmas.</p>
    <img src="{% static 'senoves_civil/images/vedai7.jpg' %}">
{% endblock %}
