

body {
	background-color: #e1ffff;
	font-family: Arial;
	font-size: 18px;
	font-weight: 200;
}

p {
	width: 60%;
	height: 60%;
	text-align: left;
	margin-left: 500px;
}

h4, h1 {
	text-align: center;
}


img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	height: 20%;	
}

.nav-side {
	overflow: auto;
	font-family: Arial;
	font-size: 18px;
	font-weight: 200;
	background-color: #eff153;
	position: fixed;
	top: 0;
	width: 300px;
	height: 100%;
	color: #f52121;
	text-decoration: none;
}

.navbar {
	margin-left: 300px;
}

.icon-bar {
	height: 20px;
	width: 1950px;
	text-align: center;
}




